@media(max-width:955px) {
    #breadcrumb {margin-top:-50px;margin-left:200px;border: 1px solid #00b0ec;}

    #breadcrumbs{ line-height: 30px !important;}
}
@media(min-width:956px) {
    #breadcrumb {
        line-height: 30px;

        padding: 1px;
        border: 1px solid #00b0ec;
        margin-top: 30px;
    }
}

#breadcrumb a {
    display: block;
    float: left;
    background: #00b0ec;
    padding-right: 10px;
    height: 30px;
    margin-right: 31px;
    position: relative;
    text-decoration: none;
    color: chartreuse;
}

#breadcrumb a:last-of-type {
    margin-right: 25px;
}

#breadcrumb a:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: -30px;
    border: 15px solid transparent;
    border-color: #F0F0F0;
    border-left-color: transparent;
}

#breadcrumb a:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    right: -30px;
    border: 15px solid transparent;
    border-left-color: #00b0ec;
}

#breadcrumb a:first-of-type {
    padding-left: 15px;
}

#breadcrumb a:first-of-type:before {
    display: none;
}

#breadcrumb a:hover {
    background: #78DDFF;
    color: #fff;
    text-decoration: none;
}

#breadcrumb a:hover:before {
    border-color: #00b0ec;
    border-left-color: transparent;
}

#breadcrumb a:hover:after {
    border-left-color: #78DDFF;
}