/*

Theme Name: Nova Lite
Theme URI: https://www.themeinprogress.com/nova-free-responsive-portfolio-blogging-wordpress-theme/
Description: Nova is a responsive clean Tumblog Wordpress Theme, based on Bootstrap framework. The theme support all modern browsers like Firefox, Chrome, Safari, Opera and Internet Explorer 8, 9 and 10 and uses the most modern technologies like Html5 and Css3.
Author: Theme in Progress.
Author URI: https://www.themeinprogress.com
Version: 1.2.6
Tags: blog, custom-background, custom-colors, custom-header, custom-logo, custom-menu, featured-images, footer-widgets, post-formats, right-sidebar, sticky-post, theme-options, threaded-comments, translation-ready, one-column, two-columns, news, photography
Text Domain: novalite
Domain Path: /languages
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html

*/


html { 
	height:100%;
	min-height:100%;
}

body { 
	font-family:Roboto, 'Open Sans', 'Helvetica Neue LT Std', 'Helv Kirilica', Arial, helvetica, sans-serif;
	min-height:100%;
	height:100%;
}

/*body.custombody { 
	background:url(inc/images/background/patterns/pattern12.jpg) repeat;
}
*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* ===============================================
   TYPOGRAPHY
   =============================================== */

p, 
li, 
address, 
dd, 
blockquote, 
td, 
th,
.textwidget { 
	font-size:14px; 
	line-height:1.8em;
	font-family:Roboto, 'Open Sans', 'Helvetica Neue LT Std', 'Helv Kirilica', Arial, helvetica, sans-serif;
	font-weight: 300;
	word-wrap: break-word
}

body,
p,
li,
address,
dd,
blockquote, 
td, 
th,
.textwidget { 
	color:#616161;
}
 
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
ul,
ol { 
	margin:0.0em 0 0.0em;
}
   
h1.title,
h2.title,
h3.title,
h4.title,
h5.title,
h6.title, 
h1,
h2,
h3,
h4,
h5,
h6 { 
	font-family:Roboto, 'Open Sans', 'Helvetica Neue LT Std', 'Helv Kirilica', Arial, helvetica, sans-serif;
	margin-top: 0;  
}
   
h1 {
	font-size: 28px;
}
h2 {
	font-size: 26px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-weight: 300;
}
h5 {
	font-weight: 400;
}
h6 {
	font-size: 16px;
}

.title i {
	padding: 0;
	margin: 0 10px 0 0;
	line-height: 50%;
}

code {
	display:block;
	white-space:normal !important;
}

iframe, 
embed, 
object, 
video {
	max-width:100%;
}

footer.main h5,
footer.main h4,
footer.main h3,
footer.main h2,
footer.main h1 {
  color: #fff;
}

/* ===============================================
   ELEMENTS
   =============================================== */

a { 
	outline: none; 
	border:none;
	font-weight:300; 
	text-decoration:none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
}
a:hover,
a:focus {
	border:none;
	outline:none;
	text-decoration:underline; !important;
}
.clear { 
	clear:both;
}
.left {
	float:left;
}
.right {
	float:right;
}
::selection {
	background: #FF6600;
	color:#fff; 
}
::-moz-selection {
	background: #FF6600;
	color:#fff; 
}

.button {
	background: #FF6600;
	border: none;
	outline: none;
	padding: 12px 15px;
	color: #fff;
	margin: 35px 0 -10px 0;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	font-family: Roboto, 'Open Sans', 'Helvetica Neue LT Std', 'Helv Kirilica', Arial, helvetica, sans-serif;
	font-size: 16px;
	text-align: left;
	position: relative;
	display: inline-block;
}

.button:hover {
	text-decoration:none;
	border:none;
	outline:none;
	background:#D95700;
	color:#fff;
}

#masonry .button {
	margin-top:5px;
}

a.btn {
	font-family:Roboto, 'Open Sans', 'Helvetica Neue LT Std', 'Helv Kirilica', Arial, helvetica, sans-serif;
	margin-right:5px;
	border:none;
}

.alert,
.btn {
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 5px !important;
}

.sticky {
}

.gallery-caption {
}

.bypostauthor {
}

/* ===============================================
   SECTIONS
   =============================================== */

#wrapper {
	position: relative;
	min-height:100%;
}

#bottom_area { 
	width:100%;
	position:absolute;
	bottom:0;
}

/* ===============================================
   START HEADER
   =============================================== */

#header { 
	position:relative;
	text-align:center;
	margin:0 0 50px 0;
	/*padding:15px 0;
	min-height:120px;*/
	background:rgba(0, 0, 0, 0) linear-gradient(#666666, black) repeat scroll 0 0;; 
	/*border-bottom:solid 1px #333333;*/
}

#subheader {
	width:100%; 
	background:#ffffff; 
	color:#000000;
	position:relative;
	margin-top:-50px;
	margin-bottom:50px;
	
}

#subheader p,
#subheader h1 {
	color:#000000;
	font-size:32px;
	font-family:Roboto, 'Open Sans', 'Helvetica Neue LT Std', 'Helv Kirilica', Arial, helvetica, sans-serif;
	font-weight:300;
}

#subheader p a,
#subheader h1 a {
	color:#000000;
}

header.main { background-color:white;  }
    header.main a { color:#333 }
/*.my-search-area { border-top:1px solid #eee; padding:0px 0 0 0; webkit-box-shadow: 0 3px 1px rgba(0,0,0,0.1);
    box-shadow: 0 3px 1px rgba(0,0,0,0.1); }
.search-area { box-shadow:none; webkit-box-shadow:none; }
*/
.pt10 { padding-top:10px; }

/* ================= LOGO ================= */

#logo { 
	position:relative; 
	display:block;
	padding:0; 
	text-align:left;
	margin: 45px 0;
	word-wrap: break-word;
} 
#logo a { 
	font-family:Roboto, 'Open Sans', 'Helvetica Neue LT Std', 'Helv Kirilica', Arial, helvetica, sans-serif;
	font-size:55px; 
	color:#fff ; 
	text-decoration:none; 
	text-align:left;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
} 
#logo a:hover { 
	text-decoration:none;
	color:#FF6600;
	border-bottom:none;
}

#logo a img{
	margin-top:-15px;
} 

/* ================= MAIN MENU ================= */

nav#mainmenu { 
	padding:0; 
	text-align:right;
	position:relative; 
	min-height:120px;
	word-wrap: break-word;
}

nav#mainmenu ul { 
	list-style:none; 
	margin:0; 
	display:inline-block;
	position:relative;
	width:100%;	
}

nav#mainmenu ul li {
	display:inline-block;
	position:relative; 
	text-align:left;
	padding:0;
	margin-bottom:-5px;
	word-wrap: break-word;
	width:auto;
	max-width:100%;
}


nav#mainmenu ul li a { 
	text-decoration:none; 
	display:block; 
	font-family:Roboto, 'Open Sans', 'Helvetica Neue LT Std', 'Helv Kirilica', Arial, helvetica, sans-serif;
	padding:50px 0 50px 30px;
	color:#fff; 
	font-size:14px; 
	-webkit-transition: all .3s linear; 
	-moz-transition: all .3s linear; 
	-o-transition: all .3s linear; 
	position:relative;
	text-transform:uppercase;	
}

nav#mainmenu ul li a:hover,
nav#mainmenu li:hover > a,
nav#mainmenu ul li.current-menu-item > a, 
nav#mainmenu ul li.current_page_item > a, 
nav#mainmenu ul li.current-menu-parent > a, 
nav#mainmenu ul li.current_page_ancestor > a, 
nav#mainmenu ul li.current-menu-ancestor > a { 
	color:#FF6600;
}

nav#mainmenu .sf-sub-indicator { 
	padding:0 0 0 10px; 
	float:right; 
	font-size:10px;
}

nav#mainmenu ul ul { 
	display:none; 
	position: absolute; 
	top:120px; 
	left:0; 
	background:#262626 ; 
	z-index:1000;
	width:100%;
	z-index:1000;
	margin-top:0;
	min-width:211px;
	border-top:solid 1px #262626;
	border-left:solid 1px #333333;
	border-right:solid 1px #333333;
	border-bottom:solid 1px #333333;
}

nav#mainmenu ul ul li { 
	position:relative; 
	margin:0;
	line-height:1em;
	text-transform:none;
	width:100%;
	min-width:211px;
	min-height: inherit;
}
nav#mainmenu ul ul li a{ 
	text-decoration:none; 
	text-align:left; 
	display:block; 
	border-bottom:solid 1px #333333;
	height:14px;
	padding:15px;
	margin:0;
	font-family:Roboto, 'Open Sans', 'Helvetica Neue LT Std', 'Helv Kirilica', Arial, helvetica, sans-serif; 
	text-transform:inherit; 
	text-shadow:inherit; 
	color:#fff; 
	line-height:1.8em;
	min-height: inherit;
	height:auto;
}
nav#mainmenu ul ul li:last-of-type a {
	border-bottom:none;
}

nav#mainmenu ul ul li ul { 
	top:-3px; 
	left:192px; 
}

nav#mainmenu ul ul li ul:before {
	display:none;
}

/* ================= MOBILE MENU ================= */

.tinynav,
.select-menu {
	display:none;
	visibility:hidden;
}

/* ===============================================
   BOTTOM, FOOTER AND SIDEBARS
   =============================================== */

.bottom_widget { 
	background:#262626;
	border-top:solid 1px #333333;
}

.bottom_socials { 
	background:#212121;
	padding: 25px 0;
	border-top:solid 1px #333333;
}

.bottom_widget .widget-box {
	padding:30px 0 50px 0;
}

#footer {
	position:relative; 
	background:#1F1F1F none repeat scroll 0 0;
	/*color:#333;*/
	border-top:solid 3px #f60;
}

.za-firmi {background-color: White; padding:10px 30px 10px 30px; color:white; text-align:center; font-size:17px; color:#333; }



.bottom ul, 
#footer ul, 
#sidebar ul { 
	list-style:none;
	font-weight: 300;
	color:#fafafa;
}

.bottom h3.title { 
	margin: 0;
	padding: 0 0 20px 0;
}

.bottom .textwidget, 
#footer .textwidget{ 
	font-size:12px;
	line-height:1.8em;
}

.bottom a,
.bottom p,
.bottom li,
.bottom address,
.bottom dd,
.bottom blockquote,
.bottom td,
.bottom th,
.bottom .textwidget, 
#footer a,
#footer p,
#footer li,
#footer address,
#footer dd,
#footer blockquote,
#footer td,
#footer th,
#footer .textwidget { 
	font-size:14px; 
	line-height:1.9em;
	font-family:Roboto, 'Open Sans', 'Helvetica Neue LT Std', 'Helv Kirilica', Arial, helvetica, sans-serif;
	font-weight: 300;
}

.bottom_widget a,
.bottom_widget h3,
.bottom_widget label,
.bottom_widget caption,
.bottom_widget p,
.bottom_widget li,
.bottom_widget address,
.bottom_widget dd,
.bottom_widget blockquote,
.bottom_widget td,
.bottom_widget th,
.bottom_widget .textwidget, 
#footer a,
#footer p,
#footer li,
#footer address,
#footer dd,
#footer blockquote,
#footer td,
#footer th,
#footer .textwidget { 
	color:#fff ;
	font-size:13px ; 
}

 
.bottom a:hover , 
#footer a:hover { 
	color:#fff;
	text-decoration:underline;

}

.bottom select, 
.bottom textarea,
.bottom input[type="text"],
.bottom input[type="password"],
.bottom input[type="datetime"], 
.bottom input[type="datetime-local"], 
.bottom input[type="date"],
.bottom input[type="month"],
.bottom input[type="time"],
.bottom input[type="week"],
.bottom input[type="number"],
.bottom input[type="email"],
.bottom input[type="url"],
.bottom input[type="search"],
.bottom input[type="tel"],
.bottom input[type="color"],
.bottom .uneditable-input ,
#footer select, 
#footer textarea,
/*
#footer input[type="text"],
*/
#footer input[type="password"],
#footer input[type="datetime"], 
#footer input[type="datetime-local"], 
#footer input[type="date"],
#footer input[type="month"],
#footer input[type="time"],
#footer input[type="week"],
#footer input[type="number"],
#footer input[type="email"],
#footer input[type="url"],
#footer input[type="search"],
#footer input[type="tel"],
#footer input[type="color"],
#footer .uneditable-input {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	width:96%;
	padding: 5px 2%;
}

#footer .title,
#footer p,
#footer li,
#footer address,
#footer dd,
#footer blockquote,
#footer td,
#footer th,
#footer .textwidget { 
	color:#fff;
}

#footer .copyright {
	line-height:15px;
	padding:50px 0 25px 0;
	text-align:left;
}

#back-to-top {
	position:fixed; 
	opacity: 0.8; 
	filter: alpha(opacity=80);
	bottom:0;
	right:50%;
	margin-right:-30px;
	display:none;
}

#back-to-top a{
	padding: 10px;
	display: block;
	background: #262626;
	border: solid 1px #333;
	border-bottom: none;
	width: 47px;
	height: 36px;
	text-align: center;
	line-height: 15px;
}

#back-to-top i {
	color:#fff;
}

#back-to-top a:hover {
	background:#FF6600;
	border-color:#FF6600;
	text-decoration:none;
}

footer.main {
  background: #1a1a1a;
  border-top: 3px solid #FF6600;
}
footer.main h5,
footer.main h4,
footer.main h3,
footer.main h2,
footer.main h1 {
  color: #f2f2f2;
}
footer.main p,
footer.main a {
  font-size: 13px; 
  line-height: 1.4em;
}
footer.main p {
  margin-bottom: 0;
  color: #999 !important;
}
footer.main .footer-top-area {
  padding-top: 30px;
  background: #1f1f1f;
}
footer.main .footer-copyright {
  padding: 10px 0;
  background: #000;
  color: #fff;
}

footer.main .footer-copyright { border-radius:0px !important; }

body.boxed footer.main .footer-copyright {
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

footer.main .post-list .post-thumb {
  border-color: #141414;
}
footer.main a:hover {
  text-decoration: underline;
}
footer.main .thumb-list > li {
  border-color: #000;
}
footer.main .thumb-list > li .thumb-list-item-caption .thumb-list-item-meta {
  color: #e6e6e6;
}
footer.main .thumb-list > li .thumb-list-item-caption .thumb-list-item-desciption {
  color: #ccc;
}
footer.main .list-payment {
  margin-bottom: 0;
}
footer.main .list-payment > li > img {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  width: 40px;
}
footer.main .list-payment > li:hover > img {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
header.main a,
footer.main a {
  color: #fff;
}

.big-orange { font-size:18px; color:#ff6200 }

.orange { color:#f60 !important; font-size:18px !important; font-weight:bold !important;}

.list.list-social {
  overflow: hidden;
  margin: 10px 0;
}
.list.list-social li {
  float: left;
  margin-right: 12px;
}
.list.list-social li .box-icon {
  font-size: 12px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.list.list-social li .box-icon:hover {
  text-decoration: none;
}
.list.list-social li:last-child {
  margin-right: 0;
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.list-space > li {
  margin-bottom: 7px;
}
.list-space > li:last-child {
  margin-bottom: 0;
}
.icon-size {width:28px !important; }

.slikicki { background-color: White; padding:5px 10px 5px 10px !important; font-size:14px; font-weight:bold !important; color:#333 !important; border-left:10px solid  #53a318;  }
    .slikicki:hover { color:white; border-left:10px solid #f60}

.btn-block {
  display: block;
  width: 100%;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}
.btn-block + .btn-block {
  margin-left: 0;
}
.box {
  background: #fff;
  padding: 15px 20px;
  -webkit-box-shadow: 0 2px 1px rgba(0,0,0,0.2);
  box-shadow: 0 2px 1px rgba(0,0,0,0.2);
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* ================= SIDE SIDEBAR ================= */

#sidebar {
	margin-bottom:50px;
}

.content .left-sidebar {
	float:right;
}
.content .right-sidebar {
	float:left;
}

#sidebar.left-sidebar {
	float:right;
}
#sidebar.right-sidebar {
	float:left;
}

#blog .pin-article.span8,
#blog .span8.left-sidebar,
#blog .span8.right-sidebar  {
	margin-bottom:25px;
}

#blog .pin-article.span8:last-of-type,
#blog .span8.left-sidebar:last-of-type,
#blog .span8.right-sidebar:last-of-type  {
	margin-bottom:0;
}

#sidebar h3.title { 
	padding: 0;
	margin: 0 0 20px 0;
	position:relative;
	line-height:inherit;
}

#sidebar p,
#sidebar li,
#sidebar address,
#sidebar dd,
#sidebar blockquote,
#sidebar td,
#sidebar th,
#sidebar .textwidget { 
	font-size:14px; 
	line-height:1.9em;
	font-family:Roboto, 'Open Sans', 'Helvetica Neue LT Std', 'Helv Kirilica', Arial, helvetica, sans-serif;
	font-weight: 300;
	color:#616161;
}

#sidebar a {
	color:#616161;
	font-weight: bold;
}


/* ===============================================
   CONTENT
   =============================================== */

.pin-article { 
	background:#fff; 
	margin-bottom:50px;
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	word-wrap: break-word
}

.head_widget .pin-article .article,
#sidebar .pin-article .article{
	padding:25px;
}

#sidebar .pin-article {
	margin-bottom:25px;
}

#sidebar .pin-article:last-of-type{
	margin-bottom:0;
}

.embed-container,
.pin-container {
	overflow: hidden; 
	position: relative;
	height:auto;
	max-height:100%;
}

.embed-container  {
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}

.embed-container iframe, 
.embed-container object, 
.embed-container embed,
.embed-container video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border:none;
}

.pin-article h1.title {
	font-style: 300;
	line-height:1.2em;
	position:relative;
	color:#FF6600;
	margin:0 0 25px 0;
}

.span12.pin-article h1.title {
	font-size:38px;
}

.pin-article h3.title a {
	color:#FF6600;
}
.pin-article h3.title a:hover {
	color:#FF6600;
}

.pin-article .attachment p { 
	text-align:center;
}
.pin-article .attachment .entry-info { 
	width:120px;
}
.pin-article .attachment .entry-info .entry-date { 
	margin:auto;
}

.pin-article .article { 
	padding:50px;
}

.span8 article.article, 
.span6 article.article, 
.span4 article.article, 
.span3 article.article { 
	padding:25px;
}

#blog {
	margin-bottom:50px;
	padding:0 !important;
}

#blog .pin-article.span4,
#blog .pin-article.span6 {
	margin-bottom:25px;
}

#blog .pin-article:last-child {
	margin-bottom:0;
}

.pin-article .wp-post-image {
	z-index:999;
}

.pin-article.span4 .line {
	margin:30px 0 20px 0;
}

.pin-article .separator:after {
	background:url(inc/images/separator.png) repeat;
	width:100%;
	height:5px;
	content: '';
	display: inline-block;
	margin:0;
}

.pin-article .container-fluid {
	padding:0;
	margin: 0 0 45px 0;
}
.pin-article .container-fluid:last-child {
	padding:0;
	margin: 0;
}

.article-header {
	font-family: Roboto, 'Open Sans', 'Helvetica Neue LT Std', 'Helv Kirilica', Arial, helvetica, sans-serif;
	margin:0 0 20px 0; 
	color:#000; 
	font-size:13px; 
	position:relative;
	text-align:center;
}

article blockquote { 
	border-left: 4px solid #FF6600; 
	padding:0 35px; 
	position:relative; 
	margin-left:0px;
}

article blockquote p { 
	text-align:left; 
	line-height:1.6em; 	
	font-family: Roboto, 'Open Sans', 'Helvetica Neue LT Std', 'Helv Kirilica', Arial, helvetica, sans-serif; 
	font-size:15px;
}

.entry-info ul { 
	display:inline; 
	list-style:none;
}
.entry-info li { 
	display:inline;
}
.entry-info a { 
	display:inline;
	color:#616161;
}
.entry-info a:hover { 
	color:#FF6600;
}

.tags { 
	background:#fff;
	padding:0 15px;
}

.tags a { 
	font-weight:300;
}
#sidebar .line { 
	margin:20px 0;
}

.post-date {
	color:#616161; 
	text-align:right;
}
.day { 
	font-size:14px; 
	line-height:1.1em;
}
.archive { 
	margin:0;
}
.span4 .line {
	width:auto;
	background:none;
	margin:inherit;
}
.span4 .line:before {
	display:none;
}
.span4 .line .tags {
	padding:0;
}
.span4 .entry-info {
	padding:0;
}

.span4 .entry-info .entry-date, 
.span4 .entry-info .entry-comments,
.span4 .entry-info .entry-audio, 
.span4 .entry-info .entry-video,
.span4 .entry-info .entry-standard,
.span4 .entry-info .entry-gallery {
	display:block;
	text-align:left;
	width:inherit;
	padding:inherit;
	margin:5px auto;
}

.span4 .sep  {
	display:none;
}

/* ===============================================
   COMMENTS
   =============================================== */
   
.commentlist { 
	list-style:none;
	line-height:1px; 
	margin:0;
}

.commentlist ul { 
	list-style:none; 
	padding:0; 
	margin:0;
}
.comment-container { 
	margin:0 0 45px 0; 
	padding:25px 15px; 
	font-family:Roboto, 'Open Sans', 'Helvetica Neue LT Std', 'Helv Kirilica', Arial, helvetica, sans-serif;
	font-size:12px; 
	position: relative; 
	background:#fff;
	border:solid 1px #ddd;
}

#sidebar .comment-container {
	margin-bottom:15px;
}

.comment-avatar img { 
	padding:4px; 
	border:solid 1px #ddd; 
	float:left; 
}
.comment-text {
	position:relative; 
	margin-left:110px;
	border-left:solid 1px #ddd;
	padding:0 0 0 15px
}

.comment-text p {
	font-size:14px !important
}

.comment-container .comment-date { 
	padding:10px 0;
}
.comment-avatar { 
	position:relative; 
	width:110px; 
	float:left;
}

.comment-author .author { 
	font-family: Roboto, 'Open Sans', 'Helvetica Neue LT Std', 'Helv Kirilica', Arial, helvetica, sans-serif; 
	font-size:18px; 
	display:block; 
	font-weight:bold;
}

.children li {
	margin-left:110px;
}
.comment-notes { 
	font-size:12px; 
	margin:-30px 0 25px 0;
}

h3#reply-title, 
h3.comments { 
	font-family:Roboto, 'Open Sans', 'Helvetica Neue LT Std', 'Helv Kirilica', Arial, helvetica, sans-serif;
	font-weight: 300;
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0 0 5px 45px;
	height:45px;
	line-height:45px;
	background:url('inc/images/icons/comment.png') no-repeat center left; 
	margin:45px 0;
}

h3#reply-title small, 
.logged-in-as { 
	font-family: Roboto, 'Open Sans', 'Helvetica Neue LT Std', 'Helv Kirilica', Arial, helvetica, sans-serif;
	font-weight: 300;
	font-size: 14px !important;
	font-weight: bold;
	margin:-20px 0 40px 0;
}

.form-allowed-tags { 
	font-size: 14px !important;
}

/* ===============================================
   COMMENT, SEARCH AND CONTACT FORM
   =============================================== */

.contact-form form,
#searchform {
	margin:0 !important;
}

#searchform input[type=text], 
#searchform textarea,
.contact-form input[type=text], 
.contact-form textarea,
.comment-form input[type=text], 
.comment-form textarea {
	/*padding: 15px 2%;*/
	background:#fafafa;
	width: 95%; 
	margin:0 0 15px 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border:none;
	font-family: Roboto, 'Open Sans', 'Helvetica Neue LT Std', 'Helv Kirilica', Arial, helvetica, sans-serif;
}

#searchform input[type=text], 
.contact-form input[type=text], 
.comment-form input[type=text] 
{
	height: 30px;
}

#searchform input[type=submit],
.contact-form input[type=submit],
.comment-form input[type=submit] {
	background:#FF6600;
	border:none;
	outline:none;
	padding: 12px 15px;
	color:#fff;
	margin:25px 0 -20px 0;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease; 
	-o-transition: all .3s ease;
	font-family: Roboto, 'Open Sans', 'Helvetica Neue LT Std', 'Helv Kirilica', Arial, helvetica, sans-serif;
	font-size:16px;
	text-align:center;
	position:relative;
	display: block;
	border-radius: 4px;
}

.span12 #searchform input[type=submit],
.span12 .contact-form input[type=submit],
.span12 .comment-form input[type=submit] {
	margin:45px 0 -20px 0;
}

#searchform input[type=submit] {
	padding: 15px 2%;
}

.contact-form input[type=submit] {
	margin-top:0;
}

#searchform input[type=submit]:hover,
.contact-form input[type=submit]:hover,
.comment-form input[type=submit]:hover {
	background:#CC5200;
	color:#fff;
	text-decoration:none;
	border-radius: 4px;
}

.searchform {
	margin:15px 0 0 0;
}

#searchform #searchsubmit {
	width: 15%;
	margin:0;
	padding: 10px 1%;
	display:inline-block;
}

#searchform input[type=text] { 
	width: 80%;
	margin:0;
	padding: 10px 2%;
	display:inline-block;
}

.span6 #searchform #searchsubmit,
.span4 #searchform #searchsubmit,
.span3 #searchform #searchsubmit {
	width:30%;
}

.span6 #searchform input[type=text] {
	width:65%;
}
.span4 #searchform input[type=text],
.span3 #searchform input[type=text] {
	width:64%;
}


#searchform .input-search:hover, 
#searchform .input-search:active, 
#searchform .input-search:focus {
    outline:0px !important;
	-webkit-appearance:none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

#searchform .input-search:hover, 
#searchform .input-search:active, 
#searchform .input-search:focus {
    outline:0px !important;
	-webkit-appearance:none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
.logged-in-as a, 
#comments a {
	color:#616161;
}

span.messaggeok {
	font-weight:bold;
}

span.error {
	display:none;
	color:#FF0000;
	font-family: Roboto, 'Open Sans', 'Helvetica Neue LT Std', 'Helv Kirilica', Arial, helvetica, sans-serif;
	margin-bottom:10px;
	font-weight:bold;
}

.entry-tags { 
	font-family: Roboto, 'Open Sans', 'Helvetica Neue LT Std', 'Helv Kirilica', Arial, helvetica, sans-serif;
	font-size:14px; 
	border-bottom:solid 1px #ddd; 
	border-top:solid 1px #ddd; 
	position:relative; 
	font-weight:bold;
}
.entry-tags span { 
	font-weight:300;
}
.line {
	position:relative;
	z-index: 998;
	display:block;
	margin:25px 0;
	text-align:left;
	min-height:11px
}

footer.line {
	margin:40px 0 0 0;
}

.entry-info i {
	margin: 0 10px;
	font-size:14px;
	line-height:21px
}

.entry-info .entry-date i {
	margin: 0 10px 0 0;
}

.entry-info {
	font-family:Roboto, 'Open Sans', 'Helvetica Neue LT Std', 'Helv Kirilica', Arial, helvetica, sans-serif;
	color:#919191;
	display:inline;
	font-size:14px;
}
.entry-info a {
	color:#919191;
}

.entry-info .entry-date,
.entry-info .entry-comments,
.entry-info .entry-audio,
.entry-info .entry-video,
.entry-info .entry-standard,
.entry-info .entry-gallery { 
	width:90px; 
	display:inline;
}


/* ===============================================
   IMAGE STYLE
   =============================================== */

img.size-auto, 
img.size-full, 
img.size-large, 
img.size-medium, 
.attachment img {
	max-width:100%; 
	height:auto;
}
.alignleft,
img.alignleft {
	display:inline;
	float:left;
	margin-right:24px;
	margin-top:4px;
}
.alignright, 
img.alignright {
	display:inline;
	float:right;
	margin-left:24px;
	margin-top:4px;
}
div.aligncenter, 
img.aligncenter {
	display: block; 
	margin-left: auto !important; 
	margin-right: auto !important; 
	float:none;
}
img.alignleft, 
img.alignright, 
img.aligncenter {
	margin-bottom:12px;
}
.wp-caption {
	background:#f1f1f1;
	line-height:18px;
	margin-bottom:20px;
	max-width:558px !important; 
	padding:4px;
	text-align:center;
}
.wp-caption img {
	margin:5px 5px 0;
	width:98%;
}
.wp-caption p.wp-caption-text {
	color:#888;
	font-size:12px;
	margin:5px;
}
.wp-smiley {
	margin:0;
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

.vrab { padding-bottom:10px; border-bottom:1px solid #ff6200 }

/* ===============================================
   WORDPRESS GALLERY SHORTCODE
   =============================================== */

.gallery {
	margin:15px auto;
}

.gallery .gallery-item {
	float:left;
	margin:0 10px 15px 0;
	text-align:center;
	position:relative;
	outline: 1px solid #ddd;
	border: 4px solid #fff;
	background: #fff;
	overflow:hidden;
}

.gallery-item .gallery-caption {
	background-color: rgba(0, 0, 0, 0.7);
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	color: #fff;
	font-size: 12px;
	line-height: 1.5;
	margin: 0;
	max-height: 50%;
	padding: 6px 0;
	bottom:0;
	position: absolute;
	text-align: center;
	width: 100%;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
}

.gallery-item:hover .gallery-caption {
	opacity: 1;
	filter: alpha(opacity=0);
}

.gallery-columns-1 .gallery-item {
	max-width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 48%;
	max-width: -webkit-calc(50% - 4px);
	max-width:         calc(50% - 4px);
}

.gallery-columns-3 .gallery-item {
	max-width: 32%;
	max-width: -webkit-calc(33.3% - 4px);
	max-width:         calc(33.3% - 4px);
}

.gallery-columns-4 .gallery-item {
	max-width: 23%;
	max-width: -webkit-calc(25% - 4px);
	max-width:         calc(25% - 4px);
}

.gallery-columns-5 .gallery-item {
	max-width: 19%;
	max-width: -webkit-calc(20% - 4px);
	max-width:         calc(20% - 4px);
}

.gallery-columns-6 .gallery-item {
	max-width: 15%;
	max-width: -webkit-calc(16.7% - 4px);
	max-width:         calc(16.7% - 4px);
}

.gallery-columns-7 .gallery-item {
	max-width: 13%;
	max-width: -webkit-calc(14.28% - 4px);
	max-width:         calc(14.28% - 4px);
}

.gallery-columns-8 .gallery-item {
	max-width: 11%;
	max-width: -webkit-calc(12.5% - 4px);
	max-width:         calc(12.5% - 4px);
}

.gallery-columns-9 .gallery-item {
	max-width: 9%;
	max-width: -webkit-calc(11.1% - 4px);
	max-width:         calc(11.1% - 4px);
}

.gallery dl {
	margin:0;
}

.gallery br+br {
	display:none;
}

.gallery a {
	border-bottom:none;
}

.attachment img{
	display:block;
	margin:0 auto;
}    
p.list-tags {
	line-height:25px;
	margin-top:20px;
	border-top:1px solid #dcdbdb;
	padding:10px 0 10px 36px;
	background:url('inc/images/icons/article.png') left 15px no-repeat;
}

article .overlay-image { 
	position:relative; 
	overflow:hidden;
}

.overlay-image .overlay{ 
	opacity: 0; 
	filter: alpha(opacity=0);
	border:none;
}

.overlay-image .zoom { 
	background: #000 url(inc/images/icons/zoom.png) no-repeat center; 
	position:absolute; 
	top:5px; 
	left:5px; 
	-webkit-transition: none; 
	-moz-transition: none; 
	-o-transition: none;
}

.overlay-image .link { 
	background: #000 url(inc/images/icons/link.png) no-repeat center; 
	position:absolute; 
	top:5px; 
	left:5px; 
	-webkit-transition: none;
	-moz-transition: none; 
	-o-transition: none;
}

.overlay-image .video { 
	background: #000 url(inc/images/icons/video.png) no-repeat center; 
	position:absolute; 
	top:5px; 
	left:5px; 
	-webkit-transition: none; 
	-moz-transition: none; 
	-o-transition: none;
}

.overlay-image .wp-post-image { 
	border:solid 1px #ddd;
	padding:4px;
	max-width:100%;
	max-height:100%;
}

.pin-container .overlay-image .wp-post-image { 
	border:none;
	padding:0;
}

.pin-container .overlay-image .link { 
	top:0; 
	left:0; 
}

.wp-post-image { 
	width:auto;
	height:auto;
}

/* ===============================================
   WIDGETS
   =============================================== */

.widget-box {
	margin:20px 0;
}

#sidebar li,
.bottom_widget .widget-box li{
	padding:0 0 5px 0;
	border-bottom:solid 1px #ddd;
}

.bottom_widget .widget-box li{
	border-bottom:solid 1px #333333;
}

#sidebar ul li:last-of-type{
	border-bottom:0;
}

.bottom_widget .widget-box {
	margin-bottom:0;
}

.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 100% !important;
	background:#fff;
}

#wp-calendar th, 
#wp-calendar #today, 
#wp-calendar #today a { 
	background:#212121; 
	font-family:Roboto, 'Open Sans', 'Helvetica Neue LT Std', 'Helv Kirilica', Arial, helvetica, sans-serif;
}

#wp-calendar #today, 
#wp-calendar #today a { 
	background:#FF6600; 

}

#wp-calendar a:hover { 
	border:none;
	color:#fff;
}

#wp-calendar { 
	background: #262626; 
	width:100%; 
}
#wp-calendar caption {  
	font-size: 14x; 
	text-transform:uppercase; 
	margin:0 0 10px 0;
	text-align:left;
	font-family:Roboto, 'Open Sans', 'Helvetica Neue LT Std', 'Helv Kirilica', Arial, helvetica, sans-serif;
}
#wp-calendar th, 
#wp-calendar td { 
	text-align: center; 
	font-size: 14x; 
	color:#fff;
	padding:3px 6px;
}
#wp-calendar td a { 
	display:block; 
	text-align: center; 
	font-size: 14x; 
	color:#fff;
	text-decoration:none;
}

#wp-calendar td#prev a, 
#wp-calendar td#prev a{ 
	text-decoration:none;
	text-align:left;
}

#wp-calendar th{ 
	font-weight:bold
}
tr:nth-child(2n+2) { 
	background-color: #212121;
}

.tagcloud a { 
	display: inline-block; 
	padding: 6px 12px; 
	text-align: center; 
	font-family: Roboto, 'Open Sans', 'Helvetica Neue LT Std', 'Helv Kirilica', Arial, helvetica, sans-serif; 
	font-size:14px !important; 
	color:#ddd; 
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	background:#FF6600;
	color:#fff !important;
	border:none;
	margin:0 0 4px 0;
}

.tagcloud a:hover { 
	color: #fff; 
	background: #FF6600;
}

#sidebar .tagcloud a { 
	font-size:14px !important; 
}

/* ===============================================
   SOCIAL ICONS
   =============================================== */

.socials {
	margin:25px 0 0 0;
}
.socials a { 
	display:inline-block; 
	margin: 0 5px 25px 0 ; 
	filter: none !important;
	width:50px;
	height:50px;
	text-align:center;
	padding:0;
	color:#ddd;
}
.socials a i {
	line-height:50px;
	font-size:21px
}
.socials a:hover { 
	border-bottom:none !important;
	text-decoration:none;
	background:#FF6600;
	color:#fff;
}

.bottom_socials a {
	color:#333333;
}

/* ===============================================
   PAGINATION
   =============================================== */

.wp-pagenavi { 
	text-align: left; 
	position:relative;
	margin-bottom: 50px;
}
 
.wp-pagenavi a, 
.wp-pagenavi a:link,
.wp-pagenavi span.current { 
	display:inline-block;
	padding: 12px 14px;
	margin-bottom:0;
	font-size:14px;
	line-height:20px;
	background:#333;
	color:#fff;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	font-family:Roboto, 'Open Sans', 'Helvetica Neue LT Std', 'Helv Kirilica', Arial, helvetica, sans-serif;
	-webkit-transition: all .3s ease; 	
	-moz-transition: all .3s ease; 
	-o-transition: all .3s ease;
}

.wp-pagenavi a:hover, 
.wp-pagenavi span.current {
	color:#fff;
	background:#FF6600;
	text-decoration:none;
	border-bottom:none;
}

#blog .wp-pagenavi {
	margin-top:25px;
	margin-bottom:0px;
}

@media screen and (min-width : 0px) and (max-width : 768px)  {	

	body {
		padding-left:0px !important;
		padding-right:0px !important;
	}
	
	.bottom_widget,
	.container.content {
		padding:0 20px;
	}
	
	#header {
		height:auto;
		margin-bottom:20px;
		width:auto;
		min-height:60px;
	}
	
	#subheader {
		margin-top:-20px;
		padding:20px;
		margin-bottom:20px;
		font-size:14px;
		width:auto;
	}
	
	#subheader p,
	#subheader h1 {
		line-height:1.3em;
		font-size:22px;
	}
	
	nav#mainmenu {
		height:inherit;
		margin-bottom:10px;
		min-height:inherit;
	}
	
	nav#mainmenu ul {
		visibility:hidden;
		display:none;
	}
	
	.tinynav {
		display: block;
		visibility:visible;
		width: 100% !important;
		margin:0;
		height: 40px;
		padding: 8px 10px;
		background: #262626;
		color: #fff;
		border:solid 1px #333;
		font-family: Roboto, 'Open Sans', 'Helvetica Neue LT Std', 'Helv Kirilica', Arial, helvetica, sans-serif; 
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
		word-wrap: break-word
	}
	
	.tinynav option {
		padding:5px 0;
		border-bottom:solid 1px #333;
		word-wrap: break-word
	}
	
	#header select.select-menu {
		width:100%;
		margin-bottom:40px;
	}
	
	#blog,
	#sidebar, 
	#sidebar .pin-article,
	.wp-pagenavi,
	.pin-article { 
		margin-bottom:20px;
	}
	
	.pin-article .container-fluid {
		margin: 0;
	}
	
	.head_widget .pin-article .article,
	#sidebar .pin-article .article,
	.pin-article article.article,
	.pin-article .link a { 
		padding:20px;
	}
	
	.entry-info {
		width:auto;
		background:none;
	}
	
	.entry-info .entry-date, 
	.entry-info .entry-comments,
	.entry-info .entry-audio, 
	.entry-info .entry-video,
	.entry-info .entry-standard,
	.entry-info .entry-article,
	.entry-info .entry-gallery {
		display:block;
		text-align:left;
		width:inherit;
		padding:inherit;
		margin:5px auto;
	}
	
	.line {
		border:none;
		background:none;
		margin:inherit;
		padding:0;
	}
	
	.line:before {
		background:none;
	}
	
	.news-widget { 
		padding-bottom:0; 
	}
	
	.news-thumb {
		width:100%;
		float:none;
	}
	
	.news-details {
		width:100%;
		float:none;
		text-align:left;
	}
	
	.news-details h5 { 
		margin:20px 0 0 0; 
	}
	
	.children li {
		margin-left:0;
	}
	
	.comment-avatar img {
		margin-right:15px;
	}
	
	.comment-text {
		margin:0;
		float:none;
		border:none;
		padding:0;
	}
	
	#searchform {
		margin:0 !important;
	}
	
	#searchform input[type=submit] , 
	.contact-form input[type=submit] ,
	.comment-form input[type=submit] {
		margin: 20px 0 -20px 0;
	}
	
	p.form-submit {
		margin:0 !important;
	}
	
	h3#reply-title, 
	h3.comments {
		font-size:18px;
	}
	
	.gallery p{
		margin:0;
		display:none;
		visibility:hidden;
	}
	
	#sidebar h3.title {
		font-size:22px;
		margin:0 0 15px 0;
		line-height: inherit;
	}
	
	.span3.left-sidebar ,
	.span4.left-sidebar,
	.span3.right-sidebar ,
	.span4.right-sidebar,
	.span8.left-sidebar,
	.span8.right-sidebar {
		float:none;
	}
	
	.socials {
		float:none;
	}
	.socials a {
		margin:0 0 20px 0;
	}
	
	.bottom_widget .widget-box {
		padding:10px 0 20px 0;
	}
	.bottom_socials {
		padding: 0 0 0 20px;
	}
	
	#footer .widget {
		margin-right: inherit;
	}
	
	#footer .copyright {
		padding:25px 0 25px 20px;
		line-height:15px;
		text-align:left;
	}
	
	#footer { 
		padding:0;
	}


	
}
@media screen and (min-width : 0px) and (max-width : 320px) {	

div.overlay-image.xsmall .overlay, 
div.overlay-image.xsmall .wp-post-image { width:140px; height:140px }
div.overlay-image.small .overlay, 
div.overlay-image.small .wp-post-image,
div.overlay-image.medium .overlay, 
div.overlay-image.medium .wp-post-image,
div.overlay-image.large .overlay, 
div.overlay-image.large .wp-post-image { width:140px; height:100px }

}

@media screen and (min-width : 321px) and (max-width : 479px) {	

div.overlay-image.medium .overlay, 
div.overlay-image.medium .wp-post-image,
div.overlay-image.large .overlay, 
div.overlay-image.large .wp-post-image { width:211px; height:150px }

}

@media screen and (min-width : 0px) and (max-width : 479px)  {	

.pin-article h1.title {
	font-size:22px;
}
.pin-article .quote blockquote p {
	font-size: 16px;
}


}

@media screen and (min-width : 481px) and (max-width : 600px) {	

div.overlay-image.medium .overlay, 
div.overlay-image.medium .wp-post-image{ width:240px; height:171px }
div.overlay-image.large .overlay, 
div.overlay-image.large .wp-post-image { width:300px; height:213px }

}
/*BUTTONS*/
.btn {
  border: none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-shadow: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #333;
  border: 1px solid #e6e6e6;
}
.btn:hover {
  background: #e6e6e6;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  border-color: #ccc;
}
.btn-mega {
  font-size: 21px;
  padding: 15px 30px;
}
.btn-primary {
  background: #FF6600;
  color: #fff;
  border-color: #FF6600;
}
.btn-primary:hover {
  background: #FF6600;
  border-color: #FF6600;
}
.btn-white {
  background: #fff;
  color: #FF6600;
}
.btn-white:hover {
  color: #FF6600;
  background: #e6e6e6;
}
.btn-info {
  background: #FF6600;
  color: #fff !important;
}
.btn-info:hover {
  background: #267890;
}
.btn-success {
  background: #FF6600;
  color: #fff !important;
}
.btn-success:hover {
  background: #FF6600;
}
.btn-warning {
  background: #FF6600;
  color: #fff !important;
}
.btn-warning:hover {
  background: #FF6600;
}
.btn-danger {
  background: #FF6600;
  color: #fff !important;
}
.btn-danger:hover {
  background: #FF6600;
}
.btn-inverse {
  background: #222;
  color: #fff !important;
}
.btn-inverse:hover {
  background: #1b1b1b;
}
.btn-ghost {
  background: none;
  border: 1px solid #333;
  color: #333;
}
.btn-ghost:hover {
  background: #333;
  color: #fff;
  border: 1px solid #333;
}
.btn-ghost.btn-white {
  color: #fff;
  border: 1px solid #fff;
}
.btn-ghost.btn-white:hover {
  border: 1px solid #fff;
  background: #fff;
  color: #333;
}
.btn-ghost.btn-primary {
  color: #FF6600;
  border: 1px solid #FF6600;
}
.btn-ghost.btn-primary:hover {
  background: #FF6600;
  color: #fff;
}
/*END BUTTONS*/
/*SPACINGS*/
.gap {
  display: block;
  position: relative;
  margin: 10px 0 30px 0; 
  clear: both;
  overflow: hidden;
}
.gap:after {
  content: '';
  display: table;
}
.gap-mini {
  margin: 10px 0 10px 0;
}
.gap-small {
  margin: 15px 0 15px 0;
}
.gap-medium {
  margin: 30px 0 30px 0;
}
.gap-big {
  margin: 60px 0 60px 0;
}
.gap-large {
  margin: 90px 0 90px 0;
}
.gap-top {
  margin-bottom: 0 !important;
}
.gap-bottom {
  margin-top: 0 !important;
}
.gap-border {
  border: 0;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #fff;
}
.mb0 {
  margin-bottom: 0 !important;
}
.mt0 {
  margin-top: 0 !important;
}
.mr0 {
  margin-right: 0 !important;
}
.ml0 {
  margin-left: 0 !important;
}
.mb5 {
  margin-bottom: 5px !important;
}
.mt5 {
  margin-top: 5px !important;
}
.mr5 {
  margin-right: 5px !important;
}
.ml5 {
  margin-left: 5px !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mr10 {
  margin-right: 10px !important;
}
.ml10 {
  margin-left: 10px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mr20 {
  margin-right: 20px !important;
}
.ml20 {
  margin-left: 20px !important;
}
.mb30 {
  margin-bottom: 30px !important;
}
.mt30 {
  margin-top: 30px !important;
}
.mr30 {
  margin-right: 30px !important;
}
.ml30 {
  margin-left: 30px !important;
}
.mb40 {
  margin-bottom: 40px !important;
}
.mt40 {
  margin-top: 40px !important;
}
.mr40 {
  margin-right: 40px !important;
}
.ml40 {
  margin-left: 40px !important;
}
.pt30 {
  padding-top: 30px !important;
}
.pb30 {
  padding-bottom: 30px !important;
}
.pr30 {
  padding-right: 30px !important;
}
.pl30 {
  padding-left: 30px !important;
}

.row-wrap >[class^="col-"] {
  margin-bottom: 30px;
}

/*END SPACINGS*/

.bg-white {
  background-color: #fff;
}

/*.width100 { width:100%}*/

.top-main-area .login-register > li > a {
  height: 32px;
  line-height: 32px;
  color: #6e6e6e;
  font-size: 12px;
}
.top-main-area.top-main-area-dark .login-register > li {
  border-color: #4d4d4d;
}
.top-main-area.top-main-area-dark .login-register > li > a {
  color: #d9d9d9;
}
.login-register {
  list-style: none;
  margin: 0;
  float: right;
  padding: 0;
}
.login-register > li {
  display: inline-block;
  border-right: 1px solid rgba(0,0,0,0.3);
  position: relative;
}
.login-register > li > a {
  font-size: 11px;
  text-transform: uppercase;
  padding: 0 13px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
  display: block;
  line-height: 50px;
  height: 50px;
}
.login-register > li > a [class^="fa fa-"] {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
  margin-right: 7px;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  font-size: 15px;
  line-height: 0;
  position: relative;
}
.login-register > li > a:hover [class^="fa fa-"] {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.login-register > li:last-child {
  margin-right: 0;
  padding-right: 0;
  border: none;
}

.login-register > li > a { padding:0 10px; color:#fff; }
.login-register > li { border-right:1px solid #eee; }
.login-register > li > a:hover { font-weight:bold;  }

.tagcloud a::before {
 	background: #fff none repeat scroll 0 0;
    border-radius: 50%;
    content: "";
    height: 6px;
	margin-left: -9px;
    margin-top: 8px;
    position: absolute;
    width: 6px;
}

.tagcloud {
	position: relative;
}

.tag-custom {
	border-radius: 5px;
	padding: 30px;
}

.tagcloud a:hover {
	text-decoration:none;
	background-color: #d95700;
}


.pin-article {
	border-radius: 7px;
}


.postform {
	display: block;
	margin: 0;
	width: 100%;
	height: 34px;
	border: 0;
	-webkit-border-radius: 5;
	border-radius: 5;
	border: 1px solid #FF6600;
	background: #fff;
	-webkit-background-size: 20px 20px;
	background-size: 20px 20px;
	overflow: hidden;
	line-height: 21px;
	text-overflow: ellipsis;
	text-decoration: none;
	vertical-align: top;
	white-space: nowrap;
	cursor: pointer;
	outline: 0;
}
select {
	background: #fff none repeat scroll 0 0 / 20px 20px;
    border: 1px solid #ff6600;
    cursor: pointer;
    display: block;
    height: 34px;
    line-height: 21px;
    margin: 0;
    outline: 0 none;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
    width: 100%;
}

/*FORMS*/
.form-control {
  border: 1px solid #d9d9d9 !important;
  -webkit-border-radius: 3px !important;
  border-radius: 3px !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: none !important;
  color: #555555 !important;
    display: block !important;
    font-size: 14px !important;
    height: 34px !important;
    width: 100% !important;
}
.form-control:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-color: #ff6600 !important;
}

label {
  font-weight: 600 !important;
}

.btn-primary:hover { background: #cc5200;} 
.btn-primary { background: #f60}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary { background-color:#f60; border-color:#e65c00}
