body {
	background: #FFF;
	font-size: 12px;
	font-family: Arial, sans-serif;
	margin:0;
}

.deal-item {
	border: 1px solid #ccc;
	height: 248px;
}

.deal-item .name {
	margin: 0;
	padding: 15px 5px 5px 5px;
	font-size: 14px;
	color: #000;

}

.deal-item .price {
	font-size: 17px;
	font-weight: bold;
	color: #1c8119;
}

.deal-item .oldprice 
{
	text-decoration:line-through;
	font-size: 14px;
	color: #333333;
}

.deal-item .today {
	margin-left: 0px;
	padding: 0px;
	font-size: 12px;
	color: #FF0000;

}

.deal-item .discount {
	display: block;
	position: absolute;
	left: 0px;
	top: 25px;
	padding: 0 8px 0 8px;
	white-space: nowrap;
	font-size: 15px;
	font-weight: bold;
	line-height: 28px;
	color: #fff;
	background-color: #ff6600;
	border-radius: 0 5px 5px 0;
}


.deal-item a:link, .deal-item a:visited, .deal-item a:hover
{
	text-decoration: none;
}

.kopce 
{
	background: url('../../images/form-button.png') 0 0 repeat-x #080;
	background: -moz-linear-gradient(top, #48b548 0, #72c670 2%, #080 99%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #48b548), color-stop(2%, #72c670), color-stop(99%, #008800));
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	color: #fff;
	font-size: 17px;
	line-height: 40px;
	font-weight: bold;
	font-style: normal;
	text-shadow: #444 1px 1px 2px;
	-moz-box-shadow: #ccc 0 1px 2px;
	-webkit-box-shadow: #ccc 0 1px 2px;
	box-shadow: #ccc 0 1px 2px;
	padding-left: 2px;
	padding-right: 2px;
}

.kopce_kupuvanje:link, .kopce_kupuvanje:hover, .kopce_kupuvanje:visited  {
	text-decoration: none;
}