body {
	background: #ecedf0;
	/*font-family: 'Archivo Narrow', sans-serif;*/
	font-family: Roboto, arial, helvetica, sans-serif;
}

.row {
	padding-top: 10px;
	padding-bottom: 10px;
}

.clear {
	clear: both;
}

.text-center {
	text-align: center;
}

.margin-10 {
	margin-top: 20px;
}

a:hover {
	text-decoration:none;
}

button:focus {outline:0 !important;}

.full {
	/*    background: url('../img/bg.jpg') no-repeat center center fixed; */
	background: url('../img/Affiliate-background5.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

/* ===========================================
	Wrappers and Toggles 
   ========================================= */

#wrapper {
	padding-left: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#wrapper.toggled {
	padding-left: 250px;
}

#side-wrapper {
	z-index: 1000;
	position: fixed;
	left: 250px;
	width: 0;
	height: 100%;
	margin-left: -250px;
	overflow-y: auto;
	background: #fff;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#wrapper.toggled #side-wrapper {
	width: 250px;
}

#page-content-wrapper {
	width: 100%;
	position: absolute;
	top: 50px;
	padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
	position: absolute;
	margin-right: -250px;
}

/* ===========================================
	Top Navigation 
   ========================================= */
.navbar {
	height: 65px;
	background: #ffffff;
}

.navbar-nav>li>a {
	line-height: 35px;
}

.navbar-nav li ul li a {
	font-size:17px;
}
#menu-toggle {
	width: 50px;
}

.navbar-right {
	margin-right: 10px;
	margin-top: -5px;
}

.navbar-right img {
	border-radius: 50%;
	border: 2px solid #333;
	margin-top: -5px;
	margin-right: 7px;
	width: 50px;
	height: 50px;
}

.navbar-right li a i {
	font-size: 16px;
}


.navbar-user {
	color: #333;
	font-weight: 800;
}
.navbar-user >span {
	color: #333;
}


.nav-icon {
	color: #fff;
}

.nav-icon:hover {
	color: #0CD7F2;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background: #FF4D00;
	color: #fff;
}

/* LOGO */
.logo {
	position: relative;
	left: 15px;
	width: 250px;
	float:left;
}

.logo a {
	color: #333;
	font-size: 45px;
	font-weight: bold;
	text-transform: uppercase;
}

.logo a:hover {
	color: #2172CC;
	background: none;
}

.logo img {
	width: 220px;
	margin-top: -10px;
}

.language {
	margin-top: 17px;
}

.balance {
	margin-top: 20px;
	margin-right: 10px;
	font-size: 18px;
	padding: 0 15px 0 20px;
	color: #2BA802;
}
#navbar > ul.nav.navbar-nav.navbar-right.notifications > li.dropdown.balance > div > div > span{
	color:black;
}
.white {
	color: #fff;
}

select {
	-webkit-appearance:none;
}

.lang-select {
	margin-top: 5px;
}
/* ===========================================
	Notifications 
   ========================================= */

.notifications ul>li {
	background: transparent;
	height: 35px;
	padding: 3px;
}

.notification-heading{
	color: #fff;
	margin-top: -6px;
}

.notification-heading>a{
	color: #fff !important;
}

.notification-heading a:hover{
	background: transparent !important;
}

.heading-danger {
	background: #BF2E35 !important;
}

.notification-time {
	background: #CDC8DB;
	color: #222;
	font-size: 10px;
	margin-top: 6px;
	padding: 0 3px 0 3px;
}

.navbar-default .navbar-nav>.open>a:focus {
	background: none;
}

.nav-account {
	min-width: 192px;
	margin: -10px -10px 0 0 !important;
}

.nav-danger .dropdown-menu {
	min-width: 390px;
}

.nav-danger .dropdown-menu h2 {
	float: left;
	font-size: 32px;
	font-weight: 800;
	margin-left: 20px;
}

.nav-danger .dropdown-menu h5 {
	float:right;
	font-size: 15px;
	font-weight: 600;
	margin-top: 30px;
	margin-right: 10px;
}

.icon-danger {
	background: #BF2E35;
	color: #fff;
}

.dropbox img{
	border: 0;
	width: 35px;
	height: 35px;
}

/* ===========================================
	Sidebar Navigation 
   ========================================= */

.side-nav {
	position: relative;
	top: 68px;
	width: 250px;
	margin: 0;
	padding: 0;
	list-style: none;
	height: 88%;
}

.side-heading {
	color: #2161B5;
	font-weight: 400;
	margin-left: 20px;
	padding: 5px 0 3px 0;
}

.side-nav li {
	width:250px;
	line-height: 45px;
}

.side-nav li a {
	color: #333;
}

.side-nav li a i{
	float: right;
	margin-right: 7px;
	font-size: 17px;
}

.side-nav li ul {
	list-style-type: none;
	padding: 0;
}

.side-nav li ul li {
	padding-left: 40px;
}

.side-nav img {
	border-radius: 50%;
	border: 2px solid #333;
	margin-top: -2px;
	margin-left: 20px;
	margin-right: 7px;
	width: 40px;
	height: 40px;

}

.side-nav .active {
	background: #E3E3E3;
}

.side-warning ul, .side-warning:hover{
	background: #FFC954;
}

.side-danger ul, .side-danger:hover{
	background: #EBEBEB;
}

.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus{
	color: #fff !important;
}

.stats-default i {
	font-size:32px;
	color: #680BB0;
	margin-left: 20px;
	margin-right: 15px;
}

.stats-danger i {
	font-size:32px;
	color: #BF2E35;
	margin-left: 20px;
	margin-right: 15px;
}

.stats-text {
	font-size: 22px;
	font-weight: 800;
	color: #7D7D7D;
	text-shadow: 0px 1px 1px #000;
}

.side-nav li a:hover {
	text-decoration: none;
	color: #333;
	background: rgba(255,255,255,0.2);
}

.side-nav li a:active,
.side-nav li a:focus {
	text-decoration: none;
}

.ui-drop-hover {
	background-color: #8CED74 !important;
	border: 1px solid #bbb;
}

.small-text {
	color: #999;
	margin-left: 5px;
	margin-top: -10px;
	font-size: 10px;
}

.sales-profits i{
	float: left !important;
	color: #166BC7;
	font-size: 35px !important;
	margin-left: 15px;
	margin-right: 5px !important;
}

.sales-profits:hover {
	background: #E6E6E6;
}

.banners-logos i{
	float: left !important;
	color: #48008C;
	font-size: 35px !important;
	margin-left: 15px;
	margin-right: 5px !important;
}

.banners-logos:hover {
	background: #E6E6E6;
}

.affiliates i{
	float: left !important;
	color: #CC0808;
	font-size: 35px !important;
	margin-left: 15px;
	margin-right: 5px !important;
}

.affiliates:hover {
	background: #E6E6E6;
}

.referral-traffic i{
	float: left !important;
	color: #FF4D00;
	font-size: 35px !important;
	margin-left: 15px;
	margin-right: 5px !important;
}

.referral-traffic:hover {
	background: #E6E6E6;
}

.payouts i{
	float: left !important;
	color: #00695C;
	font-size: 35px !important;
	margin-left: 15px;
	margin-right: 5px !important;
}

.payouts:hover {
	background: #E6E6E6;
}

.paypal-setup i{
	float: left !important;
	color: #074C91;
	font-size: 35px !important;
	margin-left: 15px;
	margin-right: 5px !important;
}

.paypal-setup:hover {
	background: #E6E6E6;
}

.commission i{
	float: left !important;
	color: #F29705;
	font-size: 35px !important;
	margin-left: 15px;
	margin-right: 5px !important;
}

.commission:hover {
	background: #E6E6E6;
}

.website-integration i{
	float: left !important;
	color: #333;
	font-size: 35px !important;
	margin-left: 15px;
	margin-right: 5px !important;
}

.website-integration:hover {
	background: #E6E6E6;
}

/* ===========================================
	Stat Boxes 
   ========================================= */

.stat-box {
	background: #fff;
	border: 3px solid #FF6200;
	height: 80px;
	border-radius: 10px;
}

.stat-box a{
	color: #333;
}

.stat-icon {
	float: left;
	color: #fff;
	font-size: 2.7em;
	text-align: center;
	height: 100%;
	width: 35%;
}

.stat-icon  i {
	position: relative;
	top: 10px;
}

.stat-data {
	float: left;
	width: 60%;
	margin-left: 5%;

}

.stat-data  h2{
	font-size: 24px;
	margin-top: 20px;
}

.stat-info {
	font-size: 13px;
	display:block;
}

.stats-default i {
	font-size:32px;
	color: #680BB0;
	margin-left: 20px;
	margin-right: 15px;
}

.stats-danger i {
	font-size:32px;
	color: #BF2E35;
	margin-left: 20px;
	margin-right: 15px;
}

.stats-text {
	font-size: 22px;
	font-weight: 800;
	color: #7D7D7D;
	text-shadow: 0px 1px 1px #000;
}

.stat-primary{
	background: #2d89ef;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.stat-default{
	background: #FF4D00;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.stat-danger{
	background: #DB1212;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.stat-success{
	background: #25C720;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
	color: #2580db;
}

/* ===========================================
	Login Form 
   ========================================= */


.login {
	background: #fff;
	margin-top: 100px;
}

.login-form {
	padding: 30px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.input-xlarge {
	font-size: 17px;
	width: 100%;
	height: 2em;
	padding: 5px;
}

.login-btn {
	float:right;
	margin-top: 20px;
	margin-bottom: 20px;
}

.inline {
	margin-left: 25px;
}
/* ===========================================
	Register Form 
   ========================================= */

.go-register {
	position: relative;
	top: 46px;
}

.terms {
	padding-top: 20px;
}



.col-centered{
	float: none;
	margin: 0 auto;
}

.success-text {
	color: #80D134;
}

/* ===========================================
	Other Forms
   ========================================= */
.date-filter {
	font-size: 12px;
	margin-right: 10px;
}
input[type=date]{
	width: 150px;
	font-size:12px;
	height: 30px;
	color: #333;
}

.tier-levels {
	list-style-type: none;
	padding: 15px;
}

.tier-levels li {
	padding: 5px;
}

/* ===========================================
	Panels and Buttons
   ========================================= */
.panel-heading {
	color: #fff;
	font-size: 18px;
	height: 50px;
	padding: 12px 0 0 20px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&amp;1+0,0+100;White+to+Transparent */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

.sub-heading {
	font-size: 13px;
	float: right;
	color: #fff;
	margin: 5px 15px 0 0;
}

.panel-content {
	font-size: 15px;
	padding: 20px;
}

.title-icon {
	margin: 0 10px 0 0;
}

.panel-primary {
	background: #0A5AA1;
}

.panel-default {
	background: #454545;
}

.panel-warning {
	background: #f6f6f6;
	border-radius: 5px 5px 0 0;
	border-bottom: 1px solid #DADADA;
	color: #0A5AA1;
}

.panel-success {
	background: #7BC456;
}


.btn {
	border-radius: 5px;
	border: 1px solid #E3E3E3;
}

.btn-primary, .btn-primary:hover {
	background: #2d89ef;
}

.btn-danger, .btn-danger:hover {
	background: #BF2E35;
}

.btn-default, .btn-default:hover {
	background: #81469E;
	color: #fff;
}

.btn-link {
	border:0;
}

.checkbox, .radio {
	display: inline;
}

.alert-default {
	background: #81469E;
	color: #fff;
}

.panel-default {
	background: #fff;
}

.red {
	color: red;
}

.green {
	color: green;
}

/*
.upload-form {
	width: 200px;
}
*/

.banners {
	width: 200px;
	height: auto;
}

.banner-code {
	width: 420px;
}

.void-row {
	background: #333;
}

.mr {
	margin-right: 10px;
}

.top-list img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-right: 10px;
}
/* ===========================================
	Device Specific
   ========================================= */


@media(min-width:768px) {
	#wrapper {
		padding-left: 250px;
	}

	#wrapper.toggled {
		padding-left: 70px;
	}

	#side-wrapper {
		width: 250px;
	}

	#wrapper.toggled #side-wrapper {
		width: 66px;
	}

	#wrapper.toggled #side-wrapper .logo {
		display:none;
	}

	#wrapper.toggled #side-wrapper .side-heading {
		display:none;
	}

	#wrapper.toggled #side-wrapper .side-nav li a i{
		margin-left:12px;
	}

	#page-content-wrapper {
		padding: 20px;
		position: relative;
	}

	#wrapper.toggled #page-content-wrapper {
		position: relative;
		margin-right: 0;
	}

}

@media(max-width:955px) {
	.navbar-right {
		display: none;
	}
	.menu-toggle {
		float: right;
		margin-right: 18px;
		margin-top: -3px;
	}
}




@media all and (min-width: 1151px) {
	td:nth-child(n+1) {
		padding: 10px 5px 10px 5px !important;
		width: 1% !important;
		text-align: center;
	}
	table#sales {overflow-x:auto;display: block;}

}

table#users,table#sales,table#users1 {
	overflow-x: auto;
	display: block;
}




.acc-profile i{
	float: left !important;

	font-size: 35px !important;
	margin-left: 15px;
	margin-right: 5px !important;
}
.acc-profile:hover {
	background: #E6E6E6;
}

.acc-logout i{
	float: left !important;
	color: #BF2E35;
	font-size: 35px !important;
	margin-left: 15px;
	margin-right: 5px !important;
}
.acc-logout:hover {
	background: #E6E6E6;
}


.forgot-link a {
	color: #ff6200;
}
.forgot-link {
	padding: 20px 0 5px 0;

}