#users > tbody > tr> td:nth-child(1) {
    border-top-style: solid;
    border-top-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    border-left-style: solid;
    border-left-width: 1px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;

}
#users > tbody > tr> td:nth-child(2) {
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    padding-left:10px;
    padding-right:10px;
    width:70%;
    padding-bottom: 10px;
    padding-top: 10px;
}
#users > tbody > tr> td:nth-child(3) {
    border-top-style: solid;
    border-top-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    width: 8%;
}
#users > tbody > tr> td:nth-child(4) {
    border-top-style: solid;
    border-top-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    padding-left:10px;
    padding-right:10px;
    text-align:center;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    width: 2%;
}
#users > tbody > tr> td:nth-child(5) {
    border-top-style: solid;
    border-top-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    width: 8%;
}
#users > tbody > tr> td:nth-child(6) {
    border-top-style: solid;
    border-top-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    width: 11%;
}
#users > tbody > tr> td:nth-child(n+5) {
    border-top-style: solid;
    border-top-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    width: 11%;
}
#users > thead > tr > th
{
    padding-left: 10px;
}
#sales > tbody > tr> td:nth-child(1) {
    border-top-style: solid;
    border-top-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    border-left-style: solid;
    border-left-width: 1px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;

}
#sales > tbody > tr> td:nth-child(2) {
    border-top-style: solid;
    border-top-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    width: 8%;
}
#sales > tbody > tr> td:nth-child(3) {
    border-top-style: solid;
    border-top-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    width: 8%;
}
#sales > tbody > tr> td:nth-child(4) {
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    padding-left:10px;
    padding-right:10px;
    width:70%;
    padding-bottom: 10px;
    padding-top: 10px;
}
#sales > tbody > tr> td:nth-child(5) {
    border-top-style: solid;
    border-top-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    width: 8%;
}
#sales > tbody > tr> td:nth-child(6) {
    border-top-style: solid;
    border-top-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    padding-left:10px;
    padding-right:10px;
    text-align:center;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    width: 2%;
}
#sales > tbody > tr> td:nth-child(7) {
    border-top-style: solid;
    border-top-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    width: 8%;
}
#sales > tbody > tr> td:nth-child(n+8) {
    border-top-style: solid;
    border-top-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    width: 11%;
}
#sales > thead > tr > th
{
    padding-left: 10px;
}
#art > tbody > tr > td:nth-child(5){
    width: 30%;
}
#art > tbody > tr > td:nth-child(3){
    width: 5%;
}

#art > tbody > tr > td:nth-child(8){
    width:11%;
}
#traffic > tbody > tr > td:nth-child(8) {
    width: 10%;
}

#emails > thead > tr > th:nth-child(1),#emails > tbody > tr > td:nth-child(1)
{
    text-align: left;
    width: 10% !important;
    border-left: solid 1px;
    border-top: solid 1px;
}
#emails > thead > tr > th:nth-child(3),#emails > tbody > tr > td:nth-child(3),
#emails > thead > tr > th:nth-child(n+4),#emails > tbody > tr > td:nth-child(n+4){
    text-align: center;
    width: 10% !important;
    border-right: solid 1px;
    border-top: solid 1px;
}

#emails > thead > tr > th:nth-child(2),#emails > tbody > tr > td:nth-child(2) {
    width: 75% !important;
    border-left: solid 1px;
    border-right: solid 1px;
    border-top: solid 1px;

}
