/*!
 * Start Bootstrap - Logo Nav HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
	padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
	background: #fff;
	font-family: Roboto, arial, helvetica, sans-serif;

	font-weight: bold;
}

.navbar {
	background: transparent;
}

.navbar-fixed-top .nav {
	padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
	padding: 0 15px;
}
.navbar-brand {
	padding-bottom: 20px;
}
.navbar-brand img {
	width: 350px;

}

.login-form {
	background: #444;
	background: rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	color: #fff;
	font-family: Roboto, arial, helvetica, sans-serif;

	font-weight: bold;
}

.login-form legend{
	color:#fff;
}

.login-form input{
	color: #333;
}

.affiliate-description {
	color: #fff;
	font-size: 18px;
	background: #444;
	background: rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	margin-top: 20px;
}

.affiliate-description h1 {
	font-size: 24px;
	padding:15px 0 10px 20px;
}

.affiliate-description ul{
	list-style-type:none;
}

.affiliate-description i {
	color: #A2FF00;
}

.login-btn {
	color: #fff !important;
}

@media(min-width:768px) {
	body {
		padding-top: 10px;/* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
	}

	.navbar-fixed-top .navbar-brand {
		padding: 15px 0;
	}
}
.affiliate-description >ul > li {
	font-weight: 500;
}