body {
	background: #f3f3f3;
	font-size: 13px; line-height: 21px;
	font-family: Arial, sans-serif;
}

/* @end */

/* @group links */

a:link,
a:visited {
	color: #FF6600;
        text-decoration: none;
}
a:hover,
a:active,
a:focus {
	text-decoration: underline;
}


.homepage-billboard{
background: none repeat scroll 0 0 #FFF;
height: 1%;
//margin: 6px 0 14px;
//overflow: auto;
//padding: 10px;
//position: relative;
//z-index: 100;
border-radius: 7px 7px 7px 7px;
//box-shadow: 0 0 5px #F60;
-moz-border-radius: 7px 7px 7px 7px;
//-moz-box-shadow: 0 0 5px #F60;
-webkit-border-radius: 7px;
//-webkit-box-shadow: 0 0 5px #F60;
}

/* @end */

/* @group inlines */

acronym, abbr {
	cursor: help;
	border-bottom: 1px dotted;
}

strong { font-weight: bold; }
    em { font-style: italic; }

/* @end */

/* @group headlines */

h1 {
	font-size: 20px;
line-height: 25px;
font-weight: bold;
}

h2 {
	font-size: 15px; line-height: 24px;
	font-weight: bold;
}

h3 {
	color: #999;
	font-size: 15px; line-height: 24px;
	font-weight: bold;
	margin: 18px 0 -6px;
}

h4 { font-weight: bold; }

/* @end */

/* @group text */

p, ul, ol {
	margin: 3px 0;
/*	margin: 20px 0;*/
}

li {
	line-height: 18px;
	/* ZARADI DHTML EDITOR
	padding: 0 0 4px 1em;
	*/
	margin: 0 0 4px;
}

/* @end */

/* @group forms */

label {
	color: #333;
	font-size: 15px;
	margin: 0 13px 0 0;
	position: relative; top: 2px;
}
label[for] {
	cursor: pointer;
}
#ie6 label,
#ie7 label {
	top: 0;
}



input.text,
textarea {
	background: -moz-linear-gradient(top, #eee 0, #fff 20%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eee), color-stop(20%,#fff));
	border: 1px solid #a1a1a1;
	font-family: Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	margin: 0 5px 0 0;
	padding: 6px 5px;
	-moz-box-shadow: #ccc 0 1px 2px;
	-webkit-box-shadow: #ccc 0 1px 2px;
	box-shadow: #ccc 0 1px 2px;
}
input.text {
	width: 400px;
}
textarea {
	background: -moz-linear-gradient(top, #eee 0, #fff 8%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eee), color-stop(8%,#fff));
}
input.submit {
	color: #fff;
	cursor: pointer;
	background: url('/pub/img/layout/form-button.png') 0 0 repeat-x #008800;
	background: -moz-linear-gradient(top,#48b548 0,#72c670 5%, #008800 99%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#48b548),color-stop(5%,#72c670),color-stop(99%,#008800));
	border: none;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	font-family: Arial, sans-serif;
	font-size: 15px; line-height: 19px;
	font-weight: bold;
	margin: 0;
	padding: 6px 16px 6px;
	text-shadow: #444 1px 1px 2px;
	-moz-box-shadow: #ccc 0 1px 2px;
	-webkit-box-shadow: #ccc 0 1px 2px;
	box-shadow: #ccc 0 1px 2px;
}
#ie6 input.submit,
#ie7 input.submit {
	padding: 4px 16px 3px;
}
input.submit:hover {
	background: url('/pub/img/layout/form-button.png') 0 -80px repeat-x #1ea928;
	background: -moz-linear-gradient(top,#48b548 0,#72c670 5%, #1ea928 99%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#48b548),color-stop(5%,#72c670),color-stop(99%,#1ea928));
}
input.radio {
	position: relative; top: -1px;
}

.left {float:left}
.right {float:right}

/* @end */