#ajax-spinner { position:fixed; left: 50%; top: 50%; 
                /*background: url('../images/ajax-spinner.gif') no-repeat 50% 50%;*/
    padding: 13px;  font-size: 0;  width: 16px;  height: 16px;
    /*margin: -15px 0 0 -15px;*/
    /*border: 2px solid #CCC;*/
}

#subpage-content .textcontent h2 { margin-top: 20px; color:black;}
#subpage-content .textcontent h4 { margin-top: 30px; color:black;}
#subpage-content .textcontent h4 span { font-weight:normal;font-style: italic; }
#subpage-content .textcontent p { margin:10px 0; padding:0;}
#subpage-content .textcontent ul { list-style: decimal inside; padding:15px 0;}

div#affiliate input[type=submit] { display:block; width:163px; height:41px; border:none; 
                                   /*background:url(../images/submit-bg.png) no-repeat top left;*/
                                   font-weight:bold; }
div#affiliate input[type=text] { width:159px; }
div#affiliate table td{ padding:5px;}

div#recommend {margin:30px 0 0 0; padding:20px; text-align:center; border:solid 1px #cccccc;}
div#recommend table {margin:30px 0 0 0; width:100%;}
div#recommend td {padding:10px;text-align:center;font-weight:bold;}
div#recommend td#bubblebox {width:264px; height:223px;background:transparent ;vertical-align:top;padding:35px 0px 0px 0px; text-align:center;}
div#recommend td#bubblebox .affilshare {margin:10px 0 0 0;}
div#recommend td#bubblebox label {display:inline-block;}
div#recommend td#bubblebox input[type=text] {display:inline-block; width:173px; margin-bottom:10px;}
div#recommend td#bubblebox select {display:inline-block; margin-bottom:25px;}
div#recommend td#bubblebox input[type=submit] {display:inline-block; margin:0; /*margin-left:60px;*/}
div#recommend td#bubblebox span {font-weight:normal;font-size:7pt;}
div#recommend h3 {display:block;text-align:left;margin:20px 0 0 0;}

div#recommend table#affiliateForm {border-spacing:0;padding:0;margin:0;}

.faq-content h4,
.how-content h3,
.contact-content h3,
.personal-content h3,
.terms-content h3,
.about-content h3 { color: rgb(0,0,0); }

.profile-content h3 { color: rgb(0,0,0); }
.profile-content { width: auto; }
.profile-content table tr.bold { background:#c0f063; font-weight:bold; }
.profile-content table td { text-align: center; }

.settings-content table th { width: 160px; }

.rate-star { width: 12px; height: 16px; 
             /*background: url('../../images/star-empty.png') no-repeat -2px;*/
            border: 0; }
a .rate-star { cursor: pointer; }
.rate-star span { visibility: hidden; }
/*.rate-star.star-full { background-image: url('../../images/star-full.png'); }*/
/*.rate-star-hover { background-image: url('../../images/star-full.png'); }*/

.xmas-container {
  position: relative;
  height: 222px;
  overflow: hidden;
}

.xmas-available{
  display:block; 
  position:absolute;
  top:0px;
  left:80px;
  width:305px;
  height:240px;
  z-index:400;
  overflow:hidden;
}

.xmas-tomorrow{ 
  /*background:transparent url(../../images/new/available-tomorrow.png) no-repeat 0px 0px;*/
}

.xmas-2days{ 
  /*background:transparent url(../../images/new/available-2days.png) no-repeat 0px 0px;*/
}

.xmas-soon{ 
  /*background:transparent url(../../images/new/available-soon.png) no-repeat 0px 0px;*/
}

.xmas-cities { overflow: hidden; }
.xmas-title { font-family: "Times New Roman"; font-size: 16pt; margin-right: 20px; }
.xmas-city { padding: 5px 10px 5px 10px; font-size: 13pt; }
.xmas-city a { color: rgb(0,0,0); }
.xmas-city-selected { background: rgb(57,167,56); -moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px; }
.xmas-city-selected a { color: rgb(255,255,255); }

.discussion-body .header strong { overflow: hidden; }

.discussion-body .partner-logo {
    background: none repeat scroll 0 0 #00CBFF;
    color: #FFFFFF;
    font-size: 11px;
    font-style: normal;
    padding: 2px 5px;
    position: relative;
    text-transform: uppercase;
    top: -1px;}
    
.discussion-body .responses .edit {
    font-size: 11px;
    height: 20px;
    line-height: 11px;
    overflow: hidden;
    position: absolute;
    right: 6px;
    text-align: center;
    top: 30px;
    width: 60px;
}

.homepage-billboard .price { margin-left: 32px; text-align: center; }
.homepage-billboard .discount { text-align: center; }
.homepage-billboard .saving { padding-right: 5px; text-align: center; } 

.creditsbonus {font-size:28px; font-weight:bold; color:#00A4DA; margin:10px 0 5px 0;text-align:center;}
.creditsterm {font-size:14px; font-weight:bold; color:black; margin:10px 0 10px 0;text-align:center;}
.creditsbox {
    /*background:url('../../images/credits-bg2.png') no-repeat;*/
            width:128px;height:170px;padding:6px;text-align:center;margin:10px;}

.homepage-details table {
    width: 500px;
    margin: 20px 0;
    border: 1px solid #d8d8d8;
}

.homepage-details table th{
    font-weight:bold;
    background-color: #d8d8d8;
}

.homepage-details table td, th{
    padding: 4px 10px 4px 10px; 
    font-size: 11px;
    color: #333;
    
}

.homepage-details table td{
    border-bottom: 1px solid #d8d8d8;
}
