/*MY CUSTOM STYLES*/
body {  font-family:Roboto, 'Open Sans', 'Helvetica Neue LT Std', 'Helv Kirilica', Arial, helvetica, sans-serif; }
.dialog-mytext label { font-size:13px; margin-bottom:30px; }
.green { background-color:#53a318; color:white;}
.block { display:block}
.text-green { color:#53a318 !important; }
::selection { background-color:#f60; color:white; }
.search-area .search-area-division-input {width: initial;}
.news-signup { padding-left:0px !important; }

.search-area input { font-size:13px; border: 1px solid #ddd; padding-left: 4px; }
.btn-my {  margin-left:3px; line-height:1.2; float:left;}
    .btn-my:hover { background-color:#f60; color:white }
.social-icons { position:absolute; top:0px; padding-left:15px; z-index:1000; top:35px; }
    .social-icons li a:hover { top:60px; }
.countdown-big { margin:10px auto; padding:5px 0;}
span.count { font-size:38px; line-height:42px; }
.text-uc { text-transform:initial; text-shadow:2px 1px black; font-size:19px; }
.social-med { position: absolute; z-index: 1001; top: 20px; right: 20px;}
.soc { position:relative; float:left;}
.product-time { margin-bottom:5px; }
.big-orange { font-size:18px; color:#ff6200 }
.vrab { padding-bottom:10px; border-bottom:1px solid #ff6200 }
.slikicki { background-color: White; padding:5px 10px 5px 10px; font-size:14px !important; font-weight:bold; color:#333 !important; border-left:10px solid  #53a318;  }
    .slikicki:hover { color:white; border-left:10px solid #f60}
.za-firmi {background-color: White; padding:10px 30px 10px 30px; color:white; text-align:center; font-size:17px; color:#333; }
.search-area-division-input { width:initial !important }
.p0 { padding-left:0px; padding-right:0px; }
.popust-na-slika { position:absolute; top:30px; left: 0px; background-color: #f60; color: white; font-weight: bold; padding: 5px 5px 5px 10px; font-size: 18px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; }
.omileni-na-slika { position:absolute; top:30px; right: 0px; background-color: #FFFFFF; border-radius: 5px; z-index: 1000; }
.shop-cart-na-slika { position:absolute; top:70px; right: 0px; background-color: #FFFFFF; border-radius: 5px; z-index: 1000; }
.uslovi { font-weight:bold; color:#f60}
.podaroce { margin:5px auto 0px auto }
.product-page-meta-info {margin-top: 10px !important;}
.gap-ponuda { margin:10px 0 10px 0}
.social-med-ponuda .col-md-12 { margin-bottom:5px;}
.bolder { font-weight:500 }
.flexnav li.active > a:hover { background-color:#f60 }
.flexnav li ul { width:100%}
.flexnav li > ul > li { width:300px;}
.trkalo-text { position:absolute; top:50px; background-color:white; color:black; font-weight:bold; padding:5px 10px 5px 10px }
.noborder { border:none;}
.pt20 { padding-top:20px; }
.my-padd { padding:30px 30px 30px 30px}
a { cursor:pointer;}
.border-bottom { border-bottom:1px dashed #e6e6e6; padding-bottom:10px; margin-bottom:15px; }
.pl0 { padding-left:0px; }
.rodenden-pic { max-width:450px; margin-left:auto; margin-right:auto }
.border-top-green { border-top:15px solid #8cc732 }
.linija-left { border-left:1px dashed #999}
.linija-right { border-right:1px dashed #999; padding-right:40px;}
.bold { font-weight:bold; }
.bg-black { background-color:black; }
.top-main-area { border-radius:0px !important; }
.aplikacija { position:absolute; /*top:-20px;*/ padding-left:20px; right:10px; z-index:1000;}
.gplay { height:35px; width:initial }
.appstore { height:35px; width:initial }
.nav-tabs.nav-stacked.nav-coupon-category > li > a { height:35px; line-height:35px; font-size:12px; color:#333 }
    .nav-tabs.nav-stacked.nav-coupon-category > li > a .fa { height:35px; line-height:35px; }
.trkalo-text1 { position:absolute; top:20px; background-color:black; color:white; font-weight:bold; padding:5px 10px 5px 20px }
.nav-tabs.nav-stacked.nav-coupon-category > .active > a:before { 
  /*height: 20px; width: 20px; top: 5px; right: -10px; */
    height: 25px;
    right: -12px;
    top: 5px;
    width: 25px;

}
.casisimg { width:525px}
footer.main .footer-copyright { border-radius:0px !important; }
.gradient {
  background: -webkit-linear-gradient(#333333, black); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#333333, black); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#333333, black); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#333333, black); /* Standard syntax */
}
.orange { color:#f60 !important; font-size:18px !important; font-weight:bold;}
.fs17 { font-size:17px !important; font-weight:400}
.border-top { padding-top: 10px !important; margin-top: 10px !important; border-top: 1px dashed #e6e6e6;}
.nav > li > a:hover, .nav > li > a:focus { background-color:initial;}
.border-bot-orange { border-bottom:3px solid #f60 ; padding-bottom:5px;}
.width100 { width:100%}
.icon-size {width:28px; } 
.list-social a { color:white }
.desno-icons { right:20px; top:10px; }
.login-register > li > a { padding:0 10px; color:black }
/*.flexnav > li > a {padding:0 10px; }*/
.pr0 { padding-right:0px; }
.white { color:white}
.prevzemiVaucher { background-color:#f60; color:white !important; padding:9px 10px; margin-top:10px; position:relative; display:block;  }
.prevzemiVaucher:hover {background-color:#f60; color:white; }
#topcontrol { z-index:999;}
.fs40 { font-size:40px; }
.login-register > li { border-right:1px solid #eee }

/*novo*/
header.main { background-color:white;  }
    header.main a { color:#333 }
.my-search-area { border-top:1px solid #eee; padding:0px 0 0 0; webkit-box-shadow: 0 3px 1px rgba(0,0,0,0.1);
    box-shadow: 0 3px 1px rgba(0,0,0,0.1); }
.search-area { box-shadow:none; webkit-box-shadow:none; }
.pt10 { padding-top:10px; }
/*.login-register > li { border-right:1px solid #eee }*/
body.boxed .global-wrap { margin-top:0px; }
.search-area label { padding-left:10px; height:initial !important }
.login-register > li > a:hover { font-weight:bold;  }
.my-badge {    position: absolute;
    top: 6px;
    right: 5px;
    padding: 3px 5px;
    font-size: 10px; }

@media (max-width: 992px) {
    .margin-media { margin-top: 15px; }

    /*novo*/
    .search-area input { margin-top:0px; }
    #paymentform  .text-right { text-align:left}
}
@media (max-width: 800px) {
    .flexnav li ul { margin-bottom:0px; }
    .flexnav > li > a:hover { background:#eee}
}
@media (max-width: 768px) {
    /*.search-area input { margin-top: 0px; }*/
    .social-icons {  position:relative; display:block; top:5px }
   .desno-icons { position:relative; display:block; margin-top:-15px; right:0px;}
    /*.popust-na-slika { top:70px; }
    .omileni-na-slika { top:70px; } */
    .logo img { display: block; max-width: 100%; height: auto;}
    .partner { margin-right:20px; }
    .padding-media { padding-top:10px; padding-bottom:10px; }
    .padding-media-partner {  padding-bottom:20px; }
    /*novo*/
    .xs-padding { padding-top:10px;}
}


/*za admin*/
.ptb0 { padding-top:3px; padding-bottom:3px; }
.width-details { width:100px; }
.blue { background-color:#ff6600; color:white}
.table-order td { padding:8px 15px 8px 15px !important}
    .table-order td a { color:#333}
.width-date { width:135px; }
.table-order tr th{ padding-left:15px !important; }
.table-wrapper { padding:15px; border-radius:6px; }
.table-order { padding-top:0px !important }
.table.dataTable.no-footer { border-bottom:0px; }

/*za elementi povrzani so favorites*/
.fav-active {
    background-color: #f60;
    color: white;
}
.fav-active:hover {
    background-color: #e55b00;
    color: #e6e6e6;
}

.fav-menu-active {
    color: #f60;
}

/*za elementi povrzani so shopping cart*/
.shop-cart-active {
    background-color: #8cc732;
    color: white;
}
.shop-cart-active:hover {
    background-color: #53a318;
    color: #e6e6e6;
}

.shop-cart-menu-active {
    color: #53a318;
}

/*za elementi povrzani so logiran korisnik*/
.my_profile {
    color: #f60;
}


/*dopolnitelno od ivana za kopceto da ne se prikazuva so plava boja*/
.btn-primary:hover { background: #cc5200;}
.btn-primary { background: #f60}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary { background-color:#f60; border-color:#e65c00}

/*******ZA POPUP**/
.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

/*******ZA KOPCE-RASPRODADENO**/
.btn-danger {
  background: #FB030A;
  color: #fff !important;
}
.btn-danger:hover {
  background: #972b26;
}

/*******ZA KOPCE-RASPRODADENO**/
.product-thumb .product-inner { padding: 5px 5px 10px 5px; }

/*******ZA ISTAKNUVANJE NA OBJASNUVANJA NA FORMA**/
.small-orange { color:#ff6200; }

/********POGOLEM FONT ZA PRIKAZ NA TEXT******/
.text-font-18px { font-size: 18px; }

.text-font-20px { font-size: 20px;  font-weight: bold; }
.text-font-25px { font-size: 25px;  font-weight: bold; }


/********KOPCE ZA PRIKAZUVANJE I KRIENJE NA MENI******/
.menu-touch-button {
  background-color: #f60;  
  font-family: 'FontAwesome';
  padding: 8px 12px;
  color: #fff;

}

.menu-touch-button:before {
  content: '\f0c9';
  -webkit-font-smoothing: antialiased;
}

.menu-touch-button:hover {
  cursor: pointer;
}



/****ZA WHEEL OF FORTUNE**/
.wheel-info 
{
    font-family:Roboto, 'Open Sans', 'Helvetica Neue LT Std', 'Helv Kirilica', Arial, helvetica, sans-serif; 
    background: none repeat scroll 0 0 #161616;
    border-radius: 7px 7px 0 0;
    color: #fff;
    overflow: hidden;
    text-align: center;
}
.wheel-info li 
{
    font-family:Roboto, 'Open Sans', 'Helvetica Neue LT Std', 'Helv Kirilica', Arial, helvetica, sans-serif; 
    border-left: 1px solid rgba(255, 255, 255, 0.15);
    float: left;
    height: 100%;
    min-width: 100px;
    padding: 10px;
    font-size: 12px;
    margin: 0px;
}
.wheel-info li:first-child {
    border-left: 0;
}

.wheel-info li strong {
    display: block;
    font-size: 18px;
}

.wheel-info ul {
    display: inline-flex;
     list-style-type: none;
}

.wheel-info-error 
{
    font-family:Roboto, 'Open Sans', 'Helvetica Neue LT Std', 'Helv Kirilica', Arial, helvetica, sans-serif; 
    background: none repeat scroll 0 0 #FFF6D6;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    color: #6F6F6F;
    text-align: center;
    position: absolute;
    top: 180px;
    left: 130px;
    padding: 15px 0px;
    width: 360px;
    font-size: 12px;
}

div.winImg{
    background-image: url('/pub/img/layout/congratulation.png');
    width: 628px;
    height: 502px;
}

div.winTittle .winSubTitle{
    font-size: 26px;

    text-align: center;
}

div.winTittle{
    font-family:Roboto, 'Open Sans', 'Helvetica Neue LT Std', 'Helv Kirilica', Arial, helvetica, sans-serif; 
    background: none repeat scroll 0 0 #e2e0e1;
    border-radius: 11px;
    float: left;

    margin: 70px 115px;
    padding: 18px;

}

.link-button-green, .link-button-green:hover
{
  background: #3FA80A; 
  padding: 5px 10px 5px 10px; 
  text-decoration: none; 
  color: #FFFFFF; 
  text-transform: uppercase; 
  margin-right:15px;

}

/****PRIKAZ NA BROJ NA KUPUVACI**/
.buyers-count
{
  font-size: 17px;
}


.error_msg
{
  color: red;
}

/****CUSTIMIZE-iranje na klasite za dropdown-menu ZA OPCIITE **/
.dropdown-menu-custom {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

.dropdown-menu-custom .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
  margin: 0px;
}

.dropdown-menu-custom > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 1.42857143;
  white-space: nowrap;

  font-family: helvetica, arial, 'Roboto', sans-serif;
  color: #333333;
  font-size: 14px;
  font-weight: normal;
}
.dropdown-menu-custom > li > a:hover,
.dropdown-menu-custom > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.dropdown-menu-custom > .active > a,
.dropdown-menu-custom > .active > a:hover,
.dropdown-menu-custom > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}
.dropdown-menu-custom > .disabled > a,
.dropdown-menu-custom > .disabled > a:hover,
.dropdown-menu-custom > .disabled > a:focus {
  color: #999999;
}
.dropdown-menu-custom > .disabled > a:hover,
.dropdown-menu-custom > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}

@media (max-width: 992px) {
  .dropdown-menu-custom {
    position: static;
    float: none;
    white-space: normal;
  }

  .dropdown-menu-custom > li > a
  {
    white-space: normal;
  }
}

.deal-options-select {
    background-color: #fff;
    border: 1px solid #53a318;
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.11);
    display: block;
    line-height: 2.8rem;
    overflow: hidden;
    padding: 5px 35px 5px 5px ;
    position: relative;
    text-decoration: none;
    cursor:pointer;

    font-family: helvetica, arial, 'Roboto', sans-serif;
    color: #333333;
    font-size: 14px;
    font-weight: normal;
}


.deal-options-select::before {
    border-left: 1px solid #ccc;
    color: #78787d;
    content: "\f0d7";
    display: block;
    font-family: 'FontAwesome';
    font-size: 1.4rem;
    height: 100%;
    margin-left: 8px;
    padding: 4px 0 1px 8px;
    position: absolute;
    right: 10px;
    top: 0;
}

.deal-options-select p {
  margin: 0px;
}
.product-price-option {
  font-weight: 600;
  color: #fff;
  padding: 0 7px;
  background: #ff6200;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.product-old-price-option {
  color: #858585;
  text-decoration: line-through;
}

.selected-deal-options {
  text-decoration: none;
   background-color: #E3E4E6;
}


.img_top_banner
{
  width: 100%;
}

/* NE SE SEKJAVAM ZOSTO JA KORISTEV. ZA SEKOJ SLUCAJ NEKA STOI PRIVREMENO
@media (min-width: 768px) {
  .img_top_banner
  {
    width: auto;
  }
}
*/

.platezni-karticki-list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}

.platezni-karticki-list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 0px;
}

.search-area-white label {
  color: #333;
}

.txt16px {
  font-size: 16px;
}

.deal_details_font_format_title {
  font-family: helvetica, arial, 'Roboto', sans-serif;
  color: #333333;
  font-size: 18px;
  font-weight: normal;
}

.deal_details_font_format_tabs {
  font-family: helvetica, arial, 'Roboto', sans-serif;
  color: #333333;
  font-size: 14px;
  font-weight: normal;
}

/*TAG SYSTEM*/
.tagcloud {
  position: relative;
}

.tagcloud a { 
  display: inline-block; 
  padding: 6px 12px; 
  /*text-align: center; */
  font-family:Roboto, 'Open Sans', 'Helvetica Neue LT Std', 'Helv Kirilica', Arial, helvetica, sans-serif;
  font-size:14px !important; 
  color:#ddd; 
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  background:#FF6600;
  color:#fff !important;
  border:none;
  margin:0 0 4px 0;
  font-weight: bold;
}

.tagcloud a::before {
    background: #fff none repeat scroll 0 0;
    border-radius: 50%;
    content: "";
    height: 6px;
    margin-left: -9px;
    margin-top: 8px;
    position: absolute;
    width: 6px;
}

.tagcloud a:hover {
  text-decoration:none;
  background-color: #d95700;
}

.tag-custom {
  border-radius: 5px;
  padding: 30px;
}

