/* @group hiding */

.hide,
.menu-city_simple, .menu-city, .menu-info, .menu-main, .layout-footer, .section-newsletter, .section-company,
.homepage-recommend, .homepage-aside { display: none; }

/* @end */

/* @group basics */

body { 
	background: none;
	color: #000;
	font-family: Garamond, "Times New Roman", serif;
	font-size: 12pt;
	line-height: 18pt;
	margin: 0 !important;
	padding: 0 !important;
	width: 100% !important;
}

/* @end */

/* @group text */

h1, h2, h3, h4, h5, h6 { font-family: Helvetica, Arial, sans-serif; }

h1 { font-size: 18pt; }
h2 { font-size: 16pt; }
h3 { font-size: 14pt; }

h4, h5, h6 { 
	font-size: 12pt;
	text-transform: uppercase;
}

blockquote { margin: 20px; }
      code { font: 10pt Courier, monospace; }
        hr { background: #000; }
        ul { list-style: square; }

/* @end */

/* @group links */

a { 
	background: none;
	color: #000;
	font-weight: bold; 
	text-decoration: underline;
}

     a[href^="http://"]:visited:after,
a:link[href^="http://"]:after { 
	content: " (" attr(href) ") "; 
	font-size: 90%;
}
a[href^="http://"] { color:#000; }

/* @end */

/* @group images */

a img { border: none; }

/* @end */

/* @group tables */

table { margin: 1px; text-align:left; }
th { border-bottom: 1px solid #333;  font-weight: bold; }
td { border-bottom: 1px solid #333; }
th,td { padding: 4px 10px 4px 0; }
tfoot { font-style: italic; }
caption { background: #fff; margin-bottom:2em; text-align:left; }
thead {display: table-header-group;}
tr {page-break-inside: avoid;} 

/* @end */