html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, 
/* ZARADI DHTML EDITOR
ol, ul, li,
*/
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	text-align: left;
	vertical-align: baseline;
}
body {
	background: #fff;
	color: #000;
	line-height: 1;
}

/*  ZARADI DHTML EDITOR
ol, ul { list-style: none; }
*/
 input { vertical-align: middle; }
   del { text-decoration: line-through; }
   ins { text-decoration: none; } 
:focus { outline: 0; }

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
blockquote, q { quotes: none; }

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* @group IE fixes */

img { -ms-interpolation-mode: bicubic; }

input { overflow: visible; }

/* @group YUI */

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
abbr, acronym { border: 0; }
caption, th {
	font-weight: normal;
	text-align: left;
}
