/* @group components */

/* @group helpers */

.hide, .print {
	overflow: hidden !important;
	position: absolute !important; left: -9999px !important; top: -9999px !important;
	width: 0 !important; height: 0 !important;
}

.clear {
	clear: both;
	display: block;
}
#ie6 span.clear,
#ie7 span.clear { display: inline; }

/* @end */

/* @group icons */

#layout .icon-time,
#layout .icon-people,
#layout .icon-facebook,
#layout .icon-mail,
#layout .icon-link,
#layout .icon-picture,
#layout .icon-bubble,
#layout .icon-ok,
#layout .icon-lock,
#layout .icon-gift,
#layout .icon-headset,
#layout .icon-shield,
#layout .icon-letter {
	background-repeat: no-repeat;
	/*background-image: url('../../images/new/sprite-icons.png');*/
}
#layout .icon-time     { background-position: 13px   3px; padding-left: 55px; }
#layout .icon-people   { background-position: 16px -74px; padding-left: 55px; }
#layout .icon-facebook { background-position: 0 -160px; padding-left: 21px }
#layout .icon-mail     { background-position: 0 -223px; padding-left: 21px }
#layout .icon-link     { background-position: 0 -282px; padding-left: 21px }
#layout .icon-picture  { background-position: 0 -345px; padding-left: 21px }
#layout .icon-bubble   { background-position: 0 -405px; padding-left: 60px }
#layout .icon-ok       { background-position: 0 -555px; padding-left: 21px }
#layout .icon-lock     { background-position: 0 -497px; padding-left: 21px }
#layout .icon-gift     { background-position: 0 -635px; padding-left: 22px }
#layout .icon-headset  { background-position: 7px -712px; padding-left: 45px; color: #000; }
#layout .icon-shield   { background-position: 0 -813px; padding-left: 40px; padding-top: 2px; height:36px; }
#layout .icon-letter   { background-position: 5px -923px; padding-left: 43px; }

#layout .icon-edit,
#layout .icon-coins,
#layout .icon-pdf,
#layout .icon-coinsplus,

#layout .icon-edit       { background-position: 14px 2px; padding-left: 36px; }
#layout .icon-coins      { background-position: 3px -60px; padding-left: 45px; margin-top: 20px; }
#layout .icon-pdf        { background-position: 10px -147px; padding-left: 36px; }
/* #layout .uknown       { background-position: 0 -217px; width: 9px; height: 8px; } */
#layout .icon-coinsplus  { background-position: 10px -267px; padding-left: 60px; }



/* @end */

/* @group box */

.section-box {
	border: 1px solid #ccc;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	margin: 0 0 30px;
}
.section-box h2 {
	background: #ececec;
	-moz-border-radius-topleft: 7px;
	-webkit-border-top-left-radius: 7px;
	border-top-left-radius: 7px;
	-moz-border-radius-topright: 7px;
	-webkit-border-top-right-radius: 7px;
	border-top-left-radius: 7px;
	color: #333;
	font-size: 15px; line-height: 24px;
	font-weight: bold;
	height: 1%;
	padding: 6px 13px;
	position: relative;
}
.section-box h2 span {
	/*background: #008800 url(../../images/new/form-button.png) repeat-x scroll 0 0;*/
	-moz-border-radius-bottomleft: 7px;
	-webkit-border-bottom-left-radius: 7px;
	border-bottom-left-radius: 7px;
	-moz-border-radius-bottomright: 7px;
	-webkit-border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
	color: #fff;
	display: block;
	font-size: 19px; line-height: 24px;
	font-weight: bold;
	padding: 10px 7px 10px 8px;
	position: absolute; top: -1px; right: 22px;
	-moz-box-shadow: #ccc 0 0 5px;
	-webkit-box-shadow: #ccc 0 0 5px;
	box-shadow: #ccc 0 0 5px;
}

.section-box .em {
	background: #ececec;
	-moz-border-radius-bottomleft: 7px;
	-webkit-border-bottom-left-radius: 7px;
	border-bottom-left-radius: 7px;
	-moz-border-radius-bottomright: 7px;
	-webkit-border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
	color: #333;
	font-size: 11px; line-height: 15px;
	padding: 9px 20px 12px 13px;
}
.section-box .em h3 { margin: 0 0 1px; }
.section-box .em p  { margin: 0 0 4px; }

.section-box .plain {
	padding: 9px 20px 16px 13px;
}
.section-box .plain h3 { margin: 0; }
.section-box .plain p  { margin: 0 0 4px; line-height: 18px; }

.section-box .strong {
	background: #000;
	-moz-border-radius-bottomleft: 7px;
	-webkit-border-bottom-left-radius: 7px;
	border-bottom-left-radius: 7px;
	-moz-border-radius-bottomright: 7px;
	-webkit-border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
	color: #fff;
	font-size: 15px;
	padding: 10px 20px 11px 12px;
}
.section-box .strong strong { font-size: 17px; }

.section-box .img     { overflow: hidden; }
.section-box .img img { display: block; }

/* @end */

/* @group container */

.section-container {
	background: #fff;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	-moz-box-shadow: #888 0 0 5px;
	-webkit-box-shadow: #888 0 0 5px;
	box-shadow: #888 0 0 5px;
	padding: 18px;
	margin: 0 0 15px;
	
	overflow: auto;
	height: 1%;
}
#ie6 .section-container,
#ie7 .section-container,
#ie8 .section-container {
	border: 1px solid #ccc;
}



.section-container .caption {
	background: #f3f3f3;
	-moz-border-radius-topleft: 7px;
	-webkit-border-top-left-radius: 7px;
	border-top-left-radius: 7px;
	-moz-border-radius-topright: 7px;
	-webkit-border-top-right-radius: 7px;
	border-top-right-radius: 7px;
	margin: -18px -18px 0 -18px;
	overflow: hidden;
	position: relative;
}
#ie6 .section-container .caption {
	width: 695px;  /* total weirdness */
}
.section-container .caption dl {
	font-size: 15px; line-height: 24px;
	padding: 10px 18px;
}
.section-container .caption dt {
	color: #333;
	float: left;
	padding: 1px 18px 1px 0;
	text-align: right;
	width: 100px;
}
.section-container .caption dd {
	padding: 1px 0;
}
.section-container .caption h2 {
	font-size: 17px; line-height: 24px;
	margin: 0;
	padding: 9px 18px 8px;
}
.section-container .caption h3 {
	color: #000;
	line-height: 18px;
	margin: 0;
	padding: 12px 93px 12px 18px;
}   
.section-container .caption p {
	padding: 8px 18px; 
	line-height: 1.5; font-size: 15px;
}
	.section-container .caption p small {
		color: #777; font-size: 13px;
	}
.section-container .caption .details {
	color: #333;
	position: absolute; right: 22px; top: 13px;
}
.section-container .caption .details span {
	display: block;
	text-align: right;
}

/* @end */

/* @group form */

.section-form       { overflow: auto; padding: 12px 0 7px; }
.section-form table { width: 100%; }

.section-form th,
.section-form td {
	padding: 0 0 15px;
	vertical-align: top;
}
.section-form th {
	text-align: right;
	width: 113px;
	padding-right: 5px;
}

.section-form .group td,
.section-form .group th {
	border-top: 1px solid #ddd;
	padding-top: 11px;
}
#ie6 .section-form .group td,
#ie6 .section-form .group th { padding-top: 15px; }



     .section-form input.submit { margin-top: 5px; }
#ie6 .section-form input.submit { margin-top: 0; }

.section-form textarea {
	margin-bottom: 1px;
	width: 400px; height: 70px;
}
     .section-form label.text { position: relative; top: 5px; }
#ie6 .section-form label.text,
#ie7 .section-form label.text { position: relative; top: 6px; }

.section-form input.checkbox {
	clear: both;
	float: left;
	margin: 4px 10px 0 2px;
}
#ie6 .section-form input.checkbox,
#ie7 .section-form input.checkbox { margin: -2px 7px 0 0; }

.section-form label.checkbox {
	float: left;
	display: inline;
	font-size: 13px; line-height: 18px;
	margin: 0 0 10px;
	width: 90%;
}



.section-form .tooltip {
	/*background: url('../../images/new/form-tooltip.png') 0 50% no-repeat #f4f7d1;*/
	color: #868868;
	padding: 8px 12px 8px 18px;
	position: relative; left: 5px; top: 2px;
}
#ie6 .section-form .tooltip,
#ie7 .section-form .tooltip { top: 0; }



.section-form .help {
	font-size: 15px; line-height: 21px;
	position: relative; top: 4px; left: 12px;
}
.section-form a.help {
	font-size: 13px;
}
.section-form .help small {
	color: #999;
	display: block;
	font-size: 11px; line-height: 15px;
	position: absolute; top: 0; left: 0;
	width: 270px;
}
#ie6 .section-form .help { top: 1px; }
#ie7 .section-form .help { top: 3px; }
#ie6 .section-form .help small { top: 1px; }

.section-form .small { color: #999; }



        .account-helpcity { width: 350px; }
#layout .account-helppassword { top: -8px; }
   #ie6 .account-helppassword { top: -2px; }
   #ie7 .account-helppassword { top: -3px; }



.payment-title {
	font-weight: bold;
	float: left;
	width: 165px;
}
.payment-title label { color: #000; }

     .payment-help { color: #999; position: relative; top: 2px; }
#ie6 .payment-help { top: -1px; }
#ie7 .payment-help { top: 0; }    

.section-form h3.label-like {
	margin-bottom: 4px;
	font-weight: normal; color: #333;
}

/* @end */

/* @group messages */

.message {
	margin: 20px 0;
	padding: 15px 50px;
	-moz-border-radius:    7px; 
	-webkit-border-radius: 7px; 
	border-radius:         7px;
}

.message.error {
	border: 1px solid #D3929C; 
	/*background: #FFD1D8 url(../images/icon-alert.png) 20px 17px no-repeat;*/
}

.message.success {
	/*background: #DDFFD7 url(../images/icon-success.png) 20px 17px no-repeat;*/
	border: 1px solid #72CB62;
}

/* @end */

/* @group custom content */

/* @group company */

.section-company {
	background: #ebebeb;
	border-top: 1px solid #ccc;
	clear: both;
	font-size: 15px; line-height: 24px;
	padding: 17px 0 20px; 
}

/* @end */

/* @group media */

.section-media {
  display:block;
  width:100%;
  height:100px;
	clear: both;
}

.section-media-inner { 
	/*background:  url('../../images/new/brick-logos.png') center 0 no-repeat #ffffff;*/
  width:100%;
  height:100px;
}

/* @end */

/* @group you are late */

.section-late {
	background: #e00000;
	-moz-border-radius-topleft: 6px;
	-webkit-border-top-left-radius: 6px;
	border-top-left-radius: 6px;
	-moz-border-radius-topright: 6px;
	-webkit-border-top-right-radius: 6px;
	border-top-right-radius: 6px;
	color: #fff;
	font-weight: bold;
	font-size: 15px;
	margin: 0 auto 18px;
	padding: 8px 0;
	position: relative; top: 18px;
	width: 360px;
	text-align: center;
}

/* @end */

/* @group newsletter */

.section-newsletter {
	background: #faf7e0;
	border: 1px solid #ccc8ad;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	height: 1%;
	overflow: auto;
	padding: 10px 0 10px 10px;
}
.section-newsletter h2 {
	float: left;
	padding: 4px;
	width: 225px;
}
.section-newsletter h2.em {
	width: 360px;
}
.section-newsletter form {
	float: left;
	margin: 0 5px 0 0;
	position: relative; left: -5px;
	width: 390px;
	text-align: center;
}
.section-newsletter form input.text {
	width: 175px;
}    
.section-form input.text.short {
	width: 70px;
}
.section-newsletter small {
	color: #333;
	float: left;
	font-size: 11px; line-height: 15px;
	width: 310px;
}
.section-newsletter small span {
	display: block;
	margin: 0 0 3px;
}

/* @end */

/* @group mentions */

.section-mentions {
	overflow: auto;
	margin: 14px 0 9px 5px;
	width: 220px;
}
#ie6 .section-mentions,
#ie7 .section-mentions { padding: 0 0 20px; }

.section-mentions li {
	background: transparent;
	float: left;
	margin: 0 0 10px;
	padding: 0;
	width: 110px;
}
.section-mentions a {
	display: block;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	text-align: center;
}
.section-mentions a:hover { opacity: .5; }

.section-mentions span {
	display: block;
	cursor: pointer;
	/*background-image: url('../../images/new/sprite-logos.png');*/
	position: absolute; left: 0; top: 0;
}

.logo-ct24,
.logo-ct24 span { background-position: 0 0; width: 35px; height: 35px; }
.logo-dnes,
.logo-dnes span { background-position: 0 -85px; width: 51px; height: 20px; }
.logo-ekonom,
.logo-ekonom span { background-position: 0 -152px; width: 81px; height: 25px; }
.logo-euro,
.logo-euro span { background-position: 0 -223px; width: 62px; height: 25px; }
.logo-financni,
.logo-financni span { background-position: 0 -298px; width: 79px; height: 38px; }
.logo-finexpert,
.logo-finexpert span { background-position: 0 -380px; width: 81px; height: 38px; }
.logo-hospodarky,
.logo-hospodarky span { background-position: 0 -450px; width: 81px; height: 25px; }
.logo-lidovky,
.logo-lidovky span { background-position: 0 -520px; width: 100px; height: 20px; }
.logo-lupa,
.logo-lupa span { background-position: 0 -585px; width: 51px; height: 25px; }
.logo-marketing,
.logo-marketing span { background-position: 0 -653px; width: 68px; height: 25px; }
.logo-novinky,
.logo-novinky span { background-position: 0 -728px; width: 81px; height: 25px; }
.logo-regal,
.logo-regal span { background-position: 0 -795px; width: 62px; height: 35px; }
.logo-tyden,
.logo-tyden span { background-position: 0 -873px; width: 80px; height: 25px; }
.logo-z1,
.logo-z1 span { background-position: 0 -945px; width: 31px; height: 34px; }

/* @end */

/* @end */

/* @group misc */

.link-wrapper {
	cursor: pointer;
	text-decoration: none;
}

.link-wrapper table { color: #000; }

/* @group purchase button */

.figure-purchase {
	background: #faf7e0;
	border: 1px solid #ccc8ad;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}
.figure-purchase_disabled {
	background: #eee;
	border: 1px solid #ccc;
}
.figure-purchase:hover {
	border-color: #e5e1c7;
}
.figure-purchase_disabled:hover {
	border: 1px solid #ccc;
}
.figure-purchase a:link,
.figure-purchase a:visited,
.figure-purchase .wrapper {
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	color: #000;
	display: block;
	position: relative;
	height: 40px; width: 228px;
	text-decoration: none;
}
#ie6 .figure-purchase a,
#ie7 .figure-purchase a,
#ie8 .figure-purchase a {
	width: 226px;
}
.figure-purchase a:hover {
	background-color: #ffffee;
}
.figure-purchase em {
	/*background: url('../../images/new/form-button.png') 0 0 repeat-x #008800;*/
	background: -moz-linear-gradient(top,#48b548 0,#72c670 2%, #008800 99%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#48b548),color-stop(2%,#72c670),color-stop(99%,#008800));
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: 17px; line-height: 40px;
	font-weight: bold;
	font-style: normal;
	position: absolute; left: -21px; top: -1px;
	text-shadow: #444 1px 1px 2px;
	-moz-box-shadow: #ccc 0 1px 2px;
	-webkit-box-shadow: #ccc 0 1px 2px;
	box-shadow: #ccc 0 1px 2px;
	text-align: center;
	width: 125px; height: 42px;
}
.figure-purchase_disabled em {
	/*background: url('../../images/new/form-button.png') 0 0 repeat-x #999;*/
	background: -moz-linear-gradient(top,#999 0,#ccc 2%, #aaa 99%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#999),color-stop(2%,#ccc),color-stop(99%,#aaa));
}
.figure-purchase .wrapper em {
	cursor: default;
}
.figure-purchase_disabled .wrapper em {
	font-size: 15px;
}
#ie6 .figure-purchase em,
#ie7 .figure-purchase em,
#ie8 .figure-purchase em {
	/*background: url('../../images/new/homepage-button.png') 0 0 no-repeat #008800;*/
}
#ie6 .figure-purchase_disabled em,
#ie7 .figure-purchase_disabled em,
#ie8 .figure-purchase_disabled em {
	/*background: url('../../images/new/homepage-button_disabled.png') 0 0 no-repeat #999;*/
}
.figure-purchase a:hover em {
	background-position: 0 -80px;
	background-color: #1ea928;
	background: -moz-linear-gradient(top,#48b548 0,#72c670 2%, #1ea928 99%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#48b548),color-stop(2%,#72c670),color-stop(99%,#1ea928));
}
#ie7 .figure-purchase a:hover em,
#ie8 .figure-purchase a:hover em {
	background-position: 0 -42px;
}
.figure-purchase span {
	display: block;
	cursor: pointer;
	font-size: 21px;
	font-weight: bold;
	margin: 0 0 0 110px;
	padding: 10px 0 0 0;
	width: 110px;
	text-align: center;
}
.figure-purchase .wrapper span {
	cursor: default;
}

/* @end */

/* @end */

/* @end */

/* @group common templates */

/* @group layout */

#layout { 
	background: #f3f3f3; 
}

body.pg-product #layout {
	background: #fff;
}

.layout-wrapper {
	margin: 0 auto;
	width: 960px;
}

/* @group header */

.layout-header {
    /*background: url('../../images/new/layout-header-bg.png') 0 0 repeat-x #000;*/
    height: 7.7em; }
.layout-header .layout-wrapper { position: relative; height: 7.7em; z-index: 10000; }

.layout-header .logo { position: absolute; left: -17px; top: 7px; }

.layout-header .english:link,
.layout-header .english:visited {
	/*background: url('../../images/new/layout-header-en.png') right top no-repeat;*/
	color: #000;
	display: block;
	font-size: 11px; line-height: 15px;
	padding: 3px 40px 3px 0;
	position: absolute; top: 0; right: 0;
	text-decoration: none;
}
.layout-header .english:hover,
.layout-header .english:active,
.layout-header .english:focus {
	color: #999;
}

.layout-header .czech:link,
.layout-header .czech:visited {
	/*background: url('../../images/new/layout-header-cs.png') right top no-repeat;*/
	color: #000;
	display: block;
	font-size: 11px; line-height: 15px;
	padding: 3px 40px 3px 0;
	position: absolute; top: 0; right: 0;
	text-decoration: none;
}
.layout-header .czech:hover,
.layout-header .czech:active,
.layout-header .czech:focus {
	color: #999;
}

.layout-header .claim { color: #999; position: absolute; right: 21.5em; bottom: 50px; }
.layout-header .claim span { margin: 0 3px; } /* IE; use &thinsp; otherwise */

/* @group menu city */

.menu-city_simple {
	background: #000;
	position: absolute; left: 271px; top: 29px;
	overflow: hidden;
	padding: 0 0 10px;
	width: 410px;
}
.menu-city_simple h3 {
	float: left;
	font-size: 13px; line-height: 21px;
	font-weight: normal;
	margin: 0;
}
.menu-city_simple #city-active {
	display: none;
}
.menu-city_simple div,
.menu-city_simple ul {
	display: inline;
}
.menu-city_simple li {
	background: transparent;
	float: left;
	line-height: 21px;
	padding: 0;
	margin: 0;
}
.menu-city_simple li.active {
	font-weight: bold;
}
.menu-city_simple li a:link,
.menu-city_simple li a:visited {
	background: #000;
	color: #fff;
	padding: 0 0 0 14px;
}
.menu-city_simple li.active a {
	text-decoration: none;
}



.menu-city {
	position: absolute; left: 271px; top: 29px;
}
.menu-city h3 {
	float: left;
	font-size: 13px; line-height: 21px;
	font-weight: normal;
	margin: 0 10px 0 0;
}
.menu-city div {
	position: absolute; top: -3px; left: 3.5em;
	width: 14em;
	z-index: 10000;
}
#ie6 .menu-city div,
#ie7 .menu-city div {
	top: -4px;
}
.menu-city strong {
	/*background: url('../../images/new/layout-header-select.png') 100% 40% no-repeat #000;*/
	border: 1px solid #333;
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: 17px; line-height: 1.5em;
	padding: 0 0 0 6px;
	height: 1.45em;
}
.menu-city ul {
	display: none;
	border-bottom: 1px solid #333;
	margin: 0;
	overflow: hidden;
	width: 100%;
	-moz-box-shadow: #888 0 2px 4px;
	-webkit-box-shadow: #888 0 2px 4px;
	box-shadow: #888 0 2px 4px;
} 
.no-js .menu-city div:hover ul {display: block;}
#ie6 .menu-city ul {
	border-bottom: none;
}
.menu-city li {
	background: transparent;
	float: left;
	clear: both;
	font-size: 17px; line-height: 1.6em;
	margin: 0;
	padding: 0;
	width: 100%;
}
.menu-city li a:link,
.menu-city li a:visited {
	background: #333;
	border-right: 1px solid #333;
	border-left: 1px solid #333;
	color: #fff;
	display: block;
	height: 1.6em;
	margin: 0;
	padding: 0 0 0 6px;
	text-decoration: none;
}
.menu-city li a:hover {
	background: #555;
}
.menu-city li.active {
	display: none;
}

/* @end */

/* @group menu info */

.menu-info {
	margin: 0;
	position: absolute; right: 0; bottom: 50px;
}
.menu-info li {
	background: transparent;
	float: left;
	line-height: 21px;
	margin: 0 5px 0 10px;
	padding: 0;
}
.menu-info li a:link,
.menu-info li a:visited {
	color: #fff;
}

/* @end */

/* @group menu main */

.menu-main {
	color: #fff;
	margin: 0;
	position: absolute; left: 270px; bottom: 0;
	width: 690px;
}
.menu-main li {
	background: transparent;
	float: left;
	margin: 0 1px;
	padding: 0;
}
.menu-main li a:link,
.menu-main li a:visited {
	background: #303030;
	border: 1px solid #4f4f4f;
	-moz-border-radius-topleft: 8px;
	-webkit-border-top-left-radius: 8px;
	border-top-left-radius: 8px;
	-moz-border-radius-topright: 8px;
	-webkit-border-top-right-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom: 0;
	color: #fff;
	display: block;
	font-size: 15px; line-height: 24px;
	float: left; /* IE */
	padding: 4px 12px 4px;
	text-decoration: none;
}
.menu-main li.last-child {
	float: right;
}
.menu-main li.active a:link,
.menu-main li.active a:visited,
.menu-main li a:hover,
.menu-main li a:active,
.menu-main li a:focus {
	background: #fff;
	border: 0;
	color: #333;
	padding: 5px 13px 4px;
}
.menu-main li a:hover,
.menu-main li a:active,
.menu-main li a:focus {
	color: #999;
}
.menu-main_purchase li a:hover,
.menu-main_purchase li a:active,
.menu-main_purchase li a:focus {
	background: #f3f3f3;
}
.menu-main li.active a:link,
.menu-main li.active a:visited {
	font-weight: bold;
}

/* @end */

/* @group menu user */

.menu-user {
	position: absolute; right: 0; bottom: 0;
	z-index: 1000;
}



.menu-user div {
	position: absolute; right: 0; bottom: 0;
	width: 350px;
}
.menu-user h3,
.menu-user em {
	float: right;
	padding: 4px 12px 4px;
}
.menu-user em {
	color: #999;
	padding: 5px 14px 0 0;
}
.menu-user h3 {
	background: #303030;
	-moz-border-radius-topleft: 8px;
	-webkit-border-top-left-radius: 8px;
	border-top-left-radius: 8px;
	-moz-border-radius-topright: 8px;
	-webkit-border-top-right-radius: 8px;
	border-top-right-radius: 8px;
	border: 1px solid #4f4f4f;
	border-bottom: 0;
	color: #fff;
	font-size: 15px; line-height: 24px;
	margin: 0;
}



.menu-user ul {
	-moz-border-radius-bottomleft: 8px;
	-webkit-border-bottom-left-radius: 8px;
	border-bottom-left-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	-webkit-border-bottom-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top: 1px solid #4f4f4f;
	position: absolute; right: 0; top: 0;
	width: 150px;
	margin: 0;
	padding: 0;
	-moz-box-shadow: #888 0 2px 4px;
	-webkit-box-shadow: #888 0 2px 4px;
	box-shadow: #888 0 2px 4px;
}
.menu-user li {
	clear: both;
	float: left;
	background: transparent;
	padding: 0;
	margin: 0;
	width: 100%;
}
.menu-user a:link,
.menu-user a:visited {
	background: #303030;
	border: 1px solid #4f4f4f;
	border-top: 0;
	color: #fff;
	display: block;
	padding: 5px 0 6px 10px;
	text-decoration: none;
	height: 1%;
}
.menu-user a:active,
.menu-user a:hover,
.menu-user a:focus {
	background: #555;
	text-decoration: underline;
}
.menu-user ul li:last-child a {
	-moz-border-radius-bottomleft: 8px;
	-webkit-border-bottom-left-radius: 8px;
	border-bottom-left-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	-webkit-border-bottom-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

/* @end */

/* @end */

/* @group footer */

.layout-footer {
    background: #000;
    color: #999;
    clear: both;
    overflow: hidden;
    width: 100%;
}
.layout-footer a:link,
.layout-footer a:visited {
    color: #fff;
    text-decoration: none;
}
.layout-footer a:hover,
.layout-footer a:active,
.layout-footer a:focus {
    text-decoration: underline;
}



.layout-footer .large ul {
    overflow: auto;
}
.layout-footer .large li {
    background: transparent;
    float: left;
    padding: 10px 0 10px;
}
.layout-footer .large a {
    display: inline;
    float: left;
    padding: 10px 0;
}
.layout-footer .large a:hover,
.layout-footer .large a:active,
.layout-footer .large a:focus {
    color: #fff;
    text-decoration: none;
}
.layout-footer .large a:hover em,
.layout-footer .large a:active em,
.layout-footer .large a:focus em {
    text-decoration: underline;
}
.layout-footer .large em {
    color: #fff;
    font-size: 15px;
    font-style: normal;
}
.layout-footer .large span {
    color: #333;
    display: block;
    font-size: 11px;
}




.layout-footer .large a {
    /*background: url('../../images/footer-large.png') no-repeat top left;*/
}
.layout-footer .large .iphone a  { background-position: 0 0; padding-left: 77px; }
.layout-footer .large .kolo a    { background-position: 0 -103px; padding-left: 68px; margin-left: 50px; }
.layout-footer .large .poukaz a  { background-position: 0 -209px; padding-left: 105px; margin-left: 70px; }
.layout-footer .large .fotomat a { background-position: 0 -317px; padding-left: 80px; margin-left: 50px; }




.layout-footer .medium {
    clear: both;
    padding: 0 0 15px;
    overflow: hidden;
    height: 1%;
}
.layout-footer .medium ul {
    float: left;
    border-right: 1px solid #333;
    margin: 0 20px 0 0;
    min-height: 155px;
}
.layout-footer .medium li {
    background: transparent;
    padding: 4px 0 7px;
    margin: 0;
}



.layout-footer .press {
    float: left;
    width: 445px;
    position: relative;
}
.layout-footer .press h3 {
    margin: 1px 0 0;
    font-size: 13px;
}
.layout-footer .press p {
    color: #333;
    display: none;
    font-size: 11px; line-height: 17px;
    position: absolute; top: 14px; left: 0;
    width: 420px; height: 60px;
}
.layout-footer .press h4 {
    float: left;
    margin: 65px 17px 0 0;
}
.layout-footer .press a {
    /*background: red url('../../images/footer-press.png') no-repeat -14px -12px;*/
    display: block;
    height: 30px;
    width: 35px;
    opacity: .6;
}
#ie6 .layout-footer .press a,
#ie7 .layout-footer .press a,
#ie8 .layout-footer .press a {
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
} 
.layout-footer .press .novinky a { background-position: -67px -12px; width: 85px; }
.layout-footer .press .dnes    a { background-position: -184px -12px; width: 52px; }
.layout-footer .press .lidovky a { background-position: -255px -12px; width: 132px; }
.layout-footer .press .lupa    a { background-position: -397px -12px; width: 60px; }
.layout-footer .press .lupa      { margin-right: 0; }

.layout-footer .press a:hover,
.layout-footer .press .active a {
    opacity: 1;
}
#ie6 .layout-footer .press a:hover,
#ie6 .layout-footer .press .active a,
#ie7 .layout-footer .press a:hover,
#ie7 .layout-footer .press .active a,
#ie8 .layout-footer .press a:hover,
#ie8 .layout-footer .press .active a {
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
.layout-footer .press a span {
    display: none;
}



.layout-footer .small {
    border-top: 1px solid #333;
    clear: both;
    color: #333;
    font-size: 11px;
    overflow: hidden;
    padding: 6px 0 8px;
    height: 1%;
}
.layout-footer .small a:link,
.layout-footer .small a:visited {
    color: #333;
    float: left;
    margin: 0 13px 0 0;
}
.layout-footer .small span {
    float: right;
}

/* @end */

/* @end */

/* @group subpage */

.subpage-layout {
	/*background: #f3f3f3 url(../../images/new/grad-vert-white2grey.png) repeat-x;*/
	overflow: auto;
	padding: 18px 0 50px;
}
.subpage-layout h1 {
	font-size: 20px; line-height: 26px;
	margin: 0 0 11px;
}

/* @group content */

.subpage-content {
	float: left;
	width: 695px;
}
.subpage-content h2 {
	font-size: 20px; line-height: 26px;
	margin: 18px 0 10px;
}



.subpage-help {
	color: #333;
	margin: 20px 50px 22px 13px;
}
.subpage-help h3 {
	color: #000;
	font-size: 100%;
}
.subpage-help p {
	line-height: 18px;
	margin: 7px 0 14px;
} 
.subpage-help p.em {
	font-size: 15px; color: #000; font-weight: bold;
}

/* @end */

/* @group sidebar */

.subpage-footer {
	float: right;
	width: 225px;
}

/* @end */

/* @end */

/* @end */

/* @group custom templates */

/* @group homepage */

/* @group main content */

.homepage-content {
	/*background: url('../../images/new/homepage-content-bg2.png') center top repeat-x;*/
	clear: both;
	height: 1%; /* IE7 */
	padding: 0 0 0px;
}
.homepage-content h1 {
	padding: 25px 15px 20px;
	text-align: center;
}

/* @group billboard */

.homepage-billboard {
	background: #fff;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	-moz-box-shadow: #888 0 0 5px;
	-webkit-box-shadow: #888 0 0 5px;
	box-shadow: #888 0 0 5px;
	height: 1%; /* IE */
	margin: 6px 0 14px;
	overflow: auto;
	padding: 10px;
	position: relative;
	z-index: 100;
}
#ie6 .homepage-billboard,
#ie7 .homepage-billboard,
#ie8 .homepage-billboard {
	border: 1px solid #ccc;
	position: relative; left: 0; /* IE6; negative margin would be enough otherwise */
}



.homepage-billboard .img {
	background-position: center center;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	float: right;
	overflow: hidden;
	width: 680px; height: 280px;
}
.homepage-billboard .img img {
	display: none;
}



.homepage-billboard .text {
	float: left;
	width: 250px;
}
#ie6 .homepage-billboard .text,
#ie7 .homepage-billboard .text,
#ie8 .homepage-billboard .text { width: 248px; }



.homepage-billboard .figure-purchase {
	margin: 0 0 0 20px;
}



.homepage-billboard p {
	clear: both;
	color: #333;
	margin: 7px 0;
	text-align: center;
}
.homepage-billboard p.last-child {
	margin-bottom: 0;
}
.homepage-billboard ul {
	margin: 10px 0 0;
}
.homepage-billboard li {
	background: transparent;
	margin: 0;
	padding: 0;
}
.homepage-billboard .price {
	display: inline;
	margin: 0 0 5px 12px;
}
.homepage-billboard .price,
.homepage-billboard .discount,
.homepage-billboard .saving {
	color: #333;
	float: left;
	padding: 0 18px 11px 0;
}
.homepage-billboard .price li.last-child,
.homepage-billboard .discount li.last-child,
.homepage-billboard .saving li.last-child { padding-right: 0; }

.homepage-billboard .price strong,
.homepage-billboard .discount strong,
.homepage-billboard .saving strong {
	color: #000;
	display: block;
	font-size: 17px;
	word-spacing: -1px;
}
.homepage-billboard .time,
.homepage-billboard .customers {
	background: #eee;
	clear: both;
	color: #333;
	font-size: 11px;
	margin: 0;
	padding: 6px 0;
}
.homepage-billboard .time {
	height: 1%;
}
.homepage-billboard .time span {
	color: #000;
	display: block;
	margin: 0 0 0 -7px;
}
.homepage-billboard .time strong {
	font-size: 17px;
	padding: 0 2px 0 7px;
}
.homepage-billboard .progress {
	background: #fff;
	border: 1px solid #2bd0ff;
	display: block;
	margin: 0 0 0 10px;
	position: relative; top: 5px;
	width: 228px;
}
#ie6 .homepage-billboard .progress,
#ie7 .homepage-billboard .progress {
	width: 226px;
}
.homepage-billboard .progress div {
	/*background: url('../../images/new/homepage-progressbar.png') repeat-x #2bd0ff;*/
	height: 6px;
}
#ie6 .homepage-billboard .progress div {
	margin-bottom: -8px;
}
.homepage-billboard .customers strong {
	color: #000;
	font-size: 17px;
	padding: 0 2px 0 0;
}
.homepage-billboard .customers em {
	color: #000;
	font-style: normal;
	font-size: 13px;
}
.homepage-billboard .customers span {
	display: block;
	margin: -3px 0 0;
}

/* @end */

/* @group recommend */

.homepage-recommend {
	color: #333;
	margin: -3px 0 0;
	padding: 0 0 5px;
}

.homepage-recommend a:link,
.homepage-recommend a:visited {
	color: #333;
	margin: 0 0 0 12px;
	padding: 2px 0;
	text-decoration: none;
}
.homepage-recommend a:hover,
.homepage-recommend a:active,
.homepage-recommend a:focus {
	text-decoration: underline;
}

/* @end */

/* @end */

/* @group details */

.homepage-details-font {
	font-size: 15px;
	line-height: 23px;
}
.partneraddress p {
  font-size:13px;
}
.homepage-details {
	float: right;
	padding: 0 0 30px;
	width: 690px;
}
.homepage-details img {
	display: block;
	margin: 25px auto;
}
.homepage-details .section-box {
	float: right;
	width: 218px;
	margin: 15px 0 30px 30px;
	border: 0;
}

.homepage-details .section-box img {
       margin: 0;
}  

.homepage-details .highlights li {
       border-bottom: 1px solid #ddd;
       width: 430px;  
       font-weight:bold;
	     /*background: url('../../images/new/bullet2.gif') left .48em no-repeat;*/
       margin: 0 0 10px 0;
       padding: 0 0 7px 1em;
}


.homepage-diskuze {
	line-height: 24px;
	margin: 30px 0;
}
.homepage-diskuze span,
.homepage-diskuze a {
	font-size: 17px;
}
.homepage-diskuze span {
	display: block;
}
.homepage-diskuze a {
	font-weight: bold;
	margin: 0 5px 0 0;
}



.homepage-aside {
	float: left;
	padding: 15px 0 0;
	width: 241px;
}

/* @end */

/* @end */

/* @group purchase (multiple templates) */

.purchase-credits {
	background: #f7fcd9;
	margin: 11px 0 8px;
	padding: 6px 13px;
}
.purchase-sent p {
	font-size: 15px; line-height: 21px;
	margin: 0 20px 3px 0;
}
.purchase-sent strong {
	background: #f7fcd9;
	padding: 2px 5px;
}
.purchase-sent small {
	color: #999;
}  

/* replaces .purchase-sent on buy.success. If .purchase-sent  isn't used anywhere else, it can be removed. @maybe */
.purchase-sent-v2 {
	padding: 0;
}

.purchase-sent-v2 .content {
	padding: 18px 18px 18px 175px;
	/*background: white url(../images/page-icon-envelope-with-back.png) 0 40px no-repeat;*/
}

	.purchase-sent-v2 h1 {
		margin:20px 0 10px;
		font-size: 30px;
	}

	.purchase-sent-v2 .subtitle {
		font-size: 21px; line-height: 27px;
	}

		.purchase-sent-v2 .subtitle strong {
			background: #f7fcd9;
			padding: 2px 5px;
		}

	.purchase-sent-v2 small {
		color: #333;
	}
	
.purchase-sent-v2 .facebook {
	padding: 18px 18px 10px; 
	background: #f3f3f3;
	-moz-border-radius:    0 0 7px 7px; 
	border-radius:         0 0 7px 7px; 
}

	.purchase-sent-v2 .facebook h2 {
		font-size: 15px; margin-top: 0;
	}



.purchase-summary {
	font-size: 15px; line-height: 24px;
	width: 100%;
}
.purchase-summary th,
.purchase-summary td {
	border-bottom: 1px solid #ccc;
	padding: 4px 0;
}
.purchase-summary th {
	color: #333;
	padding-right: 18px;
	width: 100px;
	text-align: right;
}
.purchase-summary td {
	font-weight: bold;
}
.purchase-summary small {
	color: #333;
	font-weight: normal;
}



.purchase-aside h3 {
	color: #000;
	font-size: 13px; line-height: 18px;
	margin: 0 0 8px 0;
}
.purchase-aside .text {
	border-bottom: 1px solid #ccc;
	color: #333;
	line-height: 18px;
	margin: 0 0 12px;
	padding-bottom: 14px;
} 
.purchase-aside .text.separated {
	margin-top: 20px;
	padding-top: 10px;
	border-bottom: 0; border-top: 1px solid #ccc; /* @todo remove border from .text, mark-up border with .separated */
}
.purchase-aside .img {
	border-top: 1px solid #ccc;
	margin: 13px 0 0;
	padding: 18px 0 0;
	text-align: center;
}



.purchase-affiliate {
	font-size: 15px; line-height: 24px;
	height: 1%;
	margin: 15px 0 5px;
	overflow: auto;
}
.purchase-affiliate dt {
	clear: both;
	float: left;
	margin: 0 18px 10px 0;
	width: 150px;
	text-align: right;
}
.purchase-affiliate dd {
	float: left;
	margin: 0 0 10px;
	width: 480px;
}
#ie6 .purchase-affiliate dd strong,
#ie7 .purchase-affiliate dd strong {
	position: relative; top: 1px;
}
.purchase-affiliate ul {
	margin: 3px 0;
}
.purchase-affiliate .services {
	border-bottom: 1px solid #ccc;
	padding: 0 0 7px;
}
.purchase-affiliate p {
	clear: both;
	margin: 0 0 0 108px;
}

/* @end */

/* @group older deals */

.archive-layout {
	overflow: auto;
	/*background: url('../../images/new/homepage-content-bg.png') left top repeat-x #ebebeb;*/
	clear: both;
	height: 1%;
	padding: 0 0 34px;
}
.archive-layout h1 {
	padding: 27px 30px 20px;
	text-align: center;
}



.archive-list li {
	background: transparent;
	float: left;
 	margin: 20px 0;
	padding: 0;
	width: 460px;
}
.archive-list .section-container {
	padding-bottom: 0;
}
#ie6 .archive-list .section-container .caption {
	width: 458px; /* total weirdness */
}
.archive-list .even {
	margin-left: 40px;
}



.archive-list table {
	margin: 18px 0 0;
	font-size: 15px;
	width: 230px;
}
.archive-list th,
.archive-list td {
	border-bottom: 1px solid #ccc;
	padding: 9px 0;
}
.archive-list th {
	width: 70px;
}
.archive-list td {
	font-weight: bold;
}
.archive-list td small {
	font-weight: normal;
}
.archive-list table .last-child td,
.archive-list table .last-child th {
	border-bottom: 0;
}



.archive-list .img {
	background-position: center center;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	float: right;
	display: inline; /* IE */
	margin: 10px -8px 10px 0;
	overflow: hidden;
	width: 180px; height: 130px;
}
.archive-list .img img {
	display: none;
}

/* @end */

/* @group discussion */

.discussion-header a {
	display: block;
	font-size: 15px; line-height: 18px;
	font-weight: bold;
	margin: 10px 0;
}
.discussion-header h1 {
	margin-bottom: 10px;
}
.discussion-header h1 span {
	color: #333;
	display: block;
	margin: 3px 280px 18px 0;
}



.discussion-faq {
	margin: 0 0 40px;
}
.discussion-faq h3 {
	color: #000;
	margin: 0;
}
.discussion-faq li {
	background: transparent;
	color: #000;
	padding: 0;
}



.discussion-body ul {
	margin: -18px;
	overflow: auto;
}
.discussion-body li {
	clear: both;
	background: transparent;
	border-top: 1px solid #ddd;
	float: left;
	margin: 0;
	overflow: auto;
	position: relative;
	padding: 0 0 18px;
	width: 100%;
}

#ie6 .discussion-body li,
#ie7 .discussion-body li,
#ie8 .discussion-body li { margin: -1px 0 0; }

.discussion-body li:first-child { border-top: 0; }

.discussion-body .header {
	display: inline; /* IE */
	float: left;
	line-height: 21px;
	margin: 13px 0 0 18px;
	width: 150px;
}
.discussion-body .header strong {
	display: block;
	line-height: 1em;
	padding: 4px 0;
}
.discussion-body .header small {
	color: #333;
	display: block;
	font-size: 11px; line-height: 15px;
}
.discussion-body p.text {
	float: left;
	line-height: 21px;
	margin: 0;
	padding: 13px 0 0;
	width: 720px;
}



.discussion-body .partner  .header em { background: #00cbff; color: #fff; font-size: 11px; font-style: normal; padding: 2px 5px; text-transform: uppercase; position: relative; top: -1px; }
.discussion-body .slevomat .header    {
    /*background: url('../../images/new/discussion-slevomat.png') left bottom no-repeat;*/
    padding-bottom: 25px; }

.discussion-body .spam strong {
	color: #999;
	font-size: 11px;
	line-height: 15px;
	padding: 0;
}
.discussion-body .spam small {
	display: none;
}
.discussion-body .spam p {
	color: #999;
	font-size: 11px;
	line-height: 15px;
}



.discussion-body .options {
	font-size: 11px; line-height: 24px;
	position: absolute; top: 13px; right: 14px;
	width: 110px;
}
.discussion-body .options small  { display: none; }
.discussion-body .options .group { clear: both; display: block; }

.discussion-body .options a {
	/*background: url('../../images/new/discussion-options.gif') 100% 50% no-repeat;*/
	border: 1px solid #ccc;
	color: #000;
	display: block;
	float: left;
	margin: 0 0 3px 3px;
	overflow: hidden;
	padding: 0 9px;
	position: relative;
	height: 24px;
	text-decoration: none;
}
.discussion-body .options a:hover,
.discussion-body .options a:active,
.discussion-body .options a:focus { border-color: #999; }

.discussion-body .options a span {
	/*background: url('../../images/new/discussion-options.gif') 100% 50% no-repeat;*/
	cursor: pointer;
	position: absolute; left: 0; top: 0;
	height: 100%; width: 100%;
}
.discussion-body .options a.del       span { background-position: -15px 45%; }
.discussion-body .options a.thumbup,
.discussion-body .options a.thumbdown      { padding: 0 11px; }
.discussion-body .options a.thumbup   span { background-position: -53px 45%; }
.discussion-body .options a.thumbdown span { background-position: -103px 45%; }

.discussion-body .options em {
	color: #008800;
	float: right;
	font-style: normal;
	margin: 0 14px 0 0;
}

/* @group responses */

.discussion-body .responses {
	clear: both;
	/*background: url('../../images/new/discussion-responses.png') -10px -3px no-repeat #eaf8fc;*/
	padding: 18px 0 0;
	margin: 0 20px 3px 118px;
	height: 1%;
}
.discussion-body .responses .item {
	border-bottom: 3px solid #fff;
	padding: 11px 20px 14px 11px;
	position: relative;
	height: 1%;
}
.discussion-body .responses .item p {
	margin: 2px 0 0;
}
.discussion-body .responses .item small {
	color: #999;
	font-size: 11px;
	margin: 0 0 0 5px;
}



.discussion-body .responses .more a {
	display: block;
	font-weight: bold;
	margin: -4px 0 -8px;
	text-decoration: none;
}
.discussion-body .responses .more a:hover,
.discussion-body .responses .more a:active,
.discussion-body .responses .more a:focus {
	text-decoration: underline;
}



     .discussion-body .responses .form { padding-top: 8px; }
     .discussion-body .responses .form td { padding: 0; }
     .discussion-body .responses .form input { margin: 0 0 12px; }
     .discussion-body .responses .form input.submit { margin: 1px 0 3px; }
     .discussion-body .responses .form textarea { width: 370px; margin: 0 0 7px; }
#ie6 .discussion-body .responses .form textarea { margin: 0 0 11px; }




.discussion-body .responses .delete {
	font-size: 11px;
	line-height: 11px;
	overflow: hidden;
	position: absolute; top: 8px; right: 6px;
	width: 60px; height: 20px;
	text-align: center;
}
.discussion-body .responses .delete span {
	/*background: url('../../images/new/discussion-delete.gif') 0 50% no-repeat;*/
	cursor: pointer;
	position: absolute; top: 0; left: 0;
	width: 60px; height: 20px;
}
.discussion-body .responses .delete:hover span,
.discussion-body .responses .delete:active span,
.discussion-body .responses .delete:focus span { 
    /*background: url('../../images/new/discussion-delete.gif') 100% 50% no-repeat;*/
}

/* @end */

/* @end */

/* @group account */

.account-header br { clear: both; }
.account-header h1 { float: left; }
.account-header a  { float: left; position: relative; top: 4px; left: 20px; }



.account-content .section-form    { position: relative; top: 10px; }
.account-content .section-form th { width: 123px; }

.account-content .section-container {
	margin-bottom: 30px;
}
.account-content select {
	margin-bottom: 8px;
}

/* @end */

/* @group orders */

.orders-list { margin: 10px 0; }
.orders-list th {
	color: #333;
	padding-bottom: 5px;
}
.orders-list td {
	border-top: 1px solid #ddd;
	font-size: 15px; line-height: 18px;
	padding: 15px 0 16px;
	vertical-align: top;
}
.orders-list .title   { padding-right: 20px; }
.orders-list .date    { width: 100px; }
.orders-list .voucher { width: 140px; }



.orders-list small {
	color: #333;
	display: block;
	font-size: 13px; line-height: 18px;
	margin: 0 0 6px;
}
.orders-list .button {
	/*background: url('../../images/new/orders-button.png') left bottom repeat-x #fff;*/
	border: 1px solid #aaa;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	display: block;
	font-weight: bold;
	margin: 0 20px 10px 0;
	text-decoration: none;
	-moz-box-shadow: #ddd 0 1px 2px;
	-webkit-box-shadow: #ddd 0 1px 2px;
	box-shadow: #ddd 0 1px 2px;
}
#layout .orders-list .button span {
	background-position: 10px -144px;
	display: block;
	padding: 5px 10px 5px 35px;
}
.orders-list .button:hover,
.orders-list .button:active,
.orders-list .button:focus {
	text-decoration: underline;
}



.orders-list .done a,
.orders-list .done td,
.orders-list .done small { color: #bbb; }
.orders-list .done a:link,
.orders-list .done a:visited { text-decoration: none; }
.orders-list .done a:hover,
.orders-list .done a:active,
.orders-list .done a:focus { text-decoration: underline; }

/* @end */

/* @group gift */

.gift-content {
	/*background: url('../../images/new/gift-bg.png') center top repeat-x;*/
}
.gift-content h1 {
	font-size: 36px;
	margin: 0 0 0 147px;
	padding: 65px 0 0;
}
.gift-content ul {
	color: #333;
	font-size: 17px;
	margin: 28px 0 0 151px;
	padding: 0 0 10px;
	height: 1%;
}
#ie6 .gift-content li,
#ie7 .gift-content li {
	background-position: 0 .3em;
}
.gift-content .purchase {
	width: 230px;
	margin: 0 0 0 170px;
	padding: 0 0 100px;
}
.gift-content .figure-purchase {
	margin-top: 15px;
}

/* @end */

/* @group how it works */

.howitworks-explained ul {
	overflow: auto;
	margin: -10px 0 5px;
}
.howitworks-explained li {
	clear: both;
	background: transparent;
	font-size: 15px; line-height: 21px;
	overflow: hidden;
	margin: 0 0 3px;
	padding: 0;
	height: 1%; /* IE6 */
}
.howitworks-explained li em {
	/*background: url('../../images/new/howitworks-bullet.png') center center #00bdf1;*/
	color: #fff;
	display: block;
	font-size: 17px; line-height: 24px;
	font-style: normal;
	float: left;
	font-weight: bold;
	padding: 7px 0;
	margin: 11px 0 0;
	width: 40px;
	text-align: center;
}
.howitworks-explained li span {
	/*background: url('../../images/new/howitworks-bg.png') center bottom no-repeat;*/
	display: block;
	padding: 19px 0 17px 7px;
	float: left;
	width: 600px;
}
.howitworks-explained li.last-child span {
	background: transparent;
}
.howitworks-explained .section-newsletter {
	-moz-border-radius-topleft: 0;
	-webkit-border-top-left-radius: 0;
	border-top-left-radius: 0;
	-moz-border-radius-topright: 0;
	-webkit-border-top-right-radius: 0;
	border-top-right-radius: 0;
	border: 0;
	margin: 0 -18px -18px -18px;
	padding: 18px 0 20px;
}
#ie6 .howitworks-explained .section-newsletter,
#ie7 .howitworks-explained .section-newsletter { width: 693px;  /* total weirdness */ }

.howitworks-explained .section-newsletter h2 {
	display: inline;
	font-size: 17px; line-height: 24px;
	margin: 0 0 0 60px;
	width: 125px;
}
.howitworks-explained .section-newsletter small { margin: 12px 0 5px 200px; }



.howitworks-why h3 { color: #000; }
.howitworks-why p  {
	font-size: 15px; line-height: 21px;
	margin: 8px 50px 12px 0;
}
.howitworks-why .em {
	/*background: url('../../images/new/howitworks-girl.png') center bottom no-repeat #f3f3f3;*/
	-moz-border-radius-topleft: 7px;
	-webkit-border-top-left-radius: 7px;
	border-top-left-radius: 7px;
	-moz-border-radius-topright: 7px;
	-webkit-border-top-right-radius: 7px;
	border-top-right-radius: 7px;
	margin: -18px -18px 0 -18px;
	padding: 30px 30px 48px 200px;
}
.howitworks-why .em h3,
.howitworks-why .em p {
	font-size: 17px; line-height: 24px;
}
.howitworks-why .em h3 { margin: 0 0 -3px; }
.howitworks-why .em p  { margin-right: 0; margin-bottom: 0; }

.howitworks-why .more {
	display: block;
	font-size: 15px; line-height: 21px;
	font-weight: bold;
	margin: 20px 10px 4px 0;
	text-align: right;
}



.howitworks-video {
	margin: 0 auto;
	width: 640px;
}



.howitworks-examples {
	padding: 15px 0 30px;
}
.howitworks-examples ul {
	margin-top: 4px;
}
.howitworks-examples ul a:link,
.howitworks-examples ul a:visited {
	color: #000;
	text-decoration: none;
}
.howitworks-examples ul a:hover,
.howitworks-examples ul a:focus,
.howitworks-examples ul a:active { text-decoration: underline; }

.howitworks-examples li {
	background: transparent;
	clear: both;
	padding-left: 0;
}
.howitworks-examples img {
	display: inline; /* IE */
	float: right;
	margin: -1px 0 25px 10px;
}



.howitworks-media {
	clear: both;
	padding: 10px 0 0;
}
.howitworks-media dd {
	/*background-image: url('../../images/new/sprite-media.png');*/
	background-repeat: no-repeat;
	line-height: 18px;
	padding: 0 0 38px;
	margin: 5px 0 25px;
}
.howitworks-media .dnes    { background-position:   172px 100%; }
.howitworks-media .novinky { background-position:  -223px 100%; }
.howitworks-media .ct24    { background-position:  -555px 100%; }
.howitworks-media .lidovky { background-position:  -983px 100%; }
.howitworks-media .lupa    { background-position: -1345px 100%; }

/* @end */


/* @end */