body {
	background: #FFF;
	font-size: 13px;
	font-family: Arial, sans-serif;
}

#layout {
	background: none repeat scroll 0 0 #FFF;
}

.strelka_text {
position: absolute;
margin-left: 60px;
margin-top: 37px;
}

.green {
	background: -moz-linear-gradient(top, #48b548 0, #72c670 2%, #080 99%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #48b548), color-stop(2%, #72c670), color-stop(99%, #008800));
}

.orangediscount {
background: -moz-linear-gradient(top, #F93 0, #F93 2%, #E7821C 99%);

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F93), color-stop(2%, #F93), color-stop(99%, #E7821C));
}

.orangediscount:hover {
	cursor: default;
	background: -moz-linear-gradient(top, #48b548 0, #72c670 2%, #080 99%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #48b548), color-stop(2%, #72c670), color-stop(99%, #008800));
}

.reddiscount {

background: -moz-linear-gradient(top, #F93 0, #F93 2%, #E7821C 99%);

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F93), color-stop(2%, #F93), color-stop(99%, #E7821C));
}

.reddiscount:hover {
	cursor: default;
	background: -moz-linear-gradient(top, #cc0f0f 0, #cc0f0f 2%, #cc0f0f 99%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cc0f0f), color-stop(2%, #cc0f0f), color-stop(99%, #cc0f0f));
}

.pastpuserup {
        margin-top: -10px;
    }

.activeoffer{
	float:left;
	margin-top: 5px; 
	text-align: center;
	background:url(../../pub/img/layout/layout-sprite_popust.png) 0 -216px no-repeat;
	width: 20px;
	height: 20px 
}

.unactiveoffer{
	float:left; 
	margin-top: 5px;
	text-align: center;
	background:url(../../pub/img/layout/layout-sprite_popust.png) 0 -823px no-repeat;
	width: 20px;height: 20px 
}


.detali
{
	/*
	width: 180px;
	height: 46px;
	font-size: 16px;
	float: right;
	text-align: center;
	background: -moz-linear-gradient(top, #42DA25 0, #63DF33 2%, #227912 99%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #42DA25 ), color-stop(2%, #63DF33 ), color-stop(99%, #227912 ));
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	color: #fff;
	font-weight: bold;
	font-style: normal;
	text-shadow: #444 1px 1px 2px;
	-moz-box-shadow: #ccc 0 1px 2px;
	-webkit-box-shadow: #ccc 0 1px 2px;
	box-shadow: #ccc 0 1px 2px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 4px;
	cursor: pointer;
	background-color: #227912;
*/
	background: url('../../pub/img/layout/form-button.png') 0 0 repeat-x #080;
	background: -moz-linear-gradient(top, #48b548 0, #72c670 2%, #080 99%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #48b548), color-stop(2%, #72c670), color-stop(99%, #008800));
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	text-shadow: #444 1px 1px 2px;
	-moz-box-shadow: #ccc 0 1px 2px;
	-webkit-box-shadow: #ccc 0 1px 2px;
	box-shadow: #ccc 0 1px 2px;
	width: 140px;
	height: 46px;
	font-size: 16px;
	float: right;
	text-align: center;
	border-radius: 6px;
	color: #fff;
	font-weight: bold;
	font-style: normal;
	text-shadow: #444 1px 1px 2px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 4px;
	cursor: pointer;
}



/*
 novo all offers
 */

.deals-matrix {
	width: 980px;
	padding: 0;
}
.deal-item {
	position: relative;
	float: left;
	margin: 17px;
	padding: 0;
	width: 440px;
	height: 254px;
	border: 1px solid #ccc;
	border-radius: 7px;
	background: #fff;
}
.deal-item .name {
	margin: 0;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 17px;
	font-weight: bold;
	color: #000;

}



.deal-item .price {
	font-size: 17px;
	margin-left: 20px;
	font-weight: bold;
	color: #1c8119;
}

.deal-item .today {
	margin-left: 5px;
	padding: 4px;
	font-size: 12px;
	color: #FF0000;

}

.deal-item .customers {
	background-position: 0 -20px;
}

.deal-item .discount {
	display: block;
	position: absolute;
	left: -3px;
	top: 25px;
	padding: 1px 8px 0 12px;
	white-space: nowrap;
	font-size: 15px;
	font-weight: bold;
	line-height: 28px;
	color: #fff;
	background-color: #ff6600;
	border-radius: 0 5px 5px 0;
}

.newoffer {
	display: block;
	position: absolute;
	right: 0px;
	top: 25px;
	padding: 1px 8px 0 12px;
	white-space: nowrap;
	font-size: 15px;
	font-weight: bold;
	line-height: 28px;
	color: #fff;
	background-color: #cc0f0f;
	border-radius: 5px 0px 0px 5px;
	cursor: default;
}


.newoffer_mainoffer {
	display: block;
	position: absolute;
	right: 0px;
	top: 22px;
	padding: 1px 8px 0 12px;
	white-space: nowrap;
	font-size: 15px;
	font-weight: bold;
	line-height: 28px;
	color: #fff;
	background-color: #cc0f0f;
	border-radius: 5px 0px 0px 5px;
	cursor: default;
}

.newoffer_sideoffer {
	display: block;
	position: absolute;
	right: 0px;
	top: 3px;
	padding: 1px 1px 0 1px;
	white-space: nowrap;
	font-size: 15px;
	font-weight: bold;
	line-height: 28px;
	color: #fff;
	background-color: #cc0f0f;
	border-radius: 5px;
	cursor: default;
}

 .discount {
	display: block;
	position: absolute;
	left: -4px;
	top: 25px;
	padding: 1px 8px 0 12px;
	white-space: nowrap;
	font-size: 15px;
	font-weight: bold;
	line-height: 28px;
	color: #fff;
	background-color: #ff6600;
	border-radius: 0 5px 5px 0;
}


.deal-item:hover .discount, .no-touch .deals-matrix .deal-item.soldout .discount {
	display: block;
}

.deal-item a:link, .deal-item a:visited, .deal-item a:hover
{
	text-decoration: none;
}

.deal-item .image {
	width: 440px;
	height: 185px;
	display: block;
	overflow: hidden;
	border-radius: 7px;
}

p, ul, ol {
	margin: 0px;
}

.margin-left20 {
	margin-left: 20px;
	margin-bottom: 20px;
}
.margin-left20px {
	margin-left: 20px;
}

/*
 do tuka all offers
 */

body.pg-product #layout {
	background: none repeat scroll 0 0 #FFF;
}

.layout-wrapper {
	margin: 0 auto;
	width: 1010px;
}

.index-page-wrapper
{
	width: 960px;
}

.layout-header {
	background: url("/pub/img/layout/h.png") repeat-x scroll 0 0 #000; /*height:7.7em;  */
	/*height:92px;  */
	height: 130px;
}

.layout-header .layout-wrapper {
	height: 130px;
	position: relative;
	z-index: 10000;
}

.layout-header .logo {
	/*left:-17px;  */
	position: absolute;
	top: 5px;
	left: 39%;
}

.layout-header .english:link, .layout-header .english:visited {
	background: url("/pub/img/layout/eng14x20.png") no-repeat scroll right top transparent;
	color: #999;
	display: block;
	font-size: 11px;
	line-height: 15px;
	padding: 3px 40px 3px 0;
	position: absolute;
	right: 0;
	text-decoration: none;
	top: 0;
	height: 10px;
}

.layout-header .english:hover, .layout-header .english:active, .layout-header .english:focus {
	color: #FFF;
}

.layout-header .macedonian:link, .layout-header .macedonian:visited {
	background: url("/pub/img/layout/mkd14x20.png") no-repeat scroll right top transparent;
	color: #000;
	display: block;
	font-size: 11px;
	line-height: 15px;
	padding: 12px 40px 3px 0;
	position: absolute;
	right: 0;
	text-decoration: none;
	top: 0;
}

.layout-header .macedonian:hover, .layout-header .macedonian:active, .layout-header .macedonian:focus {
	color: #FFF;
}

.layout-header .claim {
	left: 10px;
	top: 35px;
	color: #FFF;
	position: absolute;
	font-size: 15px;
}

.layout-header .claim span {
	margin: 0 3px;
}

.menu-city {
	left: 0px;
	position: absolute;
	top: 20px;
}

.menu-city h3 {
	float: left;
	font-size: 13px;
	font-weight: normal;
	line-height: 21px;
	margin: 0 10px 0 0;
	color: #FFF;
}

.menu-city div {
	left: 3.5em;
	position: absolute;
	top: -3px;
	width: 14em;
	z-index: 1;
	padding-left: 50px;
}

#ie6 .menu-city div, #ie7 .menu-city div {
	top: -4px;
}

.menu-city strong {
	background-color: #FFF;
	border: 1px solid #F60;
	color: #111;
	cursor: pointer;
	display: block;
	height: 1.45em;
	font-size: 15px;
	line-height: 1.5em;
	padding: 0 0 0 6px;
	-moz-border-radius: 7px 7px 7px 7px;
	-moz-box-shadow: 0 0 5px #F60;
	-webkit-border-radius: 7px;
	-webkit-box-shadow: 0 0 5px #F60;
	border-radius: 7px 7px 7px 7px;
	box-shadow: 0 0 5px #F60;
}

.menu-city ul {
	-moz-box-shadow: 0 2px 4px #888;
	-webkit-box-shadow: 0 2px 4px #888;
	border-bottom: 1px solid #111;
	display: none;
	margin: 0;
	overflow: hidden;
	width: 100%;
}

.no-js .menu-city div:hover ul {
	display: block;
}

#ie6 .menu-city ul {
	border-bottom: medium none;
}

.red_kupuvaci{
	background: url(../../pub/img/layout/layout-sprite_popust.png) 0 -823px no-repeat;
	padding-left: 25px;
}

.green_kupuvaci{
	background: url(../../pub/img/layout/layout-sprite_popust.png) 0 -217px no-repeat;
	padding-left: 25px;
}

.gray_kupuvaci {
	background: url(../../pub/img/layout/layout-sprite_popust.png) 0 -845px no-repeat;
	padding-left: 25px;
}

.menu-city li {
	background: none repeat scroll 0 0 transparent;
	clear: both;
	float: left;
	font-size: 17px;
	line-height: 1.6em;
	margin: 0;
	padding: 0;
	width: 100%;
}

.menu-city li a:link, .menu-city li a:visited {
	background: none repeat scroll 0 0 #333;
	border-left: 1px solid #111;
	border-right: 1px solid #111;
	color: #FFF;
	display: block;
	height: 1.6em;
	margin: 0;
	padding: 0 0 0 6px;
	text-decoration: none;
}

.menu-city li a:hover {
	background: none repeat scroll 0 0 #555;
}

.menu-city li.active {
	display: none;
}

.menu-info {
	bottom: 40px;
	margin: 0;
	position: absolute;
	right: 0;
}

.menu-info li {
	background: none repeat scroll 0 0 transparent;
	float: right;
	line-height: 21px;
	margin: 0 5px 0 10px;
	padding: 0;
}

.menu-info li a:link, .menu-info li a:visited {
	color: #FFF;
}

.menu-main {
	bottom: 0;
	color: #FFF;
	left: 0px;
	margin: 0;
	position: absolute;
}

.menu-main li {
	background: none repeat scroll 0 0 transparent;
	float: left;
	margin: 0 2px 0 0;
	padding: 0;
}

.menu-main li a:link, .menu-main li a:visited  {
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	-webkit-border-radius: 8px 8px 0 0;
	//-webkit-border-radius: 8px 8px 8px 8px;
	//border-radius: 7px 7px 7px 7px;
	background: none repeat scroll 0 0 #FFF;
	border-color: #4F4F4F #4F4F4F -moz-use-text-color;
	border-style: solid solid none;
	border-width: 1px 1px 0;
	color: #111;
	display: block;
	float: left;
	font-size: 14px;
	line-height: 24px;
	padding: 4px 12px 3px;
	text-decoration: none;
	border-radius: 7px 7px 0 0;
	margin-bottom: 1px;
	
}

.menu-main li.last-child {
	float: right;
}

.menu-link li

.menu-main li.active a:link, .menu-main li.active a:visited, .menu-main li.active a:hover {
	/*background:none repeat scroll 0 0 #FFF;  */
	border: 0 none;
	color: #111;
	padding: 5px 13px 4px;
}

.menu-main li a:hover, .menu-main li a:active, .menu-main li a:focus {
	background: none repeat scroll 0 0 #E6E6E6;
}

.menu-main_purchase li a:hover, .menu-main_purchase li a:active, .menu-main_purchase li a:focus {
	background: none repeat scroll 0 0 #F3F3F3;
}

.menu-main li.active a:link, .menu-main li.active a:visited {
	font-weight: bolder;
}

.layout-footer {
	/*background: url("/pub/img/layout/f.png") repeat-x scroll 0 0 #000;
	clear: both;
	color: #999;
	overflow: hidden;
	width: 100%;*/
}

.layout-footer a:link, .layout-footer a:visited {
	color: #FFF;
	text-decoration: none;
}

.layout-footer a:hover, .layout-footer a:active, .layout-footer a:focus {
	text-decoration: underline;
}

.layout-footer .medium {
	clear: both;
	height: 1%;
	overflow: hidden; /*padding:0 0 15px;  */
	padding: 0;
}

.layout-footer .medium ul {
	border-right: 1px solid #333;
	float: left;
	margin: 0 10px 0 0;
	width: 200px;
	min-height: 155px;
}

.layout-footer .medium li {
	background: none repeat scroll 0 0 transparent;
	margin: 0;
	padding: 4px 0 7px;
}

.layout-footer .small {
	border-top: 1px solid #333;
	clear: both;
	color: #fff;
	font-size: 11px;
	height: 1%;
	overflow: hidden;
	padding: 6px 0 8px;
}

.layout-footer .small a:link, .layout-footer .small a:visited {
	color: #fff;
	float: left;
	margin: 0 13px 0 0;
}

.layout-footer .small span {
	float: right;
}

.menu-user {
	bottom: 0;
	position: absolute;
	right: 0;
	z-index: 1000;
}

.menu-user div {
	/*    bottom: 0;
	 position: absolute;
	 right: 0;
	 width: 350px;*/
	float: right;
}

.menu-user h3, .menu-user em {
	float: right;
	padding: 4px 12px;
}

.menu-user h3 span {
	color: #AAA;
	font-size: 12px;
	margin-left: 3px;
}

.menu-user em {
	color: #999;
	padding: 5px 14px 0 0;
}

.menu-user h3 {
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	-webkit-border-radius: 8px 8px 0 0;
	border-radius: 8px 8px 0 0;
	background: none repeat scroll 0 0 #fff;
	border-color: #4F4F4F #4F4F4F -moz-use-text-color;
	border-style: solid solid none;
	border-width: 1px 1px 0;
	color: #111;
	font-size: 15px;
	font-weight: normal;
	line-height: 24px;
	margin: 0;
	margin-bottom: 1px;
}

.menu-user .logedin h3 {
	background-color: #F60;
}

.menu-user h3:hover {
	background: none repeat scroll 0 0 #e6e6e6;
}

.menu-user ul {
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-box-shadow: 0 2px 4px #888;
	-webkit-border-radius: 8px 8px 0 0;
	-webkit-box-shadow: 0 2px 4px #888;
	border-top: 1px solid #4F4F4F;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 150px;
}

.menu-user li {
	background: none repeat scroll 0 0 transparent;
	clear: both;
	float: left;
	margin: 0;
	padding: 0;
	width: 100%;
}

.menu-user ul li a:link, .menu-user ul li a:visited {
	background: none repeat scroll 0 0 #303030;
	border-color: -moz-use-text-color #4F4F4F #4F4F4F;
	border-right: 1px solid #4F4F4F;
	border-style: none solid solid;
	border-width: 0 1px 1px;
	color: #FFF;
	display: block;
	height: 1%;
	padding: 5px 0 6px 10px;
	text-decoration: none;
}

.menu-user div h3 a:link, .menu-user div h3 a:visited {
	color: #111111;
	font-size: 14px;
	line-height: 24px;
	text-decoration: none;
}

.menu-user a.active {
	border: 0 none;
	color: #111111;
	padding: 5px 13px 4px;
}

.menu-user ul li a:active, .menu-user ul li a:hover, .menu-user ul li a:focus {
	background: none repeat scroll 0 0 #555;
	text-decoration: underline;
}

.menu-user ul li:last-child a {
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	-webkit-border-radius: 8px 8px 0 0;
}

/* global */
.hide, .print {
	height: 0 !important;
	left: -9999px !important;
	overflow: hidden !important;
	position: absolute !important;
	top: -9999px !important;
	width: 0 !important;
}

.homepage-content {
	clear: both;
	padding: 0 0 0;
	/* box-shadow: 0 0 5px #1D1612; */
	background: url("/pub/img/layout/pozadina.jpg") repeat-x rgba(0, 0, 0, 0);
}

.homepage-content h1 {
	/*  padding:0px 15px 20px;*/
	text-align: center; /*font-size:18px;  */;
}


.homepage-billboard_old{
	background: none repeat scroll 0 0 #FFF;
	margin: 0px ;
	padding: 10px;
	position: relative;

	border-radius: 7px 7px 7px 7px;
	box-shadow: 0 0 5px #1D1612;
	-moz-border-radius: 7px 7px 7px 7px;
	-moz-box-shadow: 0 0 5px #F60;
	-webkit-border-radius: 7px;
	-webkit-box-shadow: 0 0 5px #14100D;
}


.boredrshadows1{
	border-radius: 7px 7px 7px 7px;
box-shadow: 0 0 5px #1D1612;
-moz-border-radius: 7px 7px 7px 7px;
-moz-box-shadow: 0 0 5px #F60;
-webkit-border-radius: 7px;
-webkit-box-shadow: 0 0 5px #14100D;
}

.boredrshadows{
	border-radius: 7px 7px 7px 7px;
box-shadow: 0 0 34px #1D1612;
-moz-border-radius: 7px 7px 7px 7px;
-moz-box-shadow: 0 0 34px #F60;
-webkit-border-radius: 7px;
-webkit-box-shadow: 0 0 20px #8D8D8D;
}

.boredrshadows2{
border-radius: 7px 7px 7px 7px;
box-shadow: 0 0 34px #1D1612;
-moz-border-radius: 7px 7px 7px 7px;
-moz-box-shadow: 0 0 34px #F60;
-webkit-border-radius: 7px;
-webkit-box-shadow: 0 0 34px #14100D;
}

#ie .homepage-billboard {
	border: 1px solid #CCC;
	left: 0;
	position: relative;
}

.homepage-billboard .img {
	-moz-border-radius: 0px 0px 6px 6px;
	-webkit-border-radius: 0px 0px 6px 6px;
	background-position: center center;
	height: 280px;
	overflow: hidden;
	width: 680px;
}

.homepage-billboard .img img {
	display: none;
}

.homepage-billboard .text {
	float: left;
	width: 250px;
}

#ie6 .homepage-billboard .text, #ie7 .homepage-billboard .text, #ie8 .homepage-billboard .text {
	width: 248px;
}

.homepage-billboard .figure-purchase {
	margin: 0 0 0 20px;
}

.green_clock_bilboard{

	float:left;
	margin-top: 5px;
	text-align: center; background:url(../../pub/img/layout/layout-sprite_popust.png) 0 -196px no-repeat;
	width: 20px;height: 20px;

}

.red_clock_bilboard{

	float:left;
	margin-top: 5px;
	text-align: center; 
	background: url(../../pub/img/layout/layout-sprite_popust.png) 0 -802px no-repeat;
	width: 20px;height: 20px;

}

.homepage-billboard p {
	clear: both;
	color: #111;
	margin: 7px 0;
	text-align: center;
	font-size: 14px;
}

.homepage-billboard p.last-child {
	margin-bottom: 0;
}

.homepage-billboard ul {
	margin: 10px 0 0;
}

.homepage-billboard li {
	background: none repeat scroll 0 0 transparent;
	margin: 0;
	padding: 0;
	font-size: 14px
}

.homepage-billboard .price {
	display: inline;
	margin: 0 0 5px 2px;
}

.homepage-billboard .price, .homepage-billboard .discount, .homepage-billboard .saving {
	color: #111;
	float: left;
	padding: 0 10px 11px 5px;
	font-size: 12px;
}

.homepage-billboard .price li.last-child, .homepage-billboard .discount li.last-child, .homepage-billboard .saving li.last-child {
	padding-right: 0;
}

.homepage-billboard .price strong, .homepage-billboard .discount strong, .homepage-billboard .saving strong {
	color: #000;
	display: block;
	font-size: 17px;
	word-spacing: -1px;
}

.homepage-billboard .time, .homepage-billboard .customers {
	background: none repeat scroll 0 0 #FFC;
	clear: both;
	color: #111;
	margin: 0;
	padding: 6px 0;
	font-size: 12px;
	font-size: 14px;
}

.homepage-billboard .time {
	height: 1%;
}

.homepage-billboard .time span {
	color: #000;
	display: block;
	margin: 0 0 0 -7px;
}

.homepage-billboard .time strong {
	font-size: 12px;
	padding: 0 2px 0 3px;
}

.homepage-billboard .progress {
	background: none repeat scroll 0 0 #FFF;
	border: 1px solid #F60;
	display: block;
	margin: 0 0 0 10px;
	position: relative;
	top: 5px;
	width: 228px;
}

#ie6 .homepage-billboard .progress, #ie7 .homepage-billboard .progress {
	width: 226px;
}

.homepage-billboard .progress div {
	background: url("/pub/img/layout/klod-linija-vreme6x28.png") repeat-x scroll 0 0 #F93;
	height: 6px;
}

#ie6 .homepage-billboard .progress div {
	margin-bottom: -8px;
}

.homepage-billboard .customers strong {
	color: #000;
	font-size: 17px;
	padding: 0 2px 0 0;
}

.homepage-billboard .customers em {
	color: #000;
	font-size: 14px;
	font-style: normal;
}

.homepage-billboard .customers span {
	display: block;
	margin: -3px 0 0;
}

.homepage-recommend {
	color: #111;
	margin: -3px 0 0;
	padding: 0 0 5px;
}

.homepage-recommend a:link, .homepage-recommend a:visited {
	color: #111;
	margin: 0 0 0 12px;
	padding: 2px 0;
	text-decoration: none;
}

.homepage-recommend a:hover, .homepage-recommend a:active, .homepage-recommend a:focus {
	text-decoration: underline;
}

.homepage-details-font {
	font-size: 15px;
	line-height: 23px;
}

.partneraddress p {
	font-size: 13px;
}

.homepage-details {
	margin-left:-15px;
	float: left;
	padding: 10px 0 10px;
	width: 700px;
}

.homepage-details img {
	display: block;
	margin: 25px auto;
}

.homepage-details .section-box {
	border: 0 none;
	float: left;
	margin: 15px 30px 30px 0;
	width: 218px;
	/*box-shadow: 0 0 5px #f60;*/
	/*border-radius: 7px 7px 7px 7px;*/
	/*-moz-border-radius: 7px 7px 7px 7px;*/
	/*-moz-box-shadow: 0 0 5px #F60;*/
	/*-webkit-border-radius: 7px;*/
	/*-webkit-box-shadow: 0 0 5px #f60;*/
}

.homepage-details .section-box img {
	margin: 0;
}

.homepage-details .main-col {
	width: 410px;
	padding: 0 5px 0 14px;
	float: right;
	/*box-shadow: 0 0 5px #F60;
	 -moz-box-shadow: 0 0 5px #F60;
	 -moz-border-radius: 7px 7px 7px 7px;
	 -webkit-border-radius: 7px;
	 -webkit-box-shadow: 0 0 5px #f60;*/
	margin-top: 10px;
}

.homepage-details .highlights li {
	/*background:url("../images/new/bullet2.gif") no-repeat scroll left 0.48em transparent;  */
	border-bottom: 1px solid #DDD;
	font-weight: bold;
	margin: 0 0 10px;
	padding: 0 0 7px 12px;
	width: 415px;
}

.homepage-diskuze {
	line-height: 24px;
	margin: 30px 0;
}

.homepage-diskuze span, .homepage-diskuze a {
	font-size: 17px;
}

.homepage-diskuze span {
	display: block;
}

.homepage-diskuze a {
	font-weight: bold;
	margin: 0 5px 0 0;
}



.clock_img_bg{
	background:url(../../pub/img/layout/layout-sprite_popust.png) 0 -196px no-repeat;
}

.side_kupgreen{
			float: left;
margin-top: 2px;
margin-left: 17px;
text-align: center;
background: url(../../pub/img/layout/layout-sprite_popust.png) 0 -216px no-repeat;
width: 20px;
height: 20px;
		}

		.side_kupred{
			float: left;
margin-top: 2px;
margin-left: 17px;
text-align: center;
background: url(../../pub/img/layout/layout-sprite_popust.png) 0 -823px no-repeat;
width: 20px;
height: 20px;
		}

.purchase-credits {
	background: none repeat scroll 0 0 #F7FCD9;
	margin: 11px 0 8px;
	padding: 6px 13px;
}

.purchase-sent p {
	font-size: 15px;
	line-height: 21px;
	margin: 0 20px 3px 0;
}

.purchase-sent strong {
	background: none repeat scroll 0 0 #F7FCD9;
	padding: 2px 5px;
}

.purchase-sent small {
	color: #999;
}

.purchase-sent-v2 {
	padding: 0;
}

.purchase-sent-v2 .content {
	/*background:url("../images/page-icon-envelope-with-back.png") no-repeat scroll 0 40px white;  */
	padding: 18px 18px 18px 175px;
}

.purchase-sent-v2 h1 {
	font-size: 30px;
	margin: 20px 0 10px;
}

.purchase-sent-v2 .subtitle {
	font-size: 21px;
	line-height: 27px;
}

.purchase-sent-v2 .subtitle strong {
	background: none repeat scroll 0 0 #F7FCD9;
	padding: 2px 5px;
}

.purchase-sent-v2 small {
	color: #111;
}

.purchase-sent-v2 .facebook {
	-moz-border-radius: 0 0 7px 7px;
	-webkit-border-radius: 0 0 8px 8px;
	background: none repeat scroll 0 0 #F3F3F3;
	padding: 18px 18px 10px;
}

.purchase-sent-v2 .facebook h2 {
	font-size: 15px;
	margin-top: 0;
}

.purchase-summary {
	font-size: 15px;
	line-height: 24px;
	width: 100%;
}

.purchase-summary th, .purchase-summary td {
	border-bottom: 1px solid #CCC;
	padding: 4px 0;
}

.purchase-summary th {
	color: #111;
	padding-right: 18px;
	text-align: right;
	width: 100px;
}

.purchase-summary td {
	font-weight: bold;
}

.purchase-summary small {
	color: #111;
	font-weight: normal;
}

.purchase-aside h3 {
	color: #000;
	font-size: 13px;
	line-height: 18px;
	margin: 0 0 8px;
}

.purchase-aside .text {
	border-bottom: 1px solid #CCC;
	color: #111;
	line-height: 19px;
	margin: 0 0 12px;
	padding-bottom: 14px;
}

.purchase-aside .text.separated {
	border-bottom: 0 none;
	border-top: 1px solid #CCC;
	margin-top: 20px;
	padding-top: 10px;
}

.purchase-aside .img {
	border-top: 1px solid #CCC;
	margin: 13px 0 0;
	padding: 18px 0 0;
	text-align: center;
}

.purchase-affiliate {
	height: 1%;
	font-size: 15px;
	line-height: 24px;
	margin: 15px 0 5px;
	overflow: auto;
}

.purchase-affiliate dt {
	clear: both;
	float: left;
	margin: 0 18px 10px 0;
	text-align: right;
	width: 80px;
}

.purchase-affiliate dd {
	float: left;
	margin: 0 0 10px;
	width: 480px;
}

#ie6 .purchase-affiliate dd strong, #ie7 .purchase-affiliate dd strong {
	position: relative;
	top: 1px;
}

.purchase-affiliate ul {
	margin: 3px 0;
}

.purchase-affiliate .services {
	border-bottom: 1px solid #CCC;
	padding: 0 0 7px;
}

.purchase-affiliate p {
	clear: both;
	margin: 0 0 0 108px;
}

.archive-layout {
	/*background:url("../images/new/homepage-content-bg.png") repeat-x scroll left top #E5E5E5;  */
	clear: both;
	height: 1%;
	overflow: auto;
	padding: 0 0 34px;
}

.archive-layout h1 {
	padding: 27px 30px 20px;
	text-align: center;
}

.archive-list li {
	background: none repeat scroll 0 0 transparent;
	float: left;
	margin: 20px 0;
	padding: 0;
	width: 460px;
}

.archive-list .section-container {
	padding-bottom: 0;
}

#ie6 .archive-list .section-container .caption {
	width: 458px;
}

.archive-list .even {
	margin-left: 40px;
}

.archive-list table {
	font-size: 15px;
	margin: 18px 0 0;
	width: 214px;
}

.archive-list th, .archive-list td {
	border-bottom: 1px solid #CCC;
	padding: 9px 0;
}

.archive-list th {
	width: 70px;
	font-size: 14px
}

.archive-list td {
	font-weight: bold;
	padding-left: 10px;
	font-size: 14px
}

.archive-list td small {
	font-weight: normal;
}

.archive-list table .last-child td, .archive-list table .last-child th {
	border-bottom: 0 none;
}

.archive-list .img {
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px;
	background-position: center center;
	display: inline;
	float: right;
	height: 130px;
	margin: 10px -8px 10px 0;
	overflow: hidden;
	width: 180px;
}

.archive-list .img img {
	display: none;
}

.figure-purchase {
	background: #E5E5E5;
	border: 1px solid #ccc8ad;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}

.figure-purchase a:link, .figure-purchase a:visited, .figure-purchase .wrapper {
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	color: #000;
	display: block;
	position: relative;
	height: 40px;
	width: 228px;
	text-decoration: none;
}

#ie6 .figure-purchase a, #ie7 .figure-purchase a, #ie8 .figure-purchase a {
	width: 226px;
}

.figure-purchase a:hover {
	background-color: #ffe;
}

.figure-purchase em {
	background: url('/pub/img/layout/form-button.png') 0 0 repeat-x #080;
	background: -moz-linear-gradient(top, #48b548 0, #72c670 2%, #080 99%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #48b548), color-stop(2%, #72c670), color-stop(99%, #008800)); /*background:url('/pub/img/layout/form-button.png') 0 0 repeat-x #F93;  background:-moz-linear-gradient(top,#E5E5E5 0,#FAA046 2%,#F93 99%);  background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#E5E5E5),color-stop(2%,#FAA046),color-stop(99%,#FF9933));  */
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: 19px;
	line-height: 40px;
	font-weight: bold;
	font-style: normal;
	position: absolute;
	left: -21px;
	top: -1px;
	text-shadow: #444 1px 1px 2px;
	-moz-box-shadow: #ccc 0 1px 2px;
	-webkit-box-shadow: #ccc 0 1px 2px;
	box-shadow: #ccc 0 1px 2px;
	text-align: center;
	width: 125px;
	height: 42px;
}

em.expired {
	background-color: red;
	color: white;
	background: none 0 0 repeat-x red !important;
	background: -moz-linear-gradient(top, red 0, #E01B4C 2%, red 99%) !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, red), color-stop(2%, #E01B4C), color-stop(99%, red)) !important;
}

.figure-purchase_disabled {
	background: #ccc;
	border: 1px solid #ccc;
}

.figure-purchase:hover {
	border-color: #e5e1c7;
}

.figure-purchase_disabled:hover {
	border: 1px solid #ccc;
}

.figure-purchase_disabled em {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	text-align: center;
	background: url('/pub/img/layout/form-button.png') 0 0 repeat-x #999;
	background: -moz-linear-gradient(top, #999 0, #ccc 2%, #aaa 99%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #999), color-stop(2%, #ccc), color-stop(99%, #aaa));
}

.figure-purchase .wrapper em {
	cursor: default;
}

.figure-purchase_disabled .wrapper em {
	font-size: 15px;
}

#ie6 .figure-purchase em, #ie7 .figure-purchase em, #ie8 .figure-purchase em {
	/*background:url('../../images/new/homepage-button.png') 0 0 no-repeat #F93;  */;
}

#ie6 .figure-purchase_disabled em, #ie7 .figure-purchase_disabled em, #ie8 .figure-purchase_disabled em {
	/*background:url('../../images/new/homepage-button_disabled.png') 0 0 no-repeat #999;  */;
}

.figure-purchase a:hover em {
	background-position: 0 -80px;
	background-color: #1ea928;
	background: -moz-linear-gradient(top, #48b548 0, #72c670 2%, #1ea928 99%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #48b548), color-stop(2%, #72c670), color-stop(99%, #1ea928));
}

/*.figure-purchase a:hover em{ background-position:0 -80px;  background-color:#F7AC60;  background:-moz-linear-gradient(top,#E5E5E5 0,#FAA046 2%,#F7AC60 99%);  background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#E5E5E5),color-stop(2%,#FAA046),color-stop(99%,#F7AC60)); }*/
#ie7 .figure-purchase a:hover em, #ie8 .figure-purchase a:hover em {
	background-position: 0 -42px;
}

.figure-purchase span {
	display: block;
	cursor: pointer;
	font-size: 21px;
	font-weight: bold;
	margin: 0 0 0 110px;
	padding: 10px 0 0 0;
	width: 110px;
	text-align: center;
}

.figure-purchase .wrapper span {
	cursor: default;
}

#layout .icon-time {
	background-repeat: no-repeat;
	background-image: url('/pub/img/layout/saat35x35.png');
	padding-left: 38px;
	margin-left: 15px;
	margin-top: 5px;
	background-repeat: no-repeat;
}

#layout .icon-peopleok {
	background-image: url('/pub/img/layout/ok20x25.png');
	padding-left: 35px;
	margin-left: 20px;
	margin-top: 5px;
	background-repeat: no-repeat;
}

#layout .icon-people {
	background-image: url('/pub/img/layout/covecinja.png');
	padding-left: 35px;
	margin-left: 20px;
	margin-top: 5px;
	height: 28px;
	background-repeat: no-repeat;
}

#layout .icon-facebook {
	padding-left: 21px;
	background-image: url('/pub/img/layout/fb16x16.png');
	background-repeat: no-repeat;
	padding-bottom: 5px;
}

#layout .icon-twitter {
	padding-left: 21px;
	background-image: url('/pub/img/layout/tw16x16.png');
	background-repeat: no-repeat;
	padding-bottom: 5px;
}

#layout .icon-youtube {
	padding-left: 21px;
	background-image: url('/pub/img/layout/ytw16x16.png');
	background-repeat: no-repeat;
	padding-bottom: 5px;
}

#layout .icon-instagram {
    padding-left: 21px;
    background-image: url('/pub/img/layout/inst16x16.png');
    background-repeat: no-repeat;
    padding-bottom: 5px;
}

#layout .icon-mail {
	padding-left: 25px;
	background-image: url('/pub/img/layout/e-mail16x20.png');
	background-repeat: no-repeat;
}

#layout .icon-rss {
	padding-left: 22px;
	background-image: url('/pub/img/layout/rss_icon.png');
	background-repeat: no-repeat;
	padding-top: 2px;
}

#layout .icon-link {
	background-position: 0 -282px;
	padding-left: 21px;
}

#layout .icon-picture {
	background-position: 0 -345px;
	padding-left: 21px;
}

#layout .icon-bubble {
	background-position: 0 -405px;
	padding-left: 60px;
}

#layout .icon-ok {
	background-repeat: no-repeat;
	background-image: url('/pub/img/layout/ok16x20.png');
	padding-left: 40px;
	margin-left: 15px;
	margin-top: 5px;
}

#layout .icon-lock {
	background-position: 0 -497px;
	padding-left: 21px;
}

#layout .icon-gift {
	background-image: url('/pub/img/layout/poklon20x20.png');
	background-repeat: no-repeat;
	padding-left: 25px;
	padding-bottom: 10px;
}

#layout .icon-headset {
	background-position: 7px -712px;
	padding-left: 45px;
	color: #000;
}

#layout .icon-shield {
	background-position: 0 -813px;
	padding-left: 40px;
	padding-top: 2px;
	height: 36px;
}

#layout .icon-letter {
	background-position: 5px -923px;
	padding-left: 43px;
}



.icon-edit {
	background-position: 14px 2px;
	padding-left: 36px;
}

.icon-coins {
	background-position: 3px -60px;
	padding-left: 45px;
	margin-top: 20px;
}

.icon-pdf {
	background-position: 10px -147px;
	padding-left: 36px;
}

/* .uknown{ background-position:0 -217px;  width:9px;  height:8px; }*/
.icon-coinsplus {
	background-position: 10px -267px;
	padding-left: 60px;
}



.section-newsletter {
	background: #E5E5E5;
	border: 1px solid #ccc8ad;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	height: 1%;
	overflow: auto;
	padding: 10px 0 10px 10px;
}

.section-newsletter h2 {
	float: left;
	padding: 4px;
	width: 225px;
}

.section-newsletter h2.em {
	width: 360px;
}

.section-newsletter form {
	float: left;
	margin: 0 5px 0 0;
	position: relative;
	left: -5px;
	width: 390px;
	text-align: center;
}

.section-newsletter form input.text {
	width: 175px;
}

.section-form input.text.short {
	width: 70px;
}

.section-newsletter small {
	color: #111;
	float: left;
	font-size: 11px;
	line-height: 15px;
	width: 310px;
}

.section-newsletter small span {
	display: block;
	margin: 0 0 3px;
}

.homepage-aside {
	float: right;
	padding: 0px;
	width: 300px;
}

.homepage-asidetop {
	float: right;
	padding: 12px 0 0;
	width: 241px;
}

.section-box {
	border: 1px solid #ccc;
	-moz-border-radius: 7px 7px 7px 7px; /*-moz-box-shadow:0 0 5px #F60;  */
	-webkit-border-radius: 7px;
	border-radius: 7px;
	margin: 0 0 30px;
	background-color: #fff;
}

.sel-el {
	-moz-border-radius: 0px 0px 0px 0px; /*-moz-box-shadow:0 0 5px #F60;  */
	-webkit-border-radius: 0px;
	border-radius: 0px;
	border-left: 20px;
}

.section-box1 {//
	border: 1px solid #ccc;
	box-shadow: 0 0 5px #F60;
	-moz-box-shadow: 0 0 5px #F60;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border-radius: 7px;
	-webkit-box-shadow: 0 0 5px #f60;
	-moz-border-radius: 7px 7px 7px 7px; /*-moz-box-shadow:0 0 5px #F60;  */
	-webkit-border-radius: 7px;
	border-radius: 7px;
	margin: 0 0 30px;
}

.section-box h2 {
	background: #111;
	-moz-border-radius-topleft: 7px;
	-webkit-border-top-left-radius: 7px;
	border-top-left-radius: 7px;
	-moz-border-radius-topright: 7px;
	-webkit-border-top-right-radius: 7px;
	border-top-left-radius: 7px;
	color: #fff;
	font-size: 13px;
	line-height: 24px;
	font-weight: bold;
	height: 1%;
	padding: 6px 13px;
	position: relative;
}

.section-box h2 procent {
	background: #F93;
	-moz-border-radius-bottomleft: 7px;
	-webkit-border-bottom-left-radius: 7px;
	border-bottom-left-radius: 7px;
	-moz-border-radius-bottomright: 7px;
	-webkit-border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
	color: #fff;
	display: block;
	font-size: 19px;
	line-height: 24px;
	font-weight: bold;
	padding: 10px 7px 10px 8px;
	position: absolute;
	top: -1px;
	right: 22px;
	-moz-box-shadow: #ccc 0 0 5px;
	-webkit-box-shadow: #ccc 0 0 5px;
	box-shadow: #ccc 0 0 5px;
}

.section-box h2 procent:hover {
	/*background:url('/pub/img/layout/form-button.png') 0 -80px repeat-x #F7AC60;  */
	/*background:-moz-linear-gradient(top,#E5E5E5 0,#FAA046 5%,#F7AC60 99%);    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#E5E5E5),color-stop(5%,#FAA046),color-stop(99%,#F7AC60));  */
	background: -moz-linear-gradient(top, #48b548 0, #72c670 5%, #1ea928 99%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #48b548), color-stop(5%, #72c670), color-stop(99%, #1ea928));
}

.section-box .em {
	background-color: #E5E5E5;
	-moz-border-radius-bottomleft: 7px;
	-webkit-border-bottom-left-radius: 7px;
	border-bottom-left-radius: 7px;
	-moz-border-radius-bottomright: 7px;
	-webkit-border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
	color: #111;
	font-size: 11px;
	line-height: 15px;
	padding: 9px 20px 12px 13px; /*margin-top:3px;  */;
}

.section-box .em h3 {
	margin: 0 0 1px;
	font-size: 17px;
	color: #111;
}

.section-box .em p {
	margin: 0 0 4px;
}

.section-box .em ul {
	font-size: 17px;
	color: #11;
}

.section-box .plain {
	padding: 9px 20px 0px 13px; /*  border-bottom:2px inset #ED7714;*/
	/*-moz-box-shadow:0 1px 5px #F60;  */
	/*-webkit-box-shadow:0 1px 5px #f60;  */
	/*box-shadow:0 1px 5px #f60;  */;
}

.section-box .plain h3 {
	margin: 0;
	font-size: 13px;
	color: #111;
}

.section-box .plain p {
	margin: 0 0 4px;
	line-height: 18px;
	font-size: 14px;
}

.section-box .strong {
	background: #fff;
	background-color: white; /*background-image:url('/pub/img/layout/footer-stranichni-ponudi.png');  */
	/*background-repeat:repeat-x;  */
	-moz-border-radius-bottomleft: 7px;
	-webkit-border-bottom-left-radius: 7px;
	border-bottom-left-radius: 7px;
	-moz-border-radius-bottomright: 7px;
	-webkit-border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
	border-radius: 7px 7px 7px 7px;
	color: #000;
	font-size: 15px;
	padding: 0px 12px;
}

.section-box .strong strong {
	font-size: 15px;
}

.section-box .img {
	overflow: hidden;
}

.section-box .img img {
	display: block;
}

/* @end *//* @group container */
.section-container {
	background: #fff;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	-moz-box-shadow: #888 0 0 5px;
	-webkit-box-shadow: #888 0 0 5px;
	box-shadow: #888 0 0 5px;
	padding: 18px;
	margin: 0 0 15px;
	overflow: auto;
	height: 1%;
}

#ie6 .section-container, #ie7 .section-container, #ie8 .section-container {
	border: 1px solid #ccc;
}

.section-container .caption {
	background: #f3f3f3;
	-moz-border-radius-topleft: 7px;
	-webkit-border-top-left-radius: 7px;
	border-top-left-radius: 7px;
	-moz-border-radius-topright: 7px;
	-webkit-border-top-right-radius: 7px;
	border-top-right-radius: 7px;
	margin: -18px -18px 0 -18px;
	overflow: hidden;
	position: relative;
}

#ie6 .section-container .caption {
	width: 695px; /*  total weirdness  */;
}

.section-container .caption dl {
	font-size: 15px;
	line-height: 24px;
	padding: 10px 18px;
}

.section-container .caption dt {
	color: #111;
	float: left;
	padding: 1px 18px 1px 0;
	text-align: right;
	width: 100px;
}

.section-container .caption dd {
	padding: 1px 0;
}

.section-container .caption h2 {
	font-size: 17px;
	line-height: 24px;
	margin: 0;
	padding: 9px 18px 8px;
}

.section-container .caption h3 {
	color: #000;
	line-height: 18px;
	margin: 0;
	padding: 12px 93px 12px 18px;
}

.section-container .caption p {
	padding: 8px 18px;
	line-height: 1.5;
	font-size: 15px;
}

.section-container .caption p small {
	color: #777;
	font-size: 13px;
}

.section-container .caption .details {
	color: #111;
	position: absolute;
	right: 22px;
	top: 13px;
}

.section-container .caption .details span {
	display: block;
	text-align: right;
}

/* @end *//* @group form */
.section-form {
	overflow: auto;
	padding: 12px 0 7px;
}

.section-form table {
	width: 100%;
}

.section-form th, .section-form td {
	padding: 0 0 15px;
	vertical-align: top;
}

.section-form th {
	text-align: right;
	width: 113px;
	padding-right: 5px;
}

.section-form .group td, .section-form .group th {
	border-top: 1px solid #ddd;
	padding-top: 11px;
}

#ie6 .section-form .group td, #ie6 .section-form .group th {
	padding-top: 15px;
}

.section-form input.submit {
	margin-top: 5px;
}

#ie6 .section-form input.submit {
	margin-top: 0;
}

.section-form textarea {
	margin-bottom: 1px;
	width: 400px;
	height: 70px;
}

.section-form label.text {
	position: relative;
	top: 5px;
}

#ie6 .section-form label.text, #ie7 .section-form label.text {
	position: relative;
	top: 6px;
}

.section-form input.checkbox {
	clear: both;
	float: left;
	margin: 4px 10px 0 2px;
}

#ie6 .section-form input.checkbox, #ie7 .section-form input.checkbox {
	margin: -2px 7px 0 0;
}

.section-form label.checkbox {
	float: left;
	display: inline;
	font-size: 13px;
	line-height: 18px;
	margin: 0 0 10px;
	width: 90%;
}

.section-form .tooltip {
	/*background:url('../../images/new/form-tooltip.png') 0 50% no-repeat #f4f7d1;  */
	color: #868868;
	padding: 8px 12px 8px 0;
	position: relative;
	left: 0;
	top: 2px;
}

#ie6 .section-form .tooltip, #ie7 .section-form .tooltip {
	top: 0;
}

.section-form .help {
	font-size: 15px;
	line-height: 21px;
	position: relative;
	top: 4px;
	left: 12px;
}

.section-form a.help {
	font-size: 13px;
}

.section-form .help small {
	color: #999;
	display: block;
	font-size: 11px;
	line-height: 15px;
	position: absolute;
	top: 0;
	left: 0;
	width: 270px;
}

#ie6 .section-form .help {
	top: 1px;
}

#ie7 .section-form .help {
	top: 3px;
}

#ie6 .section-form .help small {
	top: 1px;
}

.section-form .small {
	color: #999;
}

.account-helpcity {
	width: 350px;
}

#layout .account-helppassword {
	top: -8px;
}

#ie6 .account-helppassword {
	top: -2px;
}

#ie7 .account-helppassword {
	top: -3px;
}

.payment-title {
	font-weight: bold;
	float: left;
	width: 190px;
}

.payment-title label {
	color: #000;
}

.payment-help {
	/*  color:#999;*/
	position: relative;
	top: 2px;
}

#ie6 .payment-help {
	top: -1px;
}

#ie7 .payment-help {
	top: 0;
}

.section-form h3.label-like {
	margin-bottom: 4px;
	font-weight: normal;
	color: #111;
}

/* @end *//* @group messages */
.message {
	margin: 20px 0;
	padding: 15px 50px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}

.message.error {
	border: 1px solid #D3929C; /*background:#FFD1D8 url(../images/icon-alert.png) 20px 17px no-repeat;  */;
}

.message.success {
	/*background:#DDFFD7 url(../images/icon-success.png) 20px 17px no-repeat;  */
	border: 1px solid #72CB62;
}

/* @end *//* @group custom content *//* @group company */
.section-company {
	background: none repeat scroll 0 0 #FFFFCC;
	border-top: 1px solid #F60;
	clear: both;
	font-size: 15px;
	line-height: 24px;
	padding: 17px 0 20px;
}

/* @end *//* @group media */
.section-media {
	display: block;
	width: 100%;
	height: 100px;
	clear: both;
}

.section-media-inner {
	/*background:url('../../images/new/brick-logos.png') center 0 no-repeat #fff;  */
	width: 100%;
	height: 100px;
}

/* @end *//* @group you are late */
.section-late {
	background: #e00000;
	-moz-border-radius-topleft: 6px;
	-webkit-border-top-left-radius: 6px;
	border-top-left-radius: 6px;
	-moz-border-radius-topright: 6px;
	-webkit-border-top-right-radius: 6px;
	border-top-right-radius: 6px;
	color: #fff;
	font-weight: bold;
	font-size: 15px;
	margin: 0 auto 18px;
	padding: 8px 0;
	position: relative;
	top: 18px;
	width: 360px;
	text-align: center;
}

/* @end *//* @group newsletter */
.section-newsletter {
	background: #E5E5E5;
	border: 1px solid #ccc8ad;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	height: 1%;
	overflow: auto;
	padding: 10px 0 10px 10px;
}

.section-newsletter h2 {
	float: left;
	padding: 4px;
	width: 450px;
}

.section-newsletter h2.em {
	width: 360px;
}

.section-newsletter form {
	float: left;
	margin: 0 5px 0 0;
	position: relative;
	left: -5px;
	width: 370px;
	text-align: center;
}

.section-newsletter form input.text {
	width: 200px;
}

.section-form input.text.short {
	width: 70px;
}

.section-newsletter small {
	color: #111;
	float: left;
	font-size: 11px;
	line-height: 15px;
	width: 330px;
}

.section-newsletter small span {
	display: block;
	margin: 0 0 3px;
}

/* @end *//* @group mentions */
.section-mentions {
	overflow: auto;
	margin: 14px 0 9px 5px;
	width: 220px;
}

#ie6 .section-mentions, #ie7 .section-mentions {
	padding: 0 0 20px;
}

.section-mentions li {
	background: transparent;
	float: left;
	margin: 0 0 10px;
	padding: 0;
	width: 110px;
}

.section-mentions a {
	display: block;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	text-align: center;
}

.section-mentions a:hover {
	opacity: .5;
}

.section-mentions span {
	display: block;
	cursor: pointer; /*background-image:url('../../images/new/sprite-logos.png');  */
	position: absolute;
	left: 0;
	top: 0;
}

.row {
	padding: 20px 0;
	margin: 20px 0;
	background-color: #E6E6E6;
}

.row div.grid_4 {
	font-weight: bold;
	padding-left: 20px;
}

.logofooter {
	background-image: url('/pub/img/layout/logo-bottom.png');
	background-repeat: no-repeat;
	background-position: 10%;
	height: 150px;
}

.static-page {
	-moz-border-radius: 7px 7px 7px 7px;
	-moz-box-shadow: 0 0 5px #F60;
	background: none repeat scroll 0 0 #FFF;
	height: 1%;
	margin: 6px 0 14px;
	overflow: auto;
	padding: 10px;
	position: relative;
	z-index: 100;
	-webkit-border-radius: 7px;
	-webkit-box-shadow: 0 0 5px #F60;
	font-size: 14px;
	width: 620px;
	float: left;
	border-radius: 7px 7px 7px 7px;
	box-shadow: 0 0 5px #F60;
}

.static_page_contact_parent {
	float: right;
	width: 300px;
}

.static_page_contact {
	height: 1%;
	overflow: auto;
	padding: 0 10px;
	position: relative;
	z-index: 100;
	font-size: 14px;
	float: left;
}

.subpage-content {
	width: 620px;
	float: left;
}

.pay_td_desc {
	width: 90px;
	padding-left: 30px;
	text-align: right;
	color: #333;
	font-size: 15px;
}

.borderr{
	border-right: solid 0.1em #B9B9B9 !important;
}

.twitters{
	width: auto !important;
	//margin-top: 10px;
	float: left;
}

.ajaxdisc{

	position: relative;
margin-top: -267px;
font-size: 15px !important;
padding: 3px !important;

}



/* #FFFDD0 - krem - highlight #FFFEEB - predlog:FCFBE6*/
/* #F60 - portokalova #ED7714*/


/*****CSS za full round sorting menu****/
.sorting_menu {
	bottom: 0;
	left: 0;
	margin: 0;
	position: relative;
}

.sorting_menu li {
	background: none repeat scroll 0 0 transparent;
	margin: 0 2px 0 0;
	padding: 0;
	width: auto;
}

.sorting_menu li a:link, .sorting_menu li a:visited  {
	-webkit-border-radius: 8px 8px 8px 8px;
	border-radius: 7px 7px 7px 7px;

	background: none repeat scroll 0 0 #FFF;
	border-color: #4F4F4F #4F4F4F -moz-use-text-color;
	border-style: solid ;
	border-width: 1px;
	color: #111;
	display: block;

	font-size: 14px;
	line-height: 24px;
	padding: 4px 12px 3px;
	text-decoration: none;
	
	margin-bottom: 2px;
	
}

.sorting_menu li.active a:link, .sorting_menu li.active a:visited, .sorting_menu li.active a:hover {
	-webkit-border-radius: 8px 8px 8px 8px;
	border-radius: 7px 7px 7px 7px;

	background: none repeat scroll 0 0 #FFF;
	border-color: #4F4F4F #4F4F4F -moz-use-text-color;
	border-style: solid ;
	border-width: 1px;
	color: #111;
	display: block;

	font-size: 14px;
	line-height: 24px;
	padding: 4px 12px 3px;
	text-decoration: none;
	
	margin-bottom: 2px;
}

.sorting_menu li a:hover, .sorting_menu li a:active, .sorting_menu li a:focus {
	background: none repeat scroll 0 0 #E6E6E6;
}

.sorting_menu li.active a:link, .sorting_menu li.active a:visited {
	background: none repeat scroll 0 0 #ff6600;
}

.link-wrapper:link, .link-wrapper:visited, .link-wrapper:hover {
	cursor: pointer;
	text-decoration: none;
}

.offers_bottom {
	background-color: #E5E5E5;
	box-shadow: 0 0 5px #1D1612;
	min-height: 300px;
	clear: both;
}

.header-search { 
	/*padding:6px 15px 6px 30px;*/
	padding:6px 25px 6px 6px;
	margin:3px; 
	font-size: 13px;
}

.header-rounded { 
	border-radius: 15px; 
	-moz-border-radius: 15px; 
	-webkit-border-radius: 15px;  
}

.header-lighter input[type=text]{
	border:1px solid #d0d0d0;
	background-color:#fcfcfc;
}

.header-lighter input[type=submit], .header-lighter input[type=submit]:hover {
	position:absolute; 
	left: 147px;
	cursor: pointer;
	top: 10px;
	
    background: url('../../pub/img/layout/search.png');
    border: 0;
    display: block;
    height: 16px;
    width: 16px;
}

.highlight_text{
	background-color:#FF6300;
	font-style:italic;
}

.pagination
{
	text-align: center;
	font-size: 16px;
}

/****za wheel of fortune**/
.wheel-info 
{
	font-family: Arial, sans-serif;
    background: none repeat scroll 0 0 #161616;
    border-radius: 7px 7px 0 0;
    color: #fff;
    overflow: hidden;
    text-align: center;
}
.wheel-info li 
{
	font-family: Arial, sans-serif;
    border-left: 1px solid rgba(255, 255, 255, 0.15);
    float: left;
    height: 100%;
    min-width: 100px;
    padding: 10px;
    font-size: 14px;
    margin: 0px;
}
.wheel-info li:first-child {
    border-left: 0;
}

.wheel-info li strong {
    display: block;
    font-size: 18px;
}

.wheel-info ul {
    display: inline-flex;
}

.wheel-info-error 
{
	font-family: Arial, sans-serif;
    background: none repeat scroll 0 0 #FFF6D6;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    color: #6F6F6F;
    text-align: center;
    position: absolute;
    top: 180px;
    left: 130px;
    padding: 15px 0px;
    width: 360px;
}

/****za ticker**/
.tickercontainer .mask { /* that serves as a mask. so you get a sort of padding both left and right */
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
	height: 45px;
	
	/*width: 718px;*/
	overflow: hidden;
}

ul.newsticker { /* that's your list */
	/*Transitions have been added in order set css3 transitions; and have linear easing. Changing these lines you might have unexpected results */
	-webkit-transition: all 0s linear;
	-moz-transition: all 0s linear;
	-o-transition: all 0s linear;
	transition: all 0s linear;
	position: relative;
	margin-left: 20px;
	
	list-style-type: none;
	margin: 0;

}

ul.newsticker li {
	float: left; /* important: display inline gives incorrect results when you check for elem's width */
	margin: 0;
	font-size: 16px;
	line-height: 45px;
	/*background: #fff;*/
}



.paging_button
{

	background: url('../../pub/img/layout/form-button.png') 0 0 repeat-x #080;
	background: -moz-linear-gradient(top, #48b548 0, #72c670 2%, #080 99%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #48b548), color-stop(2%, #72c670), color-stop(99%, #008800));
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	text-shadow: #444 1px 1px 2px;
	-moz-box-shadow: #ccc 0 1px 2px;
	-webkit-box-shadow: #ccc 0 1px 2px;
	box-shadow: #ccc 0 1px 2px;
	width: 140px;
	height: 46px;
	font-size: 18px;
	text-align: center;
	border-radius: 6px;
	color: #fff;
	font-weight: bold;
	font-style: normal;
	text-shadow: #444 1px 1px 2px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 22px;
	cursor: pointer;
	display: block;
	margin: auto;
	width: 300px;
}